USE [AHPF_HN]
GO
/****** Object:  UserDefinedFunction [ASHPF].[GET_TOTALFACTURA_]    Script Date: 11/9/2022 3:54:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
ALTER FUNCTION [ASHPF].[GET_TOTALFACTURA_] 
(
	-- Add the parameters for the function here
	@FACTURA	VARCHAR(50)	
)
RETURNS DECIMAL(28,8)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @TOTAL_FACTURA DECIMAL(28,8)
	
	-- Add the T-SQL statements to compute the return value here
						SELECT 
						@TOTAL_FACTURA=(ROUND(ISNULL(SUM(F.TOTAL_FACTURA),0),2))
						FROM   AHPF_HN.ASHPF.FACTURA F WITH(NOLOCK)
						WHERE  F.FACTURA =@FACTURA
	RETURN @TOTAL_FACTURA
END
