USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_AUDIT_TRANS_INV_DETAILS_H1_FR]    Script Date: 11/9/2022 3:30:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [ASHPF].[sP_AUDIT_TRANS_INV_DETAILS_H1_FR] 
	-- Add the parameters for the stored procedure here
	@MAX_AUDITORIA		AS INT,
	@Id_FC				AS INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

		   DECLARE @AUDIT_TRANS_INV		INT
           DECLARE @CONSECUTIVO			INT
           DECLARE @FECHA_HORA_TRANSAC  DATETIME
		   DECLARE @FECHA				DATETIME
           DECLARE @NIT					VARCHAR(20)
           DECLARE @AJUSTE_CONFIG		VARCHAR(4)
           DECLARE @ARTICULO			VARCHAR(20)
           DECLARE @BODEGA				VARCHAR(4)
           DECLARE @LOCALIZACION		VARCHAR(8)
           DECLARE @LOTE				VARCHAR(15)
           DECLARE @TIPO				VARCHAR(1)
           DECLARE @SUBTIPO				VARCHAR(1)
           DECLARE @SUBSUBTIPO			VARCHAR(1)
           DECLARE @NATURALEZA			VARCHAR(1)
           DECLARE @CANTIDAD			DECIMAL(28,8)
           DECLARE @COSTO_TOT_FISC_LOC  DECIMAL(28,8)
           DECLARE @COSTO_TOT_FISC_DOL  DECIMAL(28,8)
           DECLARE @COSTO_TOT_COMP_LOC  DECIMAL(28,8)
           DECLARE @COSTO_TOT_COMP_DOL  DECIMAL(28,8)
           DECLARE @PRECIO_TOTAL_LOCAL  DECIMAL(28,8)
           DECLARE @PRECIO_TOTAL_DOLAR  DECIMAL(28,8)
           DECLARE @CONTABILIZADA	    VARCHAR(1)
           DECLARE @CENTRO_COSTO		VARCHAR(25)
           DECLARE @CUENTA_CONTABLE		VARCHAR(25)
           DECLARE @NOTEEXISTSFLAG		TINYINT
           DECLARE @RECORDDATE			DATETIME
           DECLARE @ROWPOINTER			UNIQUEIDENTIFIER
           DECLARE @CREATEDBY			VARCHAR(30)
           DECLARE @UPDATEDBY			VARCHAR(30)
		   DECLARE @CREATEDATE			DATETIME
		   DECLARE @COUNT_LINEA			INT
		   DECLARE @EXCHANGE_RATE		DECIMAL(28,8)
		   




	SET NOCOUNT ON;

    -- Insert statements for procedure here

	BEGIN TRY
		BEGIN TRANSACTION;		 
						
				SET @EXCHANGE_RATE  =([AHPF_HN].[ASHPF].[ObtenerTipoCambio] ('DLR',GETDATE()))

			DECLARE SELECT_AD CURSOR LOCAL
			FOR

									SELECT 
									@MAX_AUDITORIA,0 AS CONSECUTIVO,FL.Fecha_Registro AS FECHA_HORA_TRANSAC,'ND' AS NIT,'~VV~' AS AJUSTE_CONFIG,FL.Id_AR AS ARTICULO,FL.Id_AL,
									EL.LOTE,FL.UDF_Id_UB,'V' AS TIPO,'D' AS SUBTIPO,'L' AS SUBSUBTIPO,'S' AS NATURALEZA,FL.Cantidad AS CANTIDAD,
									ISNULL((EB.COSTO_UNT_PROMEDIO_LOC * FL.Cantidad),0.00000000) AS COSTO_TOT_FISC_LOC, 
									ISNULL(((EB.COSTO_UNT_PROMEDIO_LOC * FL.Cantidad)/@EXCHANGE_RATE ),0.00000000) AS COSTO_TOT_FISC_DOL,
									ISNULL((EB.COSTO_UNT_PROMEDIO_LOC * FL.Cantidad),0.00000000) AS COSTO_TOT_COMP_LOC,ISNULL(((EB.COSTO_UNT_PROMEDIO_LOC * FL.Cantidad)/@EXCHANGE_RATE ),0.00000000) AS COSTO_TOT_COMP_DOL,
									(FL.PrecioUnitario * FL.Cantidad) AS PRECIO_TOTAL_LOCAL,
									((FL.PrecioUnitario * FL.Cantidad)/@EXCHANGE_RATE ) AS PRECIO_TOTAL_DOLAR,'S' AS CONTABILIZA,
									FL.Fecha_Registro AS FECHA,
									[AHPF_HN].[ASHPF].[GET_CENTRO_COSTO] (FL.Id_AR,F.Id_PT)					AS	CENTRO_COSTO,
									[AHPF_HN].[ASHPF].[GET_CUENTA_CONTABLE](FL.Id_AR,F.Id_PT)				AS	CUENTA_CONTABLE,
									0 AS NoteExistsFlag,NEWID() AS RowPointer,FL.Usuario_Registro,F.Usuario_Modificacion AS UpdatedBy,FL.Fecha_Registro AS CreateDate

									FROM H1_AHPF_HN.dbo.FCDT AS FL  WITH(NOLOCK)
									INNER JOIN H1_AHPF_HN.dbo.FC AS F ON F.Id_FC = FL.Id_FC
									LEFT JOIN AHPF_HN.ASHPF.EXISTENCIA_BODEGA AS EB ON EB.ARTICULO = FL.Id_AR COLLATE SQL_Latin1_General_CP850_CI_AS AND EB.BODEGA = FL.Id_AL COLLATE SQL_Latin1_General_CP850_CI_AS
									LEFT JOIN AHPF_HN.ASHPF.EXISTENCIA_LOTE AS EL ON EL.ARTICULO = FL.Id_AR COLLATE SQL_Latin1_General_CP850_CI_AS
									AND EL.BODEGA = FL.Id_AL COLLATE SQL_Latin1_General_CP850_CI_AS
									AND EL.LOTE = FL.LOTE COLLATE SQL_Latin1_General_CP850_CI_AS
									AND EL.LOCALIZACION  != 'ND'


								
									WHERE FL.Id_FC=@Id_FC

			OPEN SELECT_AD

			FETCH SELECT_AD INTO	@AUDIT_TRANS_INV, @COUNT_LINEA, @FECHA_HORA_TRANSAC, @NIT,@AJUSTE_CONFIG,@ARTICULO, @BODEGA,
									@LOTE,@LOCALIZACION, @TIPO, @SUBTIPO, @SUBSUBTIPO,@NATURALEZA, @CANTIDAD,@COSTO_TOT_FISC_LOC, @COSTO_TOT_FISC_DOL, 
									@COSTO_TOT_COMP_LOC, @COSTO_TOT_COMP_DOL,
									@PRECIO_TOTAL_LOCAL, @PRECIO_TOTAL_DOLAR, 
									@CONTABILIZADA,@FECHA,@CENTRO_COSTO,@CUENTA_CONTABLE,@NOTEEXISTSFLAG,@ROWPOINTER,@CREATEDBY,@UPDATEDBY, @RECORDDATE			

				WHILE (@@FETCH_STATUS = 0)
				BEGIN;

					SELECT @COUNT_LINEA = ISNULL(MAX(ISNULL(CONSECUTIVO ,0)) ,0)+1 
					FROM   AHPF_HN.ASHPF.TRANSACCION_INV
					WHERE  AUDIT_TRANS_INV = @MAX_AUDITORIA

					INSERT INTO AHPF_HN.ASHPF.TRANSACCION_INV
									(AUDIT_TRANS_INV,CONSECUTIVO,FECHA_HORA_TRANSAC,NIT,AJUSTE_CONFIG,ARTICULO,BODEGA
									,LOTE,LOCALIZACION,TIPO,SUBTIPO,SUBSUBTIPO,NATURALEZA,CANTIDAD,COSTO_TOT_FISC_LOC,COSTO_TOT_FISC_DOL
									,COSTO_TOT_COMP_LOC,COSTO_TOT_COMP_DOL,PRECIO_TOTAL_LOCAL,PRECIO_TOTAL_DOLAR
									,CONTABILIZADA,FECHA,CENTRO_COSTO,CUENTA_CONTABLE,NoteExistsFlag,RecordDate,RowPointer,CreatedBy,UpdatedBy,CreateDate)

					VALUES(@MAX_AUDITORIA,@COUNT_LINEA,@FECHA_HORA_TRANSAC,@NIT,@AJUSTE_CONFIG,@ARTICULO,@BODEGA
									,@LOTE,@LOCALIZACION,@TIPO,@SUBTIPO,@SUBSUBTIPO,@NATURALEZA,@CANTIDAD,@COSTO_TOT_FISC_LOC,@COSTO_TOT_FISC_DOL
									,@COSTO_TOT_COMP_LOC,@COSTO_TOT_COMP_DOL,@PRECIO_TOTAL_LOCAL,@PRECIO_TOTAL_DOLAR
									,@CONTABILIZADA,@FECHA,@CENTRO_COSTO,@CUENTA_CONTABLE,@NoteExistsFlag,@RecordDate,@RowPointer,@CreatedBy,@UpdatedBy,@CreateDate)

							

					FETCH SELECT_AD INTO @AUDIT_TRANS_INV, @COUNT_LINEA, @FECHA_HORA_TRANSAC, @NIT,@AJUSTE_CONFIG,@ARTICULO, @BODEGA,
									@LOTE,@LOCALIZACION, @TIPO, @SUBTIPO, @SUBSUBTIPO,@NATURALEZA, @CANTIDAD,@COSTO_TOT_FISC_LOC, @COSTO_TOT_FISC_DOL, 
									@COSTO_TOT_COMP_LOC, @COSTO_TOT_COMP_DOL,
									@PRECIO_TOTAL_LOCAL, @PRECIO_TOTAL_DOLAR, 
									@CONTABILIZADA,@FECHA,@CENTRO_COSTO,@CUENTA_CONTABLE,@NOTEEXISTSFLAG,@ROWPOINTER,@CREATEDBY,@UPDATEDBY, @RECORDDATE		;
				END;
				CLOSE SELECT_AD
				DEALLOCATE SELECT_AD	

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END
			EXECUTE AHPF_HN.ASHPF.Sp_LogError;
	END CATCH;
END

