USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_AUXILIAR_CC_FA_H1]    Script Date: 11/9/2022 3:31:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [ASHPF].[sP_AUXILIAR_CC_FA_H1]
	-- Add the parameters for the stored procedure here
	@DOCUMENTO			AS NVARCHAR(50),
	@FACTURA			AS NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	/*VARIABLES PARA CONSTRUIR REGISTRO EN AUXILIAR*/

	DECLARE @TIPO_CREDITO		AS VARCHAR(3)
	DECLARE @TIPO_DEBITO		AS VARCHAR(3)
	DECLARE @FECHA				AS DATETIME
	DECLARE @CREDITO			AS VARCHAR(50)
	DECLARE @MONTO_LOCAL		AS DECIMAL(28,8)
	DECLARE @MONTO_CLI_CREDITO	AS DECIMAL(28,8)
	DECLARE @MONTO_CLI_DEBITO	AS DECIMAL(28,8)
	DECLARE @ASIENTO			AS VARCHAR(10)
	DECLARE @MONTO_CREDITO		AS DECIMAL(28,8)
	DECLARE @MONEDA_DEBITO		AS VARCHAR(4)
	DECLARE @CLI_REPORTE_DEBITO	AS VARCHAR(20)
	DECLARE @CLI_DOC_CREDIT		AS VARCHAR(20)
	DECLARE @CLI_DOC_DEBITO		AS VARCHAR(20)
	DECLARE @NoteExistsFlag		AS TINYINT
	DECLARE @RecordDate			AS DATETIME
	DECLARE @RowPointer			AS UNIQUEIDENTIFIER
	DECLARE @UpdatedBy			AS VARCHAR(30)
	DECLARE @CreateDate			AS DATETIME
	DECLARE @DEBITO				AS VARCHAR(50)
	DECLARE @MONTO_DEBITO		AS DECIMAL(28,8)
	DECLARE @MONTO_DOLAR		AS DECIMAL(28,8)
	DECLARE @MONEDA_CREDITO		AS VARCHAR(4)
	DECLARE @CLI_REPORTE_CREDIT	AS VARCHAR(20)
	DECLARE @TIPO_CAMBIO		AS DECIMAL(28,8)
    DECLARE @Mensaje            AS VARCHAR(250)

	BEGIN TRY 
		BEGIN TRANSACTION 


		/*OBTENER REGISTROS PARA CONSTRUIR REGISTRO EN AUXILIAR*/


				SELECT 
				@TIPO_CAMBIO=([AHPF_HN].[ASHPF].[ObtenerTipoCambio] ('DLR',C0.FECHA))	
				,@TIPO_CREDITO='REC'								
				,@TIPO_DEBITO='FAC'								
				,@FECHA=GETDATE()							
				,@CREDITO=@DOCUMENTO					
				,@DEBITO=@FACTURA				
				,@MONTO_DEBITO=C0.MONTO							
				,@MONTO_CREDITO=C0.MONTO							
				,@MONTO_LOCAL=C0.MONTO							
				,@MONTO_CLI_CREDITO=C0.MONTO							
				,@MONTO_CLI_DEBITO=C0.MONTO							
				,@MONEDA_DEBITO='LPS'								
				,@MONEDA_CREDITO='LPS'								
				,@CLI_REPORTE_DEBITO=C0.CLIENTE							
				,@CLI_REPORTE_CREDIT=C0.CLIENTE							
				,@CLI_DOC_CREDIT=C0.CLIENTE							
				,@CLI_DOC_DEBITO=C0.CLIENTE							
				,@NoteExistsFlag=0									
				,@RecordDate=GETDATE()							
				,@RowPointer=NEWID()							
				,@UpdatedBy=C0.UpdatedBy						
				,@CreateDate=GETDATE()							
				,@MONTO_DOLAR=0.00000000							
							
				FROM AHPF_HN.ASHPF.DOCUMENTOS_CC AS C0  WITH(NOLOCK)

				WHERE C0.DOCUMENTO=@DOCUMENTO	

				/*INSERTA REGISTRO EN AUXILIAR*/

					INSERT INTO AHPF_HN.ASHPF.AUXILIAR_CC
					(TIPO_CREDITO,TIPO_DEBITO,FECHA,CREDITO,DEBITO,MONTO_DEBITO,MONTO_CREDITO,MONTO_LOCAL,MONTO_DOLAR,
					MONTO_CLI_CREDITO,MONTO_CLI_DEBITO,MONEDA_CREDITO,MONEDA_DEBITO,CLI_REPORTE_CREDIT,CLI_REPORTE_DEBITO,
					CLI_DOC_CREDIT,CLI_DOC_DEBITO,NoteExistsFlag,RecordDate,RowPointer,UpdatedBy,CreateDate)

					VALUES 
					(@TIPO_CREDITO,@TIPO_DEBITO,@FECHA,@CREDITO,@DEBITO,@MONTO_DEBITO,@MONTO_CREDITO,@MONTO_LOCAL,@MONTO_DOLAR,
					@MONTO_CLI_CREDITO,@MONTO_CLI_DEBITO,@MONEDA_CREDITO,@MONEDA_DEBITO,@CLI_REPORTE_CREDIT,@CLI_REPORTE_DEBITO,
					@CLI_DOC_CREDIT,@CLI_DOC_DEBITO,@NoteExistsFlag,@RecordDate,@RowPointer,@UpdatedBy,@CreateDate)

				/*----------------------------*/

		COMMIT TRANSACTION
	END TRY
		BEGIN CATCH
		IF @@TRANCOUNT > 0
		BEGIN
			PRINT XACT_STATE();
			ROLLBACK TRANSACTION;
		END
			PRINT ERROR_MESSAGE();
			THROW 50001, 'Ha ocurrido un error, la transacción ha sido cancelada.',0;
			EXECUTE AHPF_HN.ASHPF.Sp_LogError;
	END CATCH;

END
