USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_APERTURA_CAJA_DETALLE_H1_]    Script Date: 11/9/2022 3:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [ASHPF].[sP_APERTURA_CAJA_DETALLE_H1_]
	-- Add the parameters for the stored procedure here
	@CAJA					VARCHAR(20),
	@USUARIO				VARCHAR(20),
	@NUM_APERTURA			INT,
	@MENSAJE				INT OUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
						
			DECLARE @TOT_EFECT_LOC			DECIMAL(28,8)
			DECLARE @TOT_EFECT_DOL			DECIMAL(28,8)
			DECLARE @TOT_TARJETA_LOC		DECIMAL(28,8)
			DECLARE @TOT_TARJETA_DOL		DECIMAL(28,8)
			DECLARE @TOT_CHQ_LOC			DECIMAL(28,8)
			DECLARE @TOT_CHQ_CAJA_LOC		DECIMAL(28,8)
			DECLARE @CANT_CHQ_LOC			INT
			DECLARE @TOT_CHQ_DOL			DECIMAL(28,8)
			DECLARE @TOT_CHQ_CAJA_DOL		DECIMAL(28,8)
			DECLARE @CANT_CHQ_DOL			INT
			DECLARE @TOT_CRED_LOC			DECIMAL(28,8)
			DECLARE @TOT_CRED_DOL			DECIMAL(28,8)
			DECLARE @TOT_ABONO_LOC			DECIMAL(28,8)
			DECLARE @TOT_ABONO_DOL			DECIMAL(28,8)
			DECLARE @TOT_DEP_LOC			DECIMAL(28,8)
			DECLARE @TOT_DEP_DOL			DECIMAL(28,8)
			DECLARE @TOT_NC_LOC				DECIMAL(28,8)
			DECLARE @TOT_NC_DOL				DECIMAL(28,8)
			DECLARE @TOTAL_VENTAS			DECIMAL(28,8)
			DECLARE @CANT_CLIENTES			INT
			DECLARE @TIPO_CAMBIO			DECIMAL(28,8)
			DECLARE @FACTURA				VARCHAR(50)

    -- Insert statements for procedure here
	BEGIN TRY
		BEGIN TRANSACTION
			
			--- FETCH
				SET @MENSAJE=0

				SET @TOT_EFECT_DOL		= 0.00000000
				SET @TOT_TARJETA_DOL	= 0.00000000
				SET @TOT_CHQ_CAJA_LOC	= 0.00000000
				SET @TOT_CHQ_CAJA_LOC	= 0.00000000
				SET @CANT_CHQ_LOC		= 0.00000000
				SET @TOT_CHQ_DOL		= 0.00000000
				SET @TOT_CHQ_CAJA_DOL	= 0.00000000
				SET @CANT_CHQ_DOL		= 0.00000000
				SET @TOT_CRED_DOL		= 0.00000000
				SET @TOT_ABONO_DOL		= 0.00000000
				SET @TOT_DEP_DOL		= 0.00000000
				SET @TOT_NC_DOL			= 0.00000000
				SET @TOT_NC_LOC			= 0.00000000

				SET @TOT_EFECT_LOC		= (SELECT SUM(Pago) 
				FROM H1_AHPF_HN.dbo.FC AS FC WITH(NOLOCK)
				INNER JOIN H1_AHPF_HN.dbo.FCPG AS F ON F.Id_FC = FC.Id_FC
				WHERE FC.UDF_NUM_APERTURA=@NUM_APERTURA AND FC.Caja=@CAJA AND F.TipoPago='E')

				SET @TOT_TARJETA_LOC	= (SELECT SUM(Pago) 
				FROM H1_AHPF_HN.dbo.FC AS FC WITH(NOLOCK)
				INNER JOIN H1_AHPF_HN.dbo.FCPG AS F ON F.Id_FC = FC.Id_FC
				WHERE FC.UDF_NUM_APERTURA=@NUM_APERTURA AND FC.Caja=@CAJA AND F.TipoPago='T')

				SET @TOT_CRED_LOC		= (SELECT SUM(Pago) 
				FROM H1_AHPF_HN.dbo.FC AS FC WITH(NOLOCK)
				INNER JOIN H1_AHPF_HN.dbo.FCPG AS F ON F.Id_FC = FC.Id_FC
				WHERE FC.UDF_NUM_APERTURA=@NUM_APERTURA AND FC.Caja=@CAJA AND F.TipoPago='CC')

				SET @TOTAL_VENTAS		= (@TOT_EFECT_LOC + @TOT_TARJETA_LOC + @TOT_CRED_LOC)

				SET @TOT_DEP_LOC		= @TOT_EFECT_LOC

				SET @TOT_ABONO_LOC		= @TOT_CRED_LOC
			
				SET @CANT_CLIENTES		=(SELECT COUNT( F.CLIENTE) FROM AHPF_HN.ASHPF.FACTURA AS F 	WHERE F.FACTURA IN ( SELECT DISTINCT FC.FACTURA FROM AHPF_HN.ASHPF.FACTURA_CANCELA AS FC WHERE   FC.CAJA=@CAJA AND FC.NUM_APERTURA=@NUM_APERTURA AND FC.USUARIO=@USUARIO))
				
				---INSERT RECORD INTO APERTURA_CAJA_DETALLE ERP FROM H1 
				

				INSERT INTO AHPF_HN.ASHPF.APERTURA_CAJA_DETALLE
					(CAJA,USUARIO,NUM_APERTURA,TOT_EFECT_LOC,TOT_EFECT_DOL,TOT_TARJETA_LOC,
					TOT_TARJETA_DOL,TOT_CHQ_LOC,TOT_CHQ_CAJA_LOC,CANT_CHQ_LOC,TOT_CHQ_DOL,TOT_CHQ_CAJA_DOL,
					CANT_CHQ_DOL,TOT_CRED_LOC,TOT_CRED_DOL,TOT_ABONO_LOC,TOT_ABONO_DOL,TOT_DEP_LOC,
					TOT_DEP_DOL,TOT_NC_LOC,TOT_NC_DOL,TOTAL_VENTAS,CANT_CLIENTES)
				VALUES
					(@CAJA,@USUARIO,@NUM_APERTURA,@TOT_EFECT_LOC,@TOT_EFECT_DOL,@TOT_TARJETA_LOC,
					@TOT_TARJETA_DOL,@TOT_CHQ_LOC,@TOT_CHQ_CAJA_LOC,@CANT_CHQ_LOC,@TOT_CHQ_DOL,@TOT_CHQ_CAJA_DOL,
					@CANT_CHQ_DOL,@TOT_CRED_LOC,@TOT_CRED_DOL,@TOT_ABONO_LOC,@TOT_ABONO_DOL,@TOT_DEP_LOC,
					@TOT_DEP_DOL,@TOT_NC_LOC,@TOT_NC_DOL,@TOTAL_VENTAS,@CANT_CLIENTES)

				UPDATE AHPF_HN.ASHPF.CAJA 	SET ESTADO = 'C'  WHERE CAJA=@CAJA

				UPDATE AHPF_HN.ASHPF.APERTURA_CAJA SET ESTADO='C', FCH_HORA_CIERRE=GETDATE()
				WHERE CAJA=@CAJA AND NUM_APERTURA=@NUM_APERTURA

				SET @MENSAJE=2


		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION
		END

		EXECUTE ASHPF.Sp_LogError;	
		SET @MENSAJE=1
	END CATCH

END


