USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_CARGA_CONTABLE_FACTURA_H1]    Script Date: 11/9/2022 3:31:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [ASHPF].[sP_CARGA_CONTABLE_FACTURA_H1]
	@FACTURA		AS VARCHAR(50),
	@USUARIO		AS VARCHAR(50),
	@PAQUETE		AS VARCHAR(50),
	@TIPO_ASIENTO	AS VARCHAR(50),
	@ASIENTO		AS VARCHAR(50) OUTPUT,
	@Id_UH			AS VARCHAR(20),
	@R_EXITOSO		AS CHAR(1) OUTPUT,
	@ERROR			AS NVARCHAR(MAX) OUTPUT
AS
BEGIN TRY
	BEGIN TRANSACTION

		--- ROWPOINTER PARA ASIENTO EN DIARIO

		DECLARE @ROWPOINTER AS NVARCHAR(MAX)
		DECLARE @C_EXITOSA  AS CHAR(1)

		--- VARIABLES PARA DEL MONTO TOTAL DE LA FACTURA, SE REGISTRARA EN CXC

		DECLARE @MONTO_TOTAL_FACTURA	AS	DECIMAL(28,8)
		DECLARE @IMPUESTO1				AS	DECIMAL(28,8)
		DECLARE @IMPUESTO2				AS	DECIMAL(28,8)
		DECLARE @AUDIT_TRANS_INV		AS	INT

		--- VARIABLES CUENTA CONTABLE CUENTAS DE INVENTARIO Y TIPO DE ARTICULO, VALORES 'T' Y 'V'

		DECLARE @ARTICULO_CUENTA		AS	VARCHAR(4)
		DECLARE @ARTICULO_TIPO			AS	VARCHAR(1)

		
		--- VARIABLES PARA CUENTAS CONTABLE DE LA CONTABILIDAD, DE LA TABLA PAIS, UT_CCA

		DECLARE @CTA_VENTAS				AS	VARCHAR(25)
		DECLARE @CTA_INVENTARIO			AS	VARCHAR(25)
		DECLARE @CTA_COSTO_VENTA		AS	VARCHAR(25)
		DECLARE @CTA_DESC_TOT_LINEA		AS	VARCHAR(25)
		DECLARE @CTA_DESC_GENERAL		AS	VARCHAR(25)
		DECLARE @CTA_CONSUMO			AS	VARCHAR(25)

		DECLARE @CTA_IMPUESTO1			AS	VARCHAR(25)
		DECLARE @CTA_IMPUESTO2			AS	VARCHAR(25)
		DECLARE @CTA_CONTADO			AS	VARCHAR(25)
		DECLARE @CTA_CXC				AS	VARCHAR(25)

		--- VARIABLES PARA CENTROS DE COSTOS DE LA CONTABILIDAD, DE LA TABLA UT_CC 

		DECLARE @C_COSTO_VENTAS			AS	VARCHAR(25)
		DECLARE @C_COSTO_INVENTARIO		AS	VARCHAR(25)
		DECLARE @C_COSTO_VENTA			AS	VARCHAR(25)
		DECLARE @C_COSTO_DESC_TOT_LINEA	AS	VARCHAR(25)
		DECLARE @C_COSTO_DESC_GENERAL	AS	VARCHAR(25)
		DECLARE @C_COSTO_CONTADO_CXC	AS	VARCHAR(25)
		DECLARE @C_COSTO_CONSUMO		AS	VARCHAR(25)
		DECLARE @C_COSTO_IMPUESTO1		AS	VARCHAR(25)
		DECLARE @C_COSTO_IMPUESTO2		AS	VARCHAR(25)

		DECLARE @ASIENTO_CONTADO_CXC	AS	CHAR(1)


		--- VARIABLES PARA OBTENER LA CONFIGURACION CONTABLE

		DECLARE @PAIS_CLIENTE			AS	VARCHAR(50)
		DECLARE @CLIENTE_FACTURA		AS	VARCHAR(50)
		DECLARE @PAIS_LOCAL				AS	VARCHAR(10)
		DECLARE @CATEGORIA_CLIENTE		AS	VARCHAR(50)

		--- VARIABLES TEMPORALES DE LAS LINEAS DE FACTURA

		DECLARE @TEMP_ARTICULO			AS	VARCHAR(20)
		DECLARE @TEMP_CANTIDAD			AS	DECIMAL(28,8)
		DECLARE @TEMP_PRECIO_UNITARIO	AS	DECIMAL(28,8)
		DECLARE @TEMP_IMPUESTO1			AS	DECIMAL(28,8)
		DECLARE @TEMP_IMPUESTO2			AS	DECIMAL(28,8)
		DECLARE @TEMP_DESC_TOT_LINEA	AS	DECIMAL(28,8)
		DECLARE @TEMP_DESC_TOT_GENERAL	AS	DECIMAL(28,8)
		DECLARE @TEMP_COSTO_TOTAL		AS	DECIMAL(28,8)
		DECLARE @TEMP_PRECIO_TOTAL		AS	DECIMAL(28,8)
		DECLARE @TEMP_TIPO_LINEA		AS	VARCHAR(1)
		DECLARE @TEMP_MULTIPLICADOREV	AS	SMALLINT
		DECLARE @TEMP_COSTO_TOTAL_LOCAL	AS	DECIMAL(28,8)
		DECLARE @TEMP_COSTO_TOTAL_DOLAR	AS	DECIMAL(28,8)
		DECLARE @TEMP_MONTO_RETENCION	AS	DECIMAL(28,8)
		DECLARE @TEMP_VENTA_TOTAL_LINEA	AS	DECIMAL(28,8)

		
		--- VARIABLE TEMPORALES  FORMAS DE PAGO EN FACTURA CANCELA
		
		DECLARE @TEMP_FACTURA_CANCELA		AS	VARCHAR(50)
		DECLARE @TEMP_NUMERO_PAGO_FC		AS	INT
		DECLARE @TEMP_TIPO_FC				AS	VARCHAR(1)
		DECLARE @TEMP_MONTO_FC				AS	DECIMAL(28,8)


		--- VARIABLES TEMPORALES LINEAS  DE INVENTARIO
	
		DECLARE @TEMP_ARTICULO_INV					AS VARCHAR(20)
		DECLARE @TEMP_CANTIDAD_INV					AS DECIMAL(28, 8)
		DECLARE @TEMP_TIPO_INV						AS VARCHAR(1)
		DECLARE @TEMP_SUBTIPO_INV					AS VARCHAR(1)
		DECLARE @TEMP_SUBSUB_TIPO_INV				AS VARCHAR(1)
		DECLARE @TEMP_COSTO_TOTAL_FISCAL_LOCAL_INV	AS DECIMAL(28, 8)
		DECLARE @TEMP_COSTO_TOTAL_FISCAL_DOLAR_INV	AS DECIMAL(28, 8)
		DECLARE @TEMP_CENTRO_COSTO_INV				AS VARCHAR(25)

		

		--- VARIABLES PARA DEBITOS Y CREDITOS

		DECLARE @SUM_DEBITOS		AS	DECIMAL(28,8)
		DECLARE @SUM_CREDITOS		AS	DECIMAL(28,8)

		--- VARIABLES PARA ITERACION DE LINEAS DE FACTURA

		DECLARE @I					AS	INT
		SET @I = 1
		DECLARE @COUNT_LINEA		AS	INT

		DECLARE @LINEA_AUXILIAR		AS	INT
		SET @LINEA_AUXILIAR = 1

		--- VARIABLES PARA ITERACION DE LINEAS DE FACTURA CANCELA

		DECLARE @E					AS	INT
		SET @E = 1
		DECLARE	@NUMERO_PAGO		AS	INT

		--- VARIABLES PARA OBTENER CONDICION DE PAGO EN FACTURA

		DECLARE @CONDICION_CONTADO		AS	VARCHAR(50)
		DECLARE @CONDICION_PAGO_FACTURA	AS	VARCHAR(50)
		DECLARE @USAR_CUENTA_CONTADO	AS	CHAR(1)

		--- TABLA TEMPORAL CON LAS LINEAS DE FACTURA

		DECLARE @LINEAS_FACTURA	AS TABLE(

			ID	INT	IDENTITY(1,1) PRIMARY KEY,
			ARTICULO			VARCHAR(20),
			CANTIDAD			DECIMAL(28,8),
			PRECIO_UNITARIO		DECIMAL(28,8),
			TOTAL_IMPUESTO1		DECIMAL(28,8),
			TOTAL_IMPUESTO2		DECIMAL(28,8),
			DESC_TOT_LINEA		DECIMAL(28,8),
			DESC_TOT_GENERAL	DECIMAL(28,8),
			COSTO_TOTAL			DECIMAL(28,8),
			PRECIO_TOTAL		DECIMAL(28,8),
			TIPO_LINEA			VARCHAR(1),
			MULTIPLICADOREV		SMALLINT,
			COSTO_TOTAL_LOCAL	DECIMAL(28,8),
			COSTO_TOTAL_DOLAR	DECIMAL(28,8),
			MONTO_RETENCION		DECIMAL(28,8),
			ARTICULO_CUENTA		VARCHAR(4),
			TIPO				VARCHAR(1)
		)

		--- TABLA TEMPORAL CON LAS FORMAS DE PAGO DE FACTURA CANCELA 

			DECLARE @FACTURA_CANCELA AS TABLE(

			ID INT IDENTITY(1,1) PRIMARY KEY,
			FACTURA				VARCHAR(50),
			NUMERO_PAGO			INT,
			TIPO				VARCHAR(1),
			MONTO				DECIMAL(28,8)
		)

		--- TABLA TEMPORAL  CON LAS LINEAS DE INVENTARIO

			DECLARE @LINEAS_INVENTARIO AS TABLE (
	            ID INT IDENTITY(1, 1) PRIMARY KEY,
	            ARTICULO			VARCHAR(20),
	            CANTIDAD			DECIMAL(28,8),
	            TIPO				VARCHAR(1),
	            SUBTIPO				VARCHAR(1),
	            SUBSUBTIPO			VARCHAR(1),
	            COSTO_TOT_FISC_LOC	DECIMAL(28,8),
	            COSTO_TOT_FISC_DOL	DECIMAL(28,8),
	            CENTRO_COSTO		VARCHAR(25),
	            ARTICULO_CUENTA		VARCHAR(25)
	        )


		--- OBTENER PAIS LOCAL

		SELECT @PAIS_LOCAL = GA.PAIS_LOCAL	FROM	ASHPF.GLOBALES_AS AS GA  WITH(NOLOCK)

		--- OBTENER MONTO TOTAL DE LA FACTURA

		SELECT	
			@MONTO_TOTAL_FACTURA =  ROUND(TOTAL_FACTURA,2),
			@IMPUESTO1			 =	ROUND(F.TOTAL_IMPUESTO1,2),
			@IMPUESTO2			 =	ROUND(F.TOTAL_IMPUESTO2,2),	
			@AUDIT_TRANS_INV	=	F.AUDIT_TRANS_INV
		FROM ASHPF.FACTURA AS F  WITH(NOLOCK)
		WHERE F.FACTURA	= @FACTURA

		--- OBTENER CUENTAS CONTABLES DE IMPUESTO1 Y IMPUESTO2

		SELECT @CTA_IMPUESTO1	=	GF.CTA_IMPUESTO1,
		       @CTA_IMPUESTO2	=	GF.CTA_IMPUESTO2
		FROM ASHPF.GLOBALES_FA	AS GF  WITH(NOLOCK)

		--- OBTENER FORMA DE PAGO DE FACTURA

		SELECT 	@CONDICION_CONTADO	=	GF.COND_PAGO_CONTAD	FROM	ASHPF.GLOBALES_FA AS GF  WITH(NOLOCK)
		SELECT  @CONDICION_PAGO_FACTURA	=	F.CONDICION_PAGO	FROM	ASHPF.FACTURA 	  AS F  WITH(NOLOCK)	WHERE F.FACTURA = @FACTURA


		IF @CONDICION_CONTADO	=	@CONDICION_PAGO_FACTURA
		BEGIN
			SET @USAR_CUENTA_CONTADO = 'S'
		END
		ELSE
		BEGIN
			SET @USAR_CUENTA_CONTADO = 'N'
		END

		--- GRUPO DE VALIDACIONES 'A'

		IF EXISTS (SELECT * FROM ASHPF.ASIENTO_DE_DIARIO AS AD  WITH(NOLOCK) WHERE AD.ASIENTO = @ASIENTO)
		BEGIN
			SET @ERROR = 'IMPOSIBLE GENERAR NUMERO DE ASIENTO CONTABLE, ASIENTO No.' + ' - ' + @ASIENTO + ' - ' + 'YA FUE GENERADO EN EL DIARIO.'
			RAISERROR(@ERROR, 16,1,1)
		END

		--- VALIDAR QUE EL ASIENTO NO ESTE MAYORIZADO

		IF EXISTS (SELECT * FROM ASHPF.ASIENTO_MAYORIZADO  WITH(NOLOCK) WHERE ASIENTO = @ASIENTO)
		BEGIN
			SET @ERROR = 'IMPOSIBLE GENERAR NUMERO DE ASIENTO CONTABLE, ASIENTO No.' + ' - ' + @ASIENTO + ' - ' + 'YA FUE MAYORIZADO.'
			RAISERROR(@ERROR, 16,1,1)
		END

		--- INICIA PROCESO DE GENERACION DE ASIENTO EN EL DIARIO 
		--- GENERAR ROWPOINTER DE LINEA DE ASIENTO 

		SELECT @ROWPOINTER = NEWID()

		--- INSERTAR ENCABEZADO DE DIARIO
		
		INSERT INTO ASHPF.ASIENTO_DE_DIARIO
		(PAQUETE,TIPO_ASIENTO,FECHA,CONTABILIDAD,ORIGEN,NOTAS,MARCADO,TOTAL_DEBITO_LOC,TOTAL_CREDITO_LOC,
		 TOTAL_DEBITO_DOL,TOTAL_CREDITO_DOL,TOTAL_CONTROL_LOC,TOTAL_CONTROL_DOL,ULTIMO_USUARIO,FECHA_ULT_MODIF,
		 USUARIO_CREACION,FECHA_CREACION,ROWPOINTER,ASIENTO,CLASE_ASIENTO)

		VALUES
		(@PAQUETE,@TIPO_ASIENTO,GETDATE(),'F','FA','','N',0.0,0.0,0.0,0.0,0.0,0.0,@USUARIO,GETDATE(),@USUARIO,GETDATE(),@ROWPOINTER,@ASIENTO,'O')

		
		--- INICIA LA CARGA DE LAS LINEAS DE LA FACTURA PARA CONTABILIZACION EN DIARIO ---

		INSERT INTO @LINEAS_FACTURA
		(ARTICULO,CANTIDAD,PRECIO_UNITARIO,TOTAL_IMPUESTO1,TOTAL_IMPUESTO2,DESC_TOT_LINEA,DESC_TOT_GENERAL,COSTO_TOTAL,PRECIO_TOTAL,TIPO_LINEA,
		 MULTIPLICADOREV,COSTO_TOTAL_LOCAL,COSTO_TOTAL_DOLAR,MONTO_RETENCION,ARTICULO_CUENTA,TIPO)

		SELECT FL.ARTICULO,
		FL.CANTIDAD,
		FL.PRECIO_UNITARIO,
		FL.TOTAL_IMPUESTO1,
		FL.TOTAL_IMPUESTO2,
		FL.DESC_TOT_LINEA,
		FL.DESC_TOT_GENERAL,
		FL.COSTO_TOTAL,
		FL.PRECIO_TOTAL,
		FL.TIPO_LINEA,
		FL.MULTIPLICADOR_EV,
		FL.COSTO_TOTAL_LOCAL,
		FL.COSTO_TOTAL_DOLAR,
		FL.MONTO_RETENCION,
		A.ARTICULO_CUENTA,
		A.TIPO
		FROM ASHPF.FACTURA_LINEA AS FL  WITH(NOLOCK)
			INNER JOIN ASHPF.ARTICULO AS A ON A.ARTICULO = FL.ARTICULO
		WHERE FL.FACTURA	= @FACTURA
		AND FL.TIPO_DOCUMENTO	= 'F'
		AND FL.TIPO_LINEA	NOT IN ('C')	ORDER BY FL.LINEA

		--- INICIA LA CARGA DE LAS LINEAS DE LAS FORMAS DE PAGO EN FACTURA CANCELA, PARA DESCRIMINAR EFECTIVO, TARJETA, Y CREDITO

		INSERT INTO @FACTURA_CANCELA
		(FACTURA, NUMERO_PAGO, TIPO, MONTO)

		SELECT 
		FC.FACTURA,
		FC.NUMERO_PAGO,
		FC.TIPO,
		FC.MONTO

		FROM ASHPF.FACTURA_CANCELA AS FC  WITH(NOLOCK) WHERE FC.FACTURA = @FACTURA ORDER BY FC.NUMERO_PAGO


		--- OBTENER SOCIO DE NEGOCIO DE  FACTURA
		
		SELECT @CLIENTE_FACTURA	=	F.CLIENTE	FROM ASHPF.FACTURA AS F  WITH(NOLOCK) WHERE F.FACTURA = @FACTURA

		--- OBTENER CATEGORIA CLIENTE DE FACTURA
		
		SELECT @CATEGORIA_CLIENTE	=	C.CATEGORIA_CLIENTE,
		       @PAIS_CLIENTE		=	C.PAIS
		FROM ASHPF.CLIENTE AS C  WITH(NOLOCK) WHERE C.CLIENTE = @CLIENTE_FACTURA

		
		--- OBTENER FORMA DE PAGO CONTADO O CXC
	
		SELECT @ASIENTO_CONTADO_CXC	=	GF.ASIENTO_CONTCXCPOR FROM ASHPF.GLOBALES_FA AS GF  WITH(NOLOCK)

		IF @ASIENTO_CONTADO_CXC = 'P'
		BEGIN
			SELECT	@CTA_CONTADO	=	P.CTA_CONTADO,
					@CTA_CXC		=	P.CTA_CXC
			FROM ASHPF.PAIS AS P  WITH(NOLOCK)			WHERE	P.PAIS			=	@PAIS_CLIENTE
		END

		IF @ASIENTO_CONTADO_CXC = 'C'
		BEGIN
			SELECT @CTA_CONTADO	=	CC.CTA_CONTADO,
			       @CTA_CXC		=	CC.CTA_CXC
			FROM ASHPF.CATEGORIA_CLIENTE AS CC  WITH(NOLOCK)	WHERE	CC.CATEGORIA_CLIENTE	=	@CATEGORIA_CLIENTE
		END

		--- ITERACION DE LINEAS DE FACTURA CON UN CICLO

		SELECT @COUNT_LINEA	=	COUNT(*)	FROM	@LINEAS_FACTURA

		WHILE @I <= @COUNT_LINEA
		BEGIN
			SELECT	@ARTICULO_CUENTA		=	AF.ARTICULO_CUENTA,
				@ARTICULO_TIPO				=	AF.TIPO,
				@TEMP_ARTICULO				=	AF.ARTICULO,	
				@TEMP_CANTIDAD				=	AF.CANTIDAD,
				@TEMP_PRECIO_UNITARIO		=	AF.PRECIO_UNITARIO,
				@TEMP_PRECIO_TOTAL			=	AF.PRECIO_TOTAL,
				@TEMP_IMPUESTO1				=	AF.TOTAL_IMPUESTO1,
				@TEMP_IMPUESTO2				=	AF.TOTAL_IMPUESTO2,
				@TEMP_DESC_TOT_LINEA		=	AF.DESC_TOT_LINEA,
				@TEMP_DESC_TOT_GENERAL		=	AF.DESC_TOT_GENERAL,
				@TEMP_COSTO_TOTAL			=	AF.COSTO_TOTAL,
				@TEMP_TIPO_LINEA			=	AF.TIPO_LINEA,
				@TEMP_MULTIPLICADOREV		=	AF.MULTIPLICADOREV,
				@TEMP_COSTO_TOTAL_LOCAL		=	AF.COSTO_TOTAL_LOCAL,
				@TEMP_COSTO_TOTAL_DOLAR		=	AF.COSTO_TOTAL_DOLAR,
				@TEMP_MONTO_RETENCION		=	AF.MONTO_RETENCION
					
			FROM	@LINEAS_FACTURA	AS AF 	WHERE AF.ID = @I

		

			--- GRUPO DE VALIDACIONES 'B' CUENTA CONTABLE SE ENCUENTRE EN TABLA UT_CCA DE HOSPITAL ONE

			IF NOT EXISTS(SELECT TC.ARTICULO_CUENTA FROM H1_AHPF_HN.dbo.UT_CC AS TC  WITH(NOLOCK)
							INNER JOIN 	H1_AHPF_HN.dbo.UT_CCA AS CA ON CA.ARTICULO_CUENTA = TC.ARTICULO_CUENTA
							WHERE  TC.Id_UH =@Id_UH AND  TC.ARTICULO_CUENTA	= @ARTICULO_CUENTA AND TC.ESTADO=1)
			BEGIN
				SET @ERROR = 'CUENTA CONTABLE ERP :' + @ARTICULO_CUENTA + 'NO HA SIDO DEFINIDA' + @Id_UH
				RAISERROR(@ERROR, 16,1,1)
			END

		
			--- OBTENER CENTROS DE COSTO PARA LINEAS DE FACTURAS

			SELECT 
				@C_COSTO_VENTAS				=	TC.C_COSTO_VENTA,	
				@C_COSTO_INVENTARIO			=	TC.C_COSTO_INVENTARIO,
				@C_COSTO_VENTA				=	TC.C_COSTO_COSTOVENTA,
				@C_COSTO_DESC_TOT_LINEA		=	TC.C_COSTO_DESCTOLINEA,
				@C_COSTO_DESC_GENERAL		=	TC.C_COSTO_DESCTOTOTAL,
				@C_COSTO_CONTADO_CXC		=	TC.C_COSTO_CONTADO_CREDITO,
				@C_COSTO_CONSUMO			=	TC.C_COSTO_CONSUMO,
				@C_COSTO_IMPUESTO1			=	TC.C_COSTO_IMP1,
				@C_COSTO_IMPUESTO2			=	TC.C_COSTO_IMP2
			FROM H1_AHPF_HN.dbo.UT_CC AS TC  WITH(NOLOCK) WHERE TC.Id_UH = @Id_UH
			AND TC.ARTICULO_CUENTA = @ARTICULO_CUENTA
			AND TC.ESTADO=1
				
			--- GRUPO DE VALIDACIONES 'C' CENTROS DE COSTO EXTRAIDOS DE TABLA UT_CC DE HOSPITAL ONE

			--- VENTAS
			IF LEN(ISNULL(@C_COSTO_VENTAS, ''))=0
			BEGIN	
				SET @ERROR = 'CENTRO COSTO NO DEFINIDO.' + @C_COSTO_VENTAS + 'FACTURA: ' + @FACTURA + 'ARTICULO: ' + @TEMP_ARTICULO
				RAISERROR(@ERROR, 16,1,1)
			END

			--- INVENTARIO
			IF LEN(ISNULL(@C_COSTO_INVENTARIO, ''))=0
			BEGIN	
				SET @ERROR = 'CENTRO COSTO NO DEFINIDO.' + @C_COSTO_INVENTARIO + 'FACTURA: ' + @FACTURA + 'ARTICULO: ' + @TEMP_ARTICULO
				RAISERROR(@ERROR, 16,1,1)
			END

			--- COSTO VENTA
			IF LEN(ISNULL(@C_COSTO_VENTA, ''))=0
			BEGIN	
				SET @ERROR = 'CENTRO COSTO NO DEFINIDO.' + @C_COSTO_VENTA + 'FACTURA: ' + @FACTURA + 'ARTICULO: ' + @TEMP_ARTICULO
				RAISERROR(@ERROR, 16,1,1)
			END
			
			--- DESCUENTO LINEA
			IF LEN(ISNULL(@C_COSTO_DESC_GENERAL, ''))=0
			BEGIN	
				SET @ERROR = 'CENTRO COSTO NO DEFINIDO.' + @C_COSTO_DESC_GENERAL + 'FACTURA: ' + @FACTURA + 'ARTICULO: ' + @TEMP_ARTICULO
				RAISERROR(@ERROR, 16,1,1)
			END

			--- DESCUENTO GENERAL
			IF LEN(ISNULL(@C_COSTO_DESC_TOT_LINEA, ''))=0
			BEGIN	
				SET @ERROR = 'CENTRO COSTO NO DEFINIDO.' + @C_COSTO_DESC_TOT_LINEA + 'FACTURA: ' + @FACTURA + 'ARTICULO: ' + @TEMP_ARTICULO
				RAISERROR(@ERROR, 16,1,1)
			END

			--- CONDICION PAGO CONTADO Y CXC
			IF LEN(ISNULL(@C_COSTO_CONTADO_CXC, ''))=0
			BEGIN	
				SET @ERROR = 'CENTRO COSTO NO DEFINIDO.'  + @C_COSTO_CONTADO_CXC + 'FACTURA: ' + @FACTURA + 'ARTICULO: ' + @TEMP_ARTICULO
				RAISERROR(@ERROR, 16,1,1)
			END

			--- IMPUESTO1
			IF LEN(ISNULL(@C_COSTO_IMPUESTO1, ''))=0
			BEGIN	
				SET @ERROR = 'CENTRO COSTO NO DEFINIDO.'  + @C_COSTO_IMPUESTO1 + 'FACTURA: ' + @FACTURA + 'ARTICULO: ' + @TEMP_ARTICULO
				RAISERROR(@ERROR, 16,1,1)
			END
			
			--- IMPUESTO2
			IF LEN(ISNULL(@C_COSTO_IMPUESTO2, ''))=0
			BEGIN	
				SET @ERROR = 'CENTRO COSTO NO DEFINIDO.' + @C_COSTO_IMPUESTO2 + 'FACTURA: ' + @FACTURA + 'ARTICULO: ' + @TEMP_ARTICULO
				RAISERROR(@ERROR, 16,1,1)
			END

			--- CONSUMO
			IF LEN(ISNULL(@C_COSTO_CONSUMO, ''))=0
			BEGIN	
				SET @ERROR = 'CENTRO COSTO NO DEFINIDO.' + @C_COSTO_CONSUMO + 'FACTURA: ' + @FACTURA + 'ARTICULO: ' + @TEMP_ARTICULO
				RAISERROR(@ERROR, 16,1,1)
			END


			--- OBTENER CUENTAS CONTABLES PARA LINEAS DE FACTURAS

			IF @PAIS_CLIENTE = @PAIS_LOCAL
			BEGIN
				SELECT
					@CTA_VENTAS			=	AC.CTA_VENTAS_LOC,		
					@CTA_INVENTARIO		=	AC.CTA_INVENTARIO,
					@CTA_COSTO_VENTA	=	AC.CTA_COST_VENTA_LOC,
					@CTA_DESC_TOT_LINEA	=	AC.CTA_DESC_LINEA_LOC,
					@CTA_DESC_GENERAL	=	AC.CTA_DESC_VENTA_LOC,
					@CTA_CONSUMO		=	AC.CTA_CONS_NORMAL
					
				FROM ASHPF.ARTICULO_CUENTA AS AC  WITH(NOLOCK) WHERE AC.ARTICULO_CUENTA = @ARTICULO_CUENTA	
			END
			ELSE
			BEGIN
				SELECT
					@CTA_VENTAS			=	AC.CTA_VENTAS_LOC,		
					@CTA_INVENTARIO		=	AC.CTA_INVENTARIO,
					@CTA_COSTO_VENTA	=	AC.CTA_COST_VENTA_LOC,
					@CTA_DESC_TOT_LINEA	=	AC.CTA_DESC_LINEA_LOC,
					@CTA_DESC_GENERAL	=	AC.CTA_DESC_VENTA_LOC,
					@CTA_CONSUMO		=	AC.CTA_CONS_NORMAL
					
				FROM ASHPF.ARTICULO_CUENTA AS AC  WITH(NOLOCK) WHERE AC.ARTICULO_CUENTA = @ARTICULO_CUENTA	
			END

			--- INSERTAR EN AUXILIAR Y DIARIO
			IF @ARTICULO_TIPO <> 'V'
			BEGIN
					
				--- VALIDACION DE LA HOMOLOGACION CENTRO CUENTA EN ERP

				EXEC ASHPF.sP_HOMOLOGACION_CENTRO_CUENTA_ERP @CTA_INVENTARIO, @C_COSTO_INVENTARIO, 'REGISTRO CONTABLE INVENTARIO', @C_EXITOSA OUTPUT, @ERROR OUTPUT

				IF @C_EXITOSA = 'N'
				BEGIN
					RAISERROR(@ERROR, 16,1,1)				
				END 

				--- REGISTRO LINEA COSTO INVENTARIO
				EXEC ASHPF.sP_INSERT_FACTURA_DIARIO_H1
					@ROWPOINTER,
					@ASIENTO,
					@LINEA_AUXILIAR,
					@CTA_INVENTARIO,
					@C_COSTO_INVENTARIO,
					@FACTURA,
					@TEMP_COSTO_TOTAL_LOCAL,
					'C',
					@C_EXITOSA OUTPUT,
					@ERROR OUTPUT
				
					SET @LINEA_AUXILIAR = @LINEA_AUXILIAR + 1
					IF @C_EXITOSA = 'N'
					BEGIN
						RAISERROR(@ERROR, 16,1,1)				
					END
			END
				--- REGISTRO LINEA COSTO VENTA
				EXEC ASHPF.sP_HOMOLOGACION_CENTRO_CUENTA_ERP @CTA_INVENTARIO, @C_COSTO_INVENTARIO, 'REGISTRO  VENTA', @C_EXITOSA OUTPUT, @ERROR OUTPUT

				IF @C_EXITOSA = 'N'
				BEGIN
					RAISERROR(@ERROR, 16,1,1)				
				END 

				SELECT @TEMP_VENTA_TOTAL_LINEA = @TEMP_CANTIDAD * @TEMP_PRECIO_UNITARIO

				EXEC ASHPF.sP_INSERT_FACTURA_DIARIO_H1
					@ROWPOINTER,
					@ASIENTO,
					@LINEA_AUXILIAR,
					@CTA_VENTAS,
					@C_COSTO_VENTAS,
					@FACTURA,
					@TEMP_VENTA_TOTAL_LINEA,
					'C',
					@C_EXITOSA OUTPUT,
					@ERROR OUTPUT
				
					SET @LINEA_AUXILIAR = @LINEA_AUXILIAR + 1
					
				--- REGISTRO LINEA DESCUENTO GENERAL
				
				IF @TEMP_DESC_TOT_GENERAL > 0
				BEGIN 
					EXEC ASHPF.sP_HOMOLOGACION_CENTRO_CUENTA_ERP @CTA_INVENTARIO, @C_COSTO_INVENTARIO, 'REGISTRO CONTABLE DESCUENTO GENERAL', @C_EXITOSA OUTPUT, @ERROR OUTPUT

						IF @C_EXITOSA = 'N'
						BEGIN
							RAISERROR(@ERROR, 16,1,1)				
						END 

						EXEC ASHPF.sP_INSERT_FACTURA_DIARIO_H1
							@ROWPOINTER,
							@ASIENTO,
							@LINEA_AUXILIAR,
							@CTA_DESC_GENERAL,
							@C_COSTO_DESC_GENERAL,
							@FACTURA,
							@TEMP_DESC_TOT_GENERAL,
							'D',
							@C_EXITOSA OUTPUT,
							@ERROR OUTPUT
				
							SET @LINEA_AUXILIAR = @LINEA_AUXILIAR + 1
							IF @C_EXITOSA = 'N'
							BEGIN
								RAISERROR(@ERROR, 16,1,1)				
							END
				END

				--- REGISTRO LINEA DESCUENTO LINEA
				
				IF @TEMP_DESC_TOT_LINEA > 0
				BEGIN 
					EXEC ASHPF.sP_HOMOLOGACION_CENTRO_CUENTA_ERP @CTA_INVENTARIO, @C_COSTO_INVENTARIO, 'REGISTRO CONTABLE DESCUENTO LINEA', @C_EXITOSA OUTPUT, @ERROR OUTPUT

						IF @C_EXITOSA = 'N'
						BEGIN
							RAISERROR(@ERROR, 16,1,1)				
						END 

						EXEC ASHPF.sP_INSERT_FACTURA_DIARIO_H1
							@ROWPOINTER,
							@ASIENTO,
							@LINEA_AUXILIAR,
							@CTA_DESC_TOT_LINEA,
							@C_COSTO_DESC_TOT_LINEA,
							@FACTURA,
							@TEMP_DESC_TOT_LINEA,
							'D',
							@C_EXITOSA OUTPUT,
							@ERROR OUTPUT
				
							SET @LINEA_AUXILIAR = @LINEA_AUXILIAR + 1
							IF @C_EXITOSA = 'N'
							BEGIN
								RAISERROR(@ERROR, 16,1,1)				
							END
				END
				
				--- REGISTRO LINEA COSTO
				
				IF @ARTICULO_TIPO <> 'V'
				BEGIN 
					EXEC ASHPF.sP_HOMOLOGACION_CENTRO_CUENTA_ERP @CTA_INVENTARIO, @C_COSTO_INVENTARIO, 'REGISTRO CONTABLE COSTO DE VENTA', @C_EXITOSA OUTPUT, @ERROR OUTPUT

						IF @C_EXITOSA = 'N'
						BEGIN
							RAISERROR(@ERROR, 16,1,1)				
						END 

						--- AUXILIAR Y DIARIO (DEBITOS)
						EXEC ASHPF.sP_INSERT_FACTURA_DIARIO_H1
							@ROWPOINTER,
							@ASIENTO,
							@LINEA_AUXILIAR,
							@CTA_COSTO_VENTA,
							@C_COSTO_VENTA,
							@FACTURA,
							@TEMP_COSTO_TOTAL_LOCAL,
							'D',
							@C_EXITOSA OUTPUT,
							@ERROR OUTPUT
				
							SET @LINEA_AUXILIAR = @LINEA_AUXILIAR + 1
							IF @C_EXITOSA = 'N'
							BEGIN
								RAISERROR(@ERROR, 16,1,1)				
							END
				END
				

				SET @I = @I + 1
		
		END --- CIERRE DE ITERACION CON  WHILE ----

		/* FORMAS DE PAGO EN PARTIDA*/

	--- REGISTRO LINEAS  FORMA  PAGO TOMADO DE FACTURA CANCELA Y PODER DESCRIMINAR E=EFECTIVO, T=TARJETA, X=CREDITO

		SELECT @NUMERO_PAGO =	COUNT(*) FROM @FACTURA_CANCELA 
		
		WHILE @E <= @NUMERO_PAGO
		BEGIN 
			SELECT	
				@TEMP_FACTURA_CANCELA		= FC.FACTURA,
				@TEMP_NUMERO_PAGO_FC		= FC.NUMERO_PAGO,
				@TEMP_TIPO_FC				= FC.TIPO,
				@TEMP_MONTO_FC				= FC.MONTO
					
			FROM	@FACTURA_CANCELA	AS FC	WHERE FC.ID = @E


						IF @TEMP_TIPO_FC = 'E'
								BEGIN 
									EXEC ASHPF.sP_HOMOLOGACION_CENTRO_CUENTA_ERP @CTA_INVENTARIO, @C_COSTO_INVENTARIO, 'REGISTRO CONTABLE PAGO CONTADO', @C_EXITOSA OUTPUT, @ERROR OUTPUT

										IF @C_EXITOSA = 'N'
										BEGIN
											RAISERROR(@ERROR, 16,1,1)				
										END 

										--- AUXILIAR Y DIARIO 

										EXEC ASHPF.sP_INSERT_FACTURA_DIARIO_H1
											@ROWPOINTER,
											@ASIENTO,
											@LINEA_AUXILIAR,
											@CTA_CONTADO,
											@C_COSTO_CONTADO_CXC,
											@FACTURA,
											@TEMP_MONTO_FC,
											'D',
											@C_EXITOSA OUTPUT,
											@ERROR OUTPUT
				
											SET @LINEA_AUXILIAR = @LINEA_AUXILIAR + 1
											IF @C_EXITOSA = 'N'
											BEGIN
												RAISERROR(@ERROR, 16,1,1)				
											END
								END

								IF @TEMP_TIPO_FC = 'T' 
								BEGIN
									EXEC ASHPF.sP_HOMOLOGACION_CENTRO_CUENTA_ERP @CTA_INVENTARIO, @C_COSTO_INVENTARIO, 'REGISTRO CONTABLE PAGO CREDITO', @C_EXITOSA OUTPUT, @ERROR OUTPUT

										IF @C_EXITOSA = 'N'
										BEGIN
											RAISERROR(@ERROR, 16,1,1)				
										END 
					
										EXEC ASHPF.sP_INSERT_FACTURA_DIARIO_H1
												@ROWPOINTER,
												@ASIENTO,
												@LINEA_AUXILIAR,
												@CTA_CXC,
												@C_COSTO_CONTADO_CXC,
												@FACTURA,
												@TEMP_MONTO_FC,
												'D',
												@C_EXITOSA OUTPUT,
												@ERROR OUTPUT
				
												SET @LINEA_AUXILIAR = @LINEA_AUXILIAR + 1
												IF @C_EXITOSA = 'N'
												BEGIN
													RAISERROR(@ERROR, 16,1,1)				
												END	
								END
								IF @TEMP_TIPO_FC = 'X' 
								BEGIN
									EXEC ASHPF.sP_HOMOLOGACION_CENTRO_CUENTA_ERP @CTA_INVENTARIO, @C_COSTO_INVENTARIO, 'REGISTRO CONTABLE PAGO CREDITO', @C_EXITOSA OUTPUT, @ERROR OUTPUT

										IF @C_EXITOSA = 'N'
										BEGIN
											RAISERROR(@ERROR, 16,1,1)				
										END 
					
										EXEC ASHPF.sP_INSERT_FACTURA_DIARIO_H1
												@ROWPOINTER,
												@ASIENTO,
												@LINEA_AUXILIAR,
												@CTA_CXC,
												@C_COSTO_CONTADO_CXC,
												@FACTURA,
												@TEMP_MONTO_FC,
												'D',
												@C_EXITOSA OUTPUT,
												@ERROR OUTPUT
				
												SET @LINEA_AUXILIAR = @LINEA_AUXILIAR + 1
												IF @C_EXITOSA = 'N'
												BEGIN
													RAISERROR(@ERROR, 16,1,1)				
												END	
								END
								SET @E = @E + 1

		END

		--- CIERRE DE ITERACION FACTURA CANCELA ----

		--- REGISTRO DE IMPUESTO1 Y IMPUESTO2

		IF @IMPUESTO1 > 0
				BEGIN 
					EXEC ASHPF.sP_HOMOLOGACION_CENTRO_CUENTA_ERP @CTA_INVENTARIO, @C_COSTO_INVENTARIO, 'REGISTRO CONTABLE IMPUESTO1', @C_EXITOSA OUTPUT, @ERROR OUTPUT

						IF @C_EXITOSA = 'N'
						BEGIN
							RAISERROR(@ERROR, 16,1,1)				
						END 

						--- AUXILIAR Y DIARIO 

						EXEC ASHPF.sP_INSERT_FACTURA_DIARIO_H1
							@ROWPOINTER,
							@ASIENTO,
							@LINEA_AUXILIAR,
							@CTA_IMPUESTO1,
							@C_COSTO_IMPUESTO1,
							@FACTURA,
							@IMPUESTO1,
							'C',
							@C_EXITOSA OUTPUT,
							@ERROR OUTPUT
				
							SET @LINEA_AUXILIAR = @LINEA_AUXILIAR + 1
							IF @C_EXITOSA = 'N'
							BEGIN
								RAISERROR(@ERROR, 16,1,1)				
							END
				END


		IF @IMPUESTO2 > 0
				BEGIN 
					EXEC ASHPF.sP_HOMOLOGACION_CENTRO_CUENTA_ERP @CTA_INVENTARIO, @C_COSTO_INVENTARIO, 'REGISTRO CONTABLE IMPUESTO2', @C_EXITOSA OUTPUT, @ERROR OUTPUT

						IF @C_EXITOSA = 'N'
						BEGIN
							RAISERROR(@ERROR, 16,1,1)				
						END 

						--- AUXILIAR Y DIARIO 

						EXEC ASHPF.sP_INSERT_FACTURA_DIARIO_H1
							@ROWPOINTER,
							@ASIENTO,
							@LINEA_AUXILIAR,
							@CTA_IMPUESTO2,
							@C_COSTO_IMPUESTO2,
							@FACTURA,
							@IMPUESTO1,
							'C',
							@C_EXITOSA OUTPUT,
							@ERROR OUTPUT
				
							SET @LINEA_AUXILIAR = @LINEA_AUXILIAR + 1
							IF @C_EXITOSA = 'N'
							BEGIN
								RAISERROR(@ERROR, 16,1,1)				
							END
				END


		
--- ARTICULOS EN LIEAS DE FACTURA TIPO KIT ---

				INSERT INTO @LINEAS_INVENTARIO
							SELECT I.ARTICULO,
								   I.CANTIDAD,
								   I.TIPO,
								   I.SUBTIPO,
								   I.SUBSUBTIPO,
								   I.COSTO_TOT_FISC_LOC,
								   I.COSTO_TOT_FISC_DOL,
								   I.CENTRO_COSTO,
								   A.ARTICULO_CUENTA
							FROM   ASHPF.TRANSACCION_INV I  INNER JOIN ASHPF.ARTICULO A	ON  A.ARTICULO = I.ARTICULO
							WHERE  I.AUDIT_TRANS_INV = @AUDIT_TRANS_INV   AND I.TIPO IN ('E', 'C', 'M')
	
							SET @I = 1
							SELECT @COUNT_LINEA = COUNT(*)
							FROM   @LINEAS_INVENTARIO

				IF @COUNT_LINEA > 0
				BEGIN
					WHILE @i <= @COUNT_LINEA
					BEGIN	
						--- OBTENER VALORES LINEAS DE INVENTARIO
	        
							SELECT 
								@TEMP_ARTICULO_INV					= ARTICULO,
								@TEMP_CANTIDAD_INV					= CANTIDAD,
								@TEMP_TIPO_INV						= TIPO,
								@TEMP_SUBTIPO_INV					= SUBTIPO,
								@TEMP_SUBSUB_TIPO_INV				= SUBSUBTIPO,
								@TEMP_COSTO_TOTAL_FISCAL_LOCAL_INV	= COSTO_TOT_FISC_LOC,
								@TEMP_COSTO_TOTAL_FISCAL_DOLAR_INV	= COSTO_TOT_FISC_DOL,
								@TEMP_CENTRO_COSTO_INV				= CENTRO_COSTO,
								@ARTICULO_CUENTA					= ARTICULO_CUENTA

							FROM    @LINEAS_INVENTARIO
							WHERE  ID = @I
	        
							--- VALIDAR CONSUMO TIPO KIT
	        
							IF @PAIS_CLIENTE = @PAIS_LOCAL
							BEGIN
								SELECT @CTA_INVENTARIO = AC.CTA_INVENTARIO, @CTA_CONSUMO = AC.CTA_CONS_NORMAL
								FROM   ASHPF.ARTICULO_CUENTA AC	WHERE  AC.ARTICULO_CUENTA = @ARTICULO_CUENTA
							END
							ELSE
							BEGIN
								SELECT @CTA_INVENTARIO = AC.CTA_INVENTARIO, @CTA_CONSUMO = AC.CTA_CONS_NORMAL
								FROM   ASHPF.ARTICULO_CUENTA AC	WHERE  AC.ARTICULO_CUENTA = @ARTICULO_CUENTA
							END	--- REGISTRO DE CONSUMO

							IF @TEMP_TIPO_INV = 'C'
							BEGIN
	            
								--- HOMOLOGACION CENTRO CUENTA

									EXEC ASHPF.sP_HOMOLOGACION_CENTRO_CUENTA_ERP @CTA_INVENTARIO, @C_COSTO_INVENTARIO, 'REGISTRO CONTABLE CONSUMO', @C_EXITOSA OUTPUT, @ERROR OUTPUT

									IF @C_EXITOSA = 'N'
									BEGIN
										RAISERROR(@ERROR, 16,1,1)				
									END 
	            
	                				EXEC ASHPF.sP_INSERT_FACTURA_DIARIO_H1
										@ROWPOINTER,
										@ASIENTO,
										@LINEA_AUXILIAR,
										@CTA_CONSUMO,
										@C_COSTO_CONSUMO,
										@FACTURA,
										@TEMP_COSTO_TOTAL_FISCAL_LOCAL_INV,
										'D',
										@C_EXITOSA OUTPUT,
										@ERROR OUTPUT
				
											SET @LINEA_AUXILIAR = @LINEA_AUXILIAR + 1
											IF @C_EXITOSA = 'N'
											BEGIN
												RAISERROR(@ERROR, 16,1,1)				
											END
							END


						--- REGISTRO INVENTARIO

		         
								--- HOMOLOGACION CENTRO CUENTA

									EXEC ASHPF.sP_HOMOLOGACION_CENTRO_CUENTA_ERP @CTA_INVENTARIO, @C_COSTO_INVENTARIO, 'REGISTRO CONTABLE INVENTARIO', @C_EXITOSA OUTPUT, @ERROR OUTPUT

									IF @C_EXITOSA = 'N'
									BEGIN
										RAISERROR(@ERROR, 16,1,1)				
									END 
	            
	                				EXEC ASHPF.sP_INSERT_FACTURA_DIARIO_H1
										@ROWPOINTER,
										@ASIENTO,
										@LINEA_AUXILIAR,
										@CTA_INVENTARIO,
										@C_COSTO_INVENTARIO,
										@FACTURA,
										@TEMP_COSTO_TOTAL_FISCAL_LOCAL_INV,
										'C',
										@C_EXITOSA OUTPUT,
										@ERROR OUTPUT
				
											SET @LINEA_AUXILIAR = @LINEA_AUXILIAR + 1
											IF @C_EXITOSA = 'N'
											BEGIN
												RAISERROR(@ERROR, 16,1,1)				
											END

							--- REGISTRO TIPO KIT

								IF @TEMP_TIPO_INV = 'E'
								BEGIN
	            
									--- HOMOLOGACION CENTRO CUENTA

										EXEC ASHPF.sP_HOMOLOGACION_CENTRO_CUENTA_ERP @CTA_INVENTARIO, @C_COSTO_INVENTARIO, 'REGISTRO CONTABLE INVENTARIO', @C_EXITOSA OUTPUT, @ERROR OUTPUT

										IF @C_EXITOSA = 'N'
										BEGIN
											RAISERROR(@ERROR, 16,1,1)				
										END 
	            
	                					EXEC ASHPF.sP_INSERT_FACTURA_DIARIO_H1
											@ROWPOINTER,
											@ASIENTO,
											@LINEA_AUXILIAR,
											@CTA_INVENTARIO,
											@C_COSTO_INVENTARIO,
											@FACTURA,
											@TEMP_COSTO_TOTAL_FISCAL_LOCAL_INV,
											'D',
											@C_EXITOSA OUTPUT,
											@ERROR OUTPUT
				
												SET @LINEA_AUXILIAR = @LINEA_AUXILIAR + 1
												IF @C_EXITOSA = 'N'
												BEGIN
													RAISERROR(@ERROR, 16,1,1)				
												END
								END

							--- REGISTRO CONSUMO CREDITO


										EXEC ASHPF.sP_HOMOLOGACION_CENTRO_CUENTA_ERP @CTA_INVENTARIO, @C_COSTO_INVENTARIO, 'REGISTRO CONTABLE CONSUMO', @C_EXITOSA OUTPUT, @ERROR OUTPUT

											IF @C_EXITOSA = 'N'
											BEGIN
												RAISERROR(@ERROR, 16,1,1)				
											END 
	            
	                						EXEC ASHPF.sP_INSERT_FACTURA_DIARIO_H1
												@ROWPOINTER,
												@ASIENTO,
												@LINEA_AUXILIAR,
												@CTA_CONSUMO,
												@C_COSTO_CONSUMO,
												@FACTURA,
												@TEMP_COSTO_TOTAL_FISCAL_LOCAL_INV,
												'C',
												@C_EXITOSA OUTPUT,
												@ERROR OUTPUT
				
													SET @LINEA_AUXILIAR = @LINEA_AUXILIAR + 1
													IF @C_EXITOSA = 'N'
													BEGIN
														RAISERROR(@ERROR, 16,1,1)				
													END
							SET @I = @I + 1
					END
				END


			--- INSERT AUDITORIA DEL PROCESO

			INSERT INTO ASHPF.AUDITORIA_DE_PROC
					  (ORIGEN,OPCION,USUARIO,FECHA_HORA,NOTAS,ASIENTO)
					VALUES
					  ('FA','CARGA DE FACTURAS A CG',@USUARIO,GETDATE(),'',NULL)

					--- CAMBIAR A ESTADO  CARGADO A CONTABILIDAD GENERAL
	
					UPDATE ASHPF.FACTURA
					SET    CARGADO_CG = 'S',
						   ASIENTO_DOCUMENTO = @ASIENTO
					WHERE  TIPO_DOCUMENTO = 'F'  AND FACTURA = @FACTURA
	
					--- CARGAR MONTOS
	
					SELECT @SUM_DEBITOS		= ROUND(SUM(D.DEBITO_LOCAL), 2),
						   @SUM_CREDITOS	= ROUND(SUM(D.CREDITO_LOCAL), 2)
					FROM   ASHPF.DIARIO AS D WHERE  D.ASIENTO = @ASIENTO
	
					UPDATE ASHPF.ASIENTO_DE_DIARIO
					SET    TOTAL_DEBITO_LOC = @SUM_DEBITOS,
						   TOTAL_DEBITO_DOL = 0,
						   TOTAL_CREDITO_LOC = @SUM_CREDITOS,
						   TOTAL_CREDITO_DOL = 0,
						   TOTAL_CONTROL_LOC = @SUM_DEBITOS,
						   TOTAL_CONTROL_DOL = 0
					WHERE  ASIENTO = @ASIENTO
	
					--- CAMBIAR A ESTADO CONTABILIZADA
	
	
					UPDATE ASHPF.TRANSACCION_INV
					SET    CONTABILIZADA = 'S'
					WHERE  AUDIT_TRANS_INV = @AUDIT_TRANS_INV      
	
					UPDATE ASHPF.AUDIT_TRANS_INV
					SET    ASIENTO = @ASIENTO
					WHERE  AUDIT_TRANS_INV = @AUDIT_TRANS_INV
	
					--- ACTUALIZAR CXC
	
					UPDATE ASHPF.DOCUMENTOS_CC
					SET    ASIENTO = @ASIENTO,
						   ASIENTO_PENDIENTE = 'N',
						   APROBADO = 'S',
						   USUARIO_APROBACION = @USUARIO,
						   FECHA_APROBACION = GETDATE()
					WHERE  DOCUMENTO = @FACTURA
						   AND TIPO = 'FAC' 
	
					SET @R_EXITOSO = 'S'
					SET @ERROR = ''



	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END
			EXECUTE ASHPF.Sp_LogError;
			SET @R_EXITOSO = 'N'
			SET @ERROR = ERROR_MESSAGE()
END CATCH



