USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_DETALLE_FACTURA_RAPIDA]    Script Date: 11/9/2022 3:34:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [ASHPF].[sP_DETALLE_FACTURA_RAPIDA]
	@Id_FC					INT,
	@FACTURA				VARCHAR(50)
	
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE	@TIPO_DOCUMENTO			VARCHAR(1)
	DECLARE	@LINEA					SMALLINT
	DECLARE	@BODEGA					VARCHAR(4)
	DECLARE @LOCALIZACION			VARCHAR(8)
	DECLARE @LOTE					VARCHAR(15)
	DECLARE	@COSTO_TOTAL_DOLAR		DECIMAL(28,8)
	DECLARE	@ARTICULO				VARCHAR(20)
	DECLARE	@ANULADA				VARCHAR(1)
	DECLARE	@FECHA_FACTURA			DATETIME
	DECLARE	@CANTIDAD				DECIMAL(28,8)				
	DECLARE	@PRECIO_UNITARIO		DECIMAL(28,8)
	DECLARE	@TOTAL_IMPUESTO1		DECIMAL(28,8)
	DECLARE	@TOTAL_IMPUESTO2		DECIMAL(28,8)
	DECLARE	@DESC_TOT_LINEA			DECIMAL(28,8)
	DECLARE	@DESC_TOT_GENERAL		DECIMAL(28,8)
	DECLARE	@COSTO_TOTAL			DECIMAL(28,8)
	DECLARE	@PRECIO_TOTAL			DECIMAL(28,8)
	DECLARE	@CANTIDAD_DEVUELT		DECIMAL(28,8)
	DECLARE	@DESCUENTO_VOLUMEN		DECIMAL(28,8)
	DECLARE	@TIPO_LINEA				VARCHAR(1)
	DECLARE	@CANTIDAD_ACEPTADA		DECIMAL(28,8)
	DECLARE	@CANT_NO_ENTREGADA		DECIMAL(28,8)
	DECLARE	@COSTO_TOTAL_LOCAL		DECIMAL(28,8)
	DECLARE	@MULTIPLICADOR_EV		SMALLINT
	DECLARE	@CANT_DESPACHADA		DECIMAL(28,8)
	DECLARE	@COSTO_ESTIM_LOCAL		DECIMAL(28,8)
	DECLARE	@COSTO_ESTIM_DOLAR		DECIMAL(28,8)
	DECLARE	@MONTO_RETENCION		DECIMAL(28,8)
	DECLARE	@COSTO_TOTAL_COMP		DECIMAL(28,8)
	DECLARE	@COSTO_TOTAL_COMP_LOCAL	DECIMAL(28,8)
	DECLARE	@COSTO_TOTAL_COMP_DOLAR	DECIMAL(28,8)
	DECLARE	@COSTO_ESTIM_COMP_LOCAL	DECIMAL(28,8)
	DECLARE	@COSTO_ESTIM_COMP_DOLAR	DECIMAL(28,8)
	DECLARE	@CANT_DEV_PROCESO		DECIMAL(28,8)
	DECLARE @COUNT_LINEA			INT
	DECLARE @NoteExistsFlag			TINYINT
	DECLARE @RecordDate				DATETIME
	DECLARE @RowPointer				UNIQUEIDENTIFIER
	DECLARE @CreatedBy				VARCHAR(30)
	DECLARE @UpdatedBy				VARCHAR(30)
	DECLARE @CreateDate				DATETIME
	DECLARE @CENTRO_COSTO			VARCHAR(25)
	DECLARE @CUENTA_CONTABLE		VARCHAR(25)
	DECLARE @TIPO					VARCHAR(1)
	DECLARE @CLIENTE_CORPORAC		VARCHAR(20)

	--- VARIABLES PARA ITERACION DE LINEAS FCDT 

	DECLARE @E					AS	INT
		SET @E = 1
	DECLARE	@Id_FCDT			AS	INT


	BEGIN TRY 
		BEGIN TRANSACTION

		--- CARGA DE LINEAS DETALLE DE FACTURA

		DECLARE @FACTURA_LINEA AS TABLE(
		ID INT IDENTITY(1,1) PRIMARY KEY,
		FACTURA					VARCHAR(50),
		TIPO_DOCUMENTO			VARCHAR(1),
		LINEA					SMALLINT,
		BODEGA					VARCHAR(4),
		LOCALIZACION			VARCHAR(8),
		LOTE					VARCHAR(15),
		COSTO_TOTAL_DOLAR		DECIMAL(28,8),
		ARTICULO				NVARCHAR(20),
		ANULADA					VARCHAR(1),
		FECHA_FACTURA			DATETIME,
		CANTIDAD				DECIMAL(28,8),			
		PRECIO_UNITARIO			DECIMAL(28,8),
		TOTAL_IMPUESTO1			DECIMAL(28,8),
		TOTAL_IMPUESTO2			DECIMAL(28,8),
		DESC_TOT_LINEA			DECIMAL(28,8),
		DESC_TOT_GENERAL		DECIMAL(28,8),
		COSTO_TOTAL				DECIMAL(28,8),
		PRECIO_TOTAL			DECIMAL(28,8),
		CANTIDAD_DEVUELT		DECIMAL(28,8),
		DESCUENTO_VOLUMEN		DECIMAL(28,8),
		TIPO_LINEA				VARCHAR(1),
		CANTIDAD_ACEPTADA		DECIMAL(28,8),
		CANT_NO_ENTREGADA		DECIMAL(28,8),
		COSTO_TOTAL_LOCAL		DECIMAL(28,8),
		MULTIPLICADOR_EV		SMALLINT,
		CANT_DESPACHADA			DECIMAL(28,8),
		COSTO_ESTIM_LOCAL		DECIMAL(28,8),
		COSTO_ESTIM_DOLAR		DECIMAL(28,8),
		MONTO_RETENCION			DECIMAL(28,8),
		COSTO_TOTAL_COMP		DECIMAL(28,8),
		COSTO_TOTAL_COMP_LOCAL	DECIMAL(28,8),
		COSTO_TOTAL_COMP_DOLAR	DECIMAL(28,8),
		COSTO_ESTIM_COMP_LOCAL	DECIMAL(28,8),
		COSTO_ESTIM_COMP_DOLAR	DECIMAL(28,8),
		CANT_DEV_PROCESO		DECIMAL(28,8),
		NoteExistsFlag			TINYINT,
		RecordDate				DATETIME,
		RowPointer				UNIQUEIDENTIFIER,
		CreatedBy				VARCHAR(30),
		UpdatedBy				VARCHAR(30),
		CreateDate				DATETIME,
		CENTRO_COSTO			VARCHAR(25),
		CUENTA_CONTABLE			VARCHAR(25),
		TIPO					VARCHAR(1),
		CLIENTE_CORPORAC		VARCHAR(20)
		)

		--------------------------------------------------------------------------------------------
		
		--- OBETER LAS LINEAS  @CLIENTE_CORPORAC		VARCHAR(20)
		
		INSERT INTO @FACTURA_LINEA
		(FACTURA,TIPO_DOCUMENTO,LINEA,BODEGA,LOCALIZACION,LOTE,COSTO_TOTAL_DOLAR,ARTICULO,ANULADA,FECHA_FACTURA,CANTIDAD,PRECIO_UNITARIO,TOTAL_IMPUESTO1,		
		 TOTAL_IMPUESTO2,DESC_TOT_LINEA,DESC_TOT_GENERAL,COSTO_TOTAL,PRECIO_TOTAL,CANTIDAD_DEVUELT,DESCUENTO_VOLUMEN,TIPO_LINEA,CANTIDAD_ACEPTADA,		
		 CANT_NO_ENTREGADA,COSTO_TOTAL_LOCAL,MULTIPLICADOR_EV,CANT_DESPACHADA,COSTO_ESTIM_LOCAL,COSTO_ESTIM_DOLAR,MONTO_RETENCION,COSTO_TOTAL_COMP,		
		 COSTO_TOTAL_COMP_LOCAL,COSTO_TOTAL_COMP_DOLAR,COSTO_ESTIM_COMP_LOCAL,COSTO_ESTIM_COMP_DOLAR,CANT_DEV_PROCESO, 
		 NoteExistsFlag,RecordDate,RowPointer,CreatedBy,UpdatedBy,CreateDate,CENTRO_COSTO,CUENTA_CONTABLE,TIPO,CLIENTE_CORPORAC)				
			
				SELECT 
				@FACTURA											AS	FACTURA,
				FL.TipoDocumento									AS	TIPO_DOCUMENTO,
				FL.Linea											AS	LINEA,
				FL.Id_AL											AS	BODEGA,
				FL.UDF_Id_UB										AS	LOCALIZACION,
				FL.Lote												AS	LOTE,
				0.00000000											AS	COSTO_TOTAL_DOLAR,
				FL.Id_AR											AS	ARTICULO,
				'N'													AS	ANULADA,
				FL.Fecha_Registro									AS	FECHA_FACTURA,
				FL.Cantidad											AS	CANTIDAD,
				FL.PrecioUnitario									AS	PRECIO_UNITARIO,
				0.00000000											AS	TOTAL_IMPUESTO1,
				0.00000000											AS	TOTAL_IMPUESTO2,
				ISNULL(FL.UDF_Descuento_T,0)						AS	DESC_TOT_LINEA,
				0.00000000											AS	DESC_TOT_GENERAL,
				ISNULL(FL.Cantidad*ART.COSTO_PROM_LOC,0)			AS	COSTO_TOTAL,
				ISNULL(FL.Subtotal,0)								AS	PRECIO_TOTAL,
				0.00000000											AS	CANTIDAD_DEVUELT,
				0.00000000											AS	DESCUENTO_VOLUMEN,
				'N'													AS	TIPO_LINEA,
				0.00000000											AS	CANTIDAD_ACEPTADA,
				0.00000000											AS	CANT_NO_ENTREGADA,
				ISNULL(FL.Cantidad*ART.COSTO_PROM_LOC,0)			AS	COSTO_TOTAL_LOCAL,
				0.00000000											AS	MULTIPLICADOR_EV,
				0.00000000											AS	CANT_DESPACHADA,
				0.00000000											AS	COSTO_ESTIM_LOCAL,
				0.00000000											AS	COSTO_ESTIM_DOLAR,
				0.00000000											AS	MONTO_RETENCION,
				0.00000000											AS	COSTO_TOTAL_COMP,
				0.00000000											AS	COSTO_TOTAL_COMP_LOCAL,	
				0.00000000											AS	COSTO_TOTAL_COMP_DOLAR,
				0.00000000											AS	COSTO_ESTIM_COMP_LOCAL,
				0.00000000											AS	COSTO_ESTIM_COMP_DOLAR,
				0.00000000											AS	CANT_DEV_PROCESO,
				0													AS	NoteExistsFlag,
				FL.Fecha_Registro									AS	RecordDate,
				NEWID()												AS	RowPointer,
				FL.Usuario_Registro									AS	CreatedBy,
				FL.Usuario_Modificacion								AS	UpdatedBy,
				FL.Fecha_Registro									AS	CreateDate,
				[AHPF_HN].[ASHPF].[GET_CENTRO_COSTO] (FL.Id_AR,F.Id_PT)	AS	CENTRO_COSTO,
				[AHPF_HN].[ASHPF].[GET_CUENTA_CONTABLE](FL.Id_AR,F.Id_PT)	AS	CUENTA_CONTABLE,
				[AHPF_HN].[ASHPF].[GET_TIPOARTICULO](FL.Id_AR)							AS	TIPO,
				F.Id_PT																	AS	CLIENTE_CORPORAC
	

				FROM H1_AHPF_HN.dbo.FCDT AS FL WITH(NOLOCK)
				INNER JOIN H1_AHPF_HN.dbo.FC AS F ON F.Id_FC = FL.Id_FC
				INNER JOIN AHPF_HN.ASHPF.ARTICULO AS ART ON CONVERT(NVARCHAR(20),ART.ARTICULO) = FL.Id_AR   COLLATE SQL_Latin1_General_CP850_CI_AS 
				
				WHERE FL.Id_FC=@Id_FC AND FL.PrecioUnitario >0 ORDER BY FL.linea
								
				--- INICIA EL PROCESO DE INSERCION DE LINEA

				SELECT @Id_FCDT = COUNT(*) FROM @FACTURA_LINEA

				WHILE @E <= @Id_FCDT
				
				BEGIN

				DECLARE @LINEA_C						INT

				SET @LINEA_C = ISNULL(MAX(ISNULL(@LINEA_C,0)) ,0)+1 

					SELECT
						@FACTURA							=	FL.FACTURA,
						@TIPO_DOCUMENTO						=	FL.TIPO_DOCUMENTO,
						@LINEA								=	@LINEA_C,
						@BODEGA								=	FL.BODEGA,
						@LOCALIZACION						=	FL.LOCALIZACION,
						@LOTE								=	FL.LOTE,
						@COSTO_TOTAL_DOLAR					=	FL.COSTO_TOTAL_DOLAR,
						@ARTICULO							=	FL.ARTICULO,
						@ANULADA							=	FL.ANULADA,
						@FECHA_FACTURA						=	FL.FECHA_FACTURA,
						@CANTIDAD							=	FL.CANTIDAD,
						@PRECIO_UNITARIO					=	FL.PRECIO_UNITARIO,
						@TOTAL_IMPUESTO1					=	FL.TOTAL_IMPUESTO1,
						@TOTAL_IMPUESTO2					=	FL.TOTAL_IMPUESTO2,
						@DESC_TOT_LINEA						=	FL.DESC_TOT_LINEA,
						@DESC_TOT_GENERAL					=	FL.DESC_TOT_GENERAL,
						@COSTO_TOTAL						=	FL.COSTO_TOTAL,
						@PRECIO_TOTAL						=	FL.PRECIO_TOTAL,
						@CANTIDAD_DEVUELT					=	FL.CANTIDAD_DEVUELT,
						@DESCUENTO_VOLUMEN					=	FL.DESCUENTO_VOLUMEN,
						@TIPO_LINEA							=	FL.TIPO_LINEA,
						@CANTIDAD_ACEPTADA					=	FL.CANTIDAD_ACEPTADA,
						@CANT_NO_ENTREGADA					=	FL.CANT_NO_ENTREGADA,
						@COSTO_TOTAL_LOCAL					=	FL.COSTO_TOTAL_LOCAL,
						@MULTIPLICADOR_EV					=	FL.MULTIPLICADOR_EV,
						@CANT_DESPACHADA					=	FL.CANT_DESPACHADA,
						@COSTO_ESTIM_LOCAL					=	FL.COSTO_ESTIM_LOCAL,
						@COSTO_ESTIM_DOLAR					=	FL.COSTO_ESTIM_DOLAR,
						@COSTO_ESTIM_COMP_LOCAL				=	FL.COSTO_ESTIM_COMP_LOCAL,
						@COSTO_ESTIM_COMP_DOLAR				=	FL.COSTO_ESTIM_COMP_DOLAR,
						@MONTO_RETENCION					=	FL.MONTO_RETENCION,
						@COSTO_TOTAL_COMP					=	FL.COSTO_TOTAL_COMP,
						@COSTO_TOTAL_COMP_LOCAL				=	FL.COSTO_TOTAL_COMP_LOCAL,
						@COSTO_TOTAL_COMP_DOLAR				=	FL.COSTO_TOTAL_COMP_DOLAR,
						@CANT_DEV_PROCESO					=	FL.CANT_DEV_PROCESO,
						@NoteExistsFlag						=	FL.NoteExistsFlag,
						@RecordDate							=	FL.RecordDate,
						@RowPointer							=	FL.RowPointer,
						@CreatedBy							=	FL.CreatedBy,
						@UpdatedBy							=	FL.UpdatedBy,
						@CreateDate							=	FL.CreateDate,
						@TIPO								=	FL.TIPO,
						@CLIENTE_CORPORAC					=	FL.CLIENTE_CORPORAC


					
					FROM @FACTURA_LINEA	AS	FL	WHERE	FL.ID	=	@E	

							
						
					
					IF @TIPO != 'K'
						BEGIN
												
							

							INSERT INTO AHPF_HN.ASHPF.FACTURA_LINEA
							(FACTURA,TIPO_DOCUMENTO,LINEA,BODEGA,LOCALIZACION,LOTE,COSTO_TOTAL_DOLAR,ARTICULO,ANULADA,FECHA_FACTURA,CANTIDAD,PRECIO_UNITARIO,TOTAL_IMPUESTO1,		
							 TOTAL_IMPUESTO2,DESC_TOT_LINEA,DESC_TOT_GENERAL,COSTO_TOTAL,PRECIO_TOTAL,CANTIDAD_DEVUELT,DESCUENTO_VOLUMEN,TIPO_LINEA,CANTIDAD_ACEPTADA,		
							 CANT_NO_ENTREGADA,COSTO_TOTAL_LOCAL,MULTIPLICADOR_EV,CANT_DESPACHADA,COSTO_ESTIM_LOCAL,COSTO_ESTIM_DOLAR,MONTO_RETENCION,COSTO_TOTAL_COMP,		
							 COSTO_TOTAL_COMP_LOCAL,COSTO_TOTAL_COMP_DOLAR,COSTO_ESTIM_COMP_LOCAL,COSTO_ESTIM_COMP_DOLAR,CANT_DEV_PROCESO, 
							 NoteExistsFlag,RecordDate,RowPointer,CreatedBy,UpdatedBy,CreateDate,CENTRO_COSTO,CUENTA_CONTABLE)	

							 VALUES 
							 (@FACTURA,@TIPO_DOCUMENTO,@LINEA_C,@BODEGA,@LOCALIZACION,@LOTE,@COSTO_TOTAL_DOLAR,@ARTICULO,@ANULADA,@FECHA_FACTURA,@CANTIDAD,@PRECIO_UNITARIO,@TOTAL_IMPUESTO1,		
							 @TOTAL_IMPUESTO2,@DESC_TOT_LINEA,@DESC_TOT_GENERAL,@COSTO_TOTAL,@PRECIO_TOTAL,@CANTIDAD_DEVUELT,@DESCUENTO_VOLUMEN,@TIPO_LINEA,@CANTIDAD_ACEPTADA,		
							 @CANT_NO_ENTREGADA,@COSTO_TOTAL_LOCAL,@MULTIPLICADOR_EV,@CANT_DESPACHADA,@COSTO_ESTIM_LOCAL,@COSTO_ESTIM_DOLAR,@MONTO_RETENCION,@COSTO_TOTAL_COMP,		
							 @COSTO_TOTAL_COMP_LOCAL,@COSTO_TOTAL_COMP_DOLAR,@COSTO_ESTIM_COMP_LOCAL,@COSTO_ESTIM_COMP_DOLAR,@CANT_DEV_PROCESO, 
							 @NoteExistsFlag,@RecordDate,NEWID(),@CreatedBy,@UpdatedBy,@CreateDate,@CENTRO_COSTO,@CUENTA_CONTABLE)	

							 EXEC  AHPF_HN.ASHPF.EB_EL_H1 @ARTICULO, @CANTIDAD, @BODEGA, @LOCALIZACION,@LOTE	
						END

					IF @TIPO ='K'
						BEGIN
													
						--- CONSUMO ---

							INSERT INTO AHPF_HN.ASHPF.FACTURA_LINEA
							(FACTURA,TIPO_DOCUMENTO,LINEA,BODEGA,LOCALIZACION,LOTE,COSTO_TOTAL_DOLAR,ARTICULO,ANULADA,FECHA_FACTURA,CANTIDAD,PRECIO_UNITARIO,TOTAL_IMPUESTO1,		
							 TOTAL_IMPUESTO2,DESC_TOT_LINEA,DESC_TOT_GENERAL,COSTO_TOTAL,PRECIO_TOTAL,CANTIDAD_DEVUELT,DESCUENTO_VOLUMEN,TIPO_LINEA,CANTIDAD_ACEPTADA,		
							 CANT_NO_ENTREGADA,COSTO_TOTAL_LOCAL,MULTIPLICADOR_EV,CANT_DESPACHADA,COSTO_ESTIM_LOCAL,COSTO_ESTIM_DOLAR,MONTO_RETENCION,COSTO_TOTAL_COMP,		
							 COSTO_TOTAL_COMP_LOCAL,COSTO_TOTAL_COMP_DOLAR,COSTO_ESTIM_COMP_LOCAL,COSTO_ESTIM_COMP_DOLAR,CANT_DEV_PROCESO, 
							 NoteExistsFlag,RecordDate,RowPointer,CreatedBy,UpdatedBy,CreateDate,CENTRO_COSTO,CUENTA_CONTABLE)	

							 VALUES 
							 (@FACTURA,@TIPO_DOCUMENTO,@LINEA_C,@BODEGA,@LOCALIZACION,@LOTE,@COSTO_TOTAL_DOLAR,@ARTICULO,@ANULADA,@FECHA_FACTURA,@CANTIDAD,@PRECIO_UNITARIO,@TOTAL_IMPUESTO1,		
							 @TOTAL_IMPUESTO2,@DESC_TOT_LINEA,@DESC_TOT_GENERAL,@COSTO_TOTAL,@PRECIO_TOTAL,@CANTIDAD_DEVUELT,@DESCUENTO_VOLUMEN,'K',@CANTIDAD_ACEPTADA,		
							 @CANT_NO_ENTREGADA,@COSTO_TOTAL_LOCAL,1,@CANT_DESPACHADA,@COSTO_ESTIM_LOCAL,@COSTO_ESTIM_DOLAR,@MONTO_RETENCION,@COSTO_TOTAL_COMP,		
							 @COSTO_TOTAL_COMP_LOCAL,@COSTO_TOTAL_COMP_DOLAR,@COSTO_ESTIM_COMP_LOCAL,@COSTO_ESTIM_COMP_DOLAR,@CANT_DEV_PROCESO, 
							 @NoteExistsFlag,@RecordDate,NEWID(),@CreatedBy,@UpdatedBy,@CreateDate,@CENTRO_COSTO,@CUENTA_CONTABLE)	

							 EXEC  AHPF_HN.ASHPF.EB_EL_H1 @ARTICULO, @CANTIDAD, @BODEGA, @LOCALIZACION,@LOTE					
							 			

											/*----------------------------------------------------*/
														--- LINEA DE ARTICULO COMSUMO ---
											 --------------------------------------------------------

											--------------------------------------------------------------------------------------------------
											---------------------	VARIABLES ARTICULO HIJO	------------------------------
											--------------------------------------------------------------------------------------------------

											DECLARE @ARTICULO_HIJO									AS VARCHAR(20)
											DECLARE @CANTIDAD_KIT									AS DECIMAL(28,8)
											DECLARE @COSTO_TOT_FISC_LOC_KIT							AS DECIMAL(28,8)
											DECLARE @COSTO_TOT_FISC_DOL_KIT							AS DECIMAL(28,8)
											DECLARE @COSTO_TOT_COMP_LOC_KIT							AS DECIMAL(28,8)
											DECLARE @COSTO_TOT_COMP_DOL_KIT							AS DECIMAL(28,8)
											DECLARE @CENTRO_COSTO_KIT								AS VARCHAR(25)
											DECLARE @CUENTA_CONTABLE_KIT							AS VARCHAR(25)
											DECLARE @LOCALIZACION_KIT								AS VARCHAR(8)
											DECLARE @LOTE_KIT										AS VARCHAR(15)
											DECLARE @BODEGA_KIT										AS VARCHAR(4)
											
											
											------------------------------------------------------------------------------------------------
											---------------- OBTENER ARTICULO ENSAMBLE ---------------------------
											------------------------------------------------------------------------------------------------

											SET @ARTICULO_HIJO		 =(SELECT A1.ARTICULO_HIJO FROM AHPF_HN.ASHPF.ARTICULO_ENSAMBLE AS A1 WHERE A1.ARTICULO_PADRE=@ARTICULO)
											SET @CANTIDAD_KIT		 =(SELECT A1.CANTIDAD FROM AHPF_HN.ASHPF.ARTICULO_ENSAMBLE AS A1 WHERE A1.ARTICULO_HIJO=@ARTICULO_HIJO AND A1.ARTICULO_PADRE=@ARTICULO)

											-----------------------------------------------------------------------------------------------
											-------------- OBTENER COSTO ---------------------------------------------------
											----------------------------------------------------------------------------------------------

											SET @COSTO_TOT_FISC_LOC_KIT =( SELECT [AHPF_HN].[ASHPF].[GET_COSTO_ARTICULO] (@ARTICULO_HIJO,@BODEGA,@CANTIDAD_KIT) * @CANTIDAD)
											SET @COSTO_TOT_FISC_DOL_KIT = 0.00000000

											SET @COSTO_TOT_COMP_LOC_KIT =(SELECT [AHPF_HN].[ASHPF].[GET_COSTO_ARTICULO] (@ARTICULO_HIJO,@BODEGA,@CANTIDAD_KIT) * @CANTIDAD)
											SET @COSTO_TOT_COMP_DOL_KIT = 0.00000000

											SET @LINEA_C = @LINEA_C + 1
											-----------------------------------------------------------------------------------------------------------
											-------------- OBTENER CENTRO COSTO Y CUENTA CONTABLE --------------
											-----------------------------------------------------------------------------------------------------------
																

											SET @CENTRO_COSTO_KIT = NULL
											SET @CUENTA_CONTABLE_KIT =NULL

											-----------------------------------------------------------------------------------------------------------
											------------- OBTENER LOTE Y LOCALIZACION ----------------------------------------
											-----------------------------------------------------------------------------------------------------------

											SELECT 
											@LOTE_KIT					=	EB.LOTE,        
											@LOCALIZACION_KIT			=	EB.LOCALIZACION  
						
											FROM   AHPF_HN.ASHPF.EXISTENCIA_LOTE AS EB,        ASHPF.LOTE LOT 
											WHERE  EB.ARTICULO = @ARTICULO_HIJO       
											AND EB.LOTE = LOT.LOTE        
											AND EB.ARTICULO = LOT.ARTICULO        
											AND LOT.FECHA_VENCIMIENTO > '1980-1-1 00:00:00:000'        
											AND EB.BODEGA = @BODEGA					 
											AND EB.LOCALIZACION != 'ND' ORDER BY        LOT.FECHA_VENCIMIENTO											

											--- ENSAMBLE ---

											 INSERT INTO AHPF_HN.ASHPF.FACTURA_LINEA
											(FACTURA,TIPO_DOCUMENTO,LINEA,BODEGA,LOCALIZACION,LOTE,COSTO_TOTAL_DOLAR,ARTICULO,ANULADA,FECHA_FACTURA,CANTIDAD,PRECIO_UNITARIO,TOTAL_IMPUESTO1,		
											 TOTAL_IMPUESTO2,DESC_TOT_LINEA,DESC_TOT_GENERAL,COSTO_TOTAL,PRECIO_TOTAL,CANTIDAD_DEVUELT,DESCUENTO_VOLUMEN,TIPO_LINEA,CANTIDAD_ACEPTADA,		
											 CANT_NO_ENTREGADA,COSTO_TOTAL_LOCAL,MULTIPLICADOR_EV,CANT_DESPACHADA,COSTO_ESTIM_LOCAL,COSTO_ESTIM_DOLAR,MONTO_RETENCION,COSTO_TOTAL_COMP,		
											 COSTO_TOTAL_COMP_LOCAL,COSTO_TOTAL_COMP_DOLAR,COSTO_ESTIM_COMP_LOCAL,COSTO_ESTIM_COMP_DOLAR,CANT_DEV_PROCESO, 
											 NoteExistsFlag,RecordDate,RowPointer,CreatedBy,UpdatedBy,CreateDate,CENTRO_COSTO,CUENTA_CONTABLE)	

											 VALUES 
											 (@FACTURA,'F',@LINEA_C,@BODEGA,@LOCALIZACION_KIT,@LOTE_KIT,0.00000000,@ARTICULO_HIJO,'N',GETDATE(),@CANTIDAD,0.00000000,0.00000000,		
											 0.00000000,0.00000000,0.00000000,@COSTO_TOT_FISC_LOC_KIT,0.00000000,0.00000000,0.00000000,'C',0.00000000,		
											 0.00000000,@COSTO_TOT_COMP_LOC_KIT,0,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,		
											 0.00000000,0.00000000,0.00000000,0.00000000,0.00000000, 0,GETDATE(),NEWID(),@UpdatedBy,@UpdatedBy,GETDATE(),@CENTRO_COSTO_KIT,@CUENTA_CONTABLE_KIT)
																	
										
						END
					
					
					SET @E = @E + 1
				END

				


		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END
		EXECUTE ASHPF.Sp_LogError;
	END CATCH;
END


