USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_DOCUMENTO_CC_REC_FA_H1_R]    Script Date: 11/9/2022 3:35:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,Aurora>
-- Create date: <Create Date,27-07-2017>
-- Description:	<Description,Procedimiento creado para generar recibos de  factura con Copagos>
-- =============================================
ALTER PROCEDURE [ASHPF].[sP_DOCUMENTO_CC_REC_FA_H1_R]
	-- Add the parameters for the stored procedure here
	@FACTURA			AS NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		DECLARE @DOCUMENTO			AS NVARCHAR(50)
		DECLARE @TIPO				AS VARCHAR(3)
		DECLARE @APLICACION			AS VARCHAR(249)
		DECLARE @FECHA_DOCUMENTO	AS DATETIME
		DECLARE @FECHA				AS DATETIME
		DECLARE @MONTO				AS DECIMAL(28,8)
		DECLARE @SALDO				AS DECIMAL(28,8)
		DECLARE @MONTO_LOCAL		AS DECIMAL(28,8)
		DECLARE @SALDO_LOCAL		AS DECIMAL(28,8)
		DECLARE @MONTO_DOLAR		AS DECIMAL(28,8)
		DECLARE @SALDO_DOLAR		AS DECIMAL(28,8)
		DECLARE @MONTO_CLIENTE		AS DECIMAL(28,8)
		DECLARE @SALDO_CLIENTE		AS DECIMAL(28,8)
		DECLARE @TIPO_CAMBIO_MONEDA	AS DECIMAL(28,8)
		DECLARE @TIPO_CAMBIO_DOLAR	AS DECIMAL(28,8)
		DECLARE @TIPO_CAMBIO_CLIENT	AS DECIMAL(28,8)
		DECLARE @TIPO_CAMB_ACT_LOC	AS DECIMAL(28,8)
		DECLARE @TIPO_CAMB_ACT_DOL	AS DECIMAL(28,8)
		DECLARE @TIPO_CAMB_ACT_CLI	AS DECIMAL(28,8)
		DECLARE @SUBTOTAL			AS DECIMAL(28,8)
		DECLARE @DESCUENTO			AS DECIMAL(28,8)
		DECLARE @IMPUESTO1			AS DECIMAL(28,8)
		DECLARE @IMPUESTO2			AS DECIMAL(28,8)
		DECLARE @RUBRO1				AS DECIMAL(28,8)
		DECLARE @RUBRO2				AS DECIMAL(28,8)
		DECLARE @MONTO_RETENCION	AS DECIMAL(28,8)
		DECLARE @SALDO_RETENCION	AS DECIMAL(28,8)
		DECLARE @DEPENDIENTE		AS VARCHAR(1)
		DECLARE @FECHA_ULT_CREDITO	AS DATETIME
		DECLARE @CARGADO_DE_FACT	AS VARCHAR(1)
		DECLARE @APROBADO			AS VARCHAR(1)
		DECLARE @ASIENTO			AS VARCHAR(10)
		DECLARE @ASIENTO_PENDIENTE	AS VARCHAR(1)
		DECLARE @FECHA_ULT_MOD		AS DATETIME
		DECLARE @CLASE_DOCUMENTO	AS VARCHAR(1)
		DECLARE @FECHA_VENCE		AS DATETIME
		DECLARE @NUM_PARCIALIDADES	AS SMALLINT
		DECLARE @USUARIO_ULT_MOD	AS VARCHAR(25)
		DECLARE @CONDICION_PAGO		AS VARCHAR(4)
		DECLARE @MONEDA				AS VARCHAR(4)
		DECLARE @CLIENTE_REPORTE	AS VARCHAR(20)
		DECLARE @CLIENTE_ORIGEN		AS VARCHAR(20)
		DECLARE @CLIENTE			AS VARCHAR(20)
		DECLARE @PORC_INTCTE		AS DECIMAL(28,8)
		DECLARE @DEPENDIENTE_GP		AS VARCHAR(1)
		DECLARE @SALDO_TRANS		AS DECIMAL(28,8)
		DECLARE @SALDO_TRANS_LOCAL	AS DECIMAL(28,8)
		DECLARE @SALDO_TRANS_DOLAR	AS DECIMAL(28,8)
		DECLARE @SALDO_TRANS_CLI	AS DECIMAL(28,8)
		DECLARE @TIPO_CAMBIO_FAC	AS DECIMAL(28,8)
		DECLARE @NoteExistsFlag		AS TINYINT
		DECLARE @RecordDate			AS DATETIME
		DECLARE @RowPointer			AS UNIQUEIDENTIFIER
		DECLARE @CreatedBy			AS VARCHAR(30)
		DECLARE @UpdatedBy			AS VARCHAR(30)
		DECLARE @CreateDate			AS DATETIME
		DECLARE @ANULADO			AS VARCHAR(1) 		
		DECLARE @COBRADOR			AS VARCHAR(4)	
		DECLARE @VENDEDOR			AS VARCHAR(4)
		DECLARE @SUBTIPO			AS SMALLINT
		DECLARE @FACTURADO			AS VARCHAR(1)
		DECLARE @GENERA_DOC_FE		AS VARCHAR(1)
		DECLARE @MONTO_E				AS DECIMAL(28,8)
		DECLARE @MONTO_T				AS DECIMAL(28,8)
		DECLARE @UDF_Nombre_Paciente	AS NVARCHAR(500)	
		DECLARE @SerieTR				AS INT	
		DECLARE @Serie					AS INT	
		DECLARE @Id_UH					AS VARCHAR(20)
		DECLARE @SerieCC				AS NVARCHAR(10) 
		DECLARE @UDF_Cliente			AS NVARCHAR(200)
	
  declare @Mensaje as nvarchar(500)
	BEGIN TRY
		BEGIN TRANSACTION
    -- Insert statements for procedure here
	   DECLARE @id INT,@count INT
	   DECLARE @Id_FC INT
	   SET @id=1
	   SELECT top 1 @Id_FC=Id_FC FROM H1_AHPF_HN.dbo.FC WHERE UDF_Factura_E=@FACTURA
	   SELECT @count=count(*)FROM H1_AHPF_HN.dbo.fcpg WHERE (TipoPago='E' OR TipoPago='T') AND  id_fc=@Id_FC 
	   	 DECLARE @PG AS DECIMAL(19,5), @IdFCPG AS INT
	   WHILE @id<=@count
			BEGIN

		SET @Id_UH	= (SELECT TOP 1 Id_UH FROM H1_AHPF_HN.dbo.FC WHERE UDF_Factura_E=@FACTURA)
		SET @SerieTR  = (SELECT TOP 1 SerieTR FROM H1_AHPF_HN.dbo.UH WHERE Id_UH=@Id_UH)
		SET @UDF_Nombre_Paciente = (SELECT TOP 1 UDF_Nombre_Paciente FROM H1_AHPF_HN.dbo.FC WHERE UDF_Factura_E=@FACTURA)

		--- CALL ASHPF.sP_GET_Journal_Number
		DECLARE @SerieA AS VARCHAR(50)
		DECLARE @SerieB AS VARCHAR(10)
		
		EXECUTE AHPF_HN.ASHPF.sP_GET_SERIAL_CXC @SerieTR, @SerieOUT = @SerieA OUTPUT, @SerieCC = @SerieB OUTPUT
					
		SET @TIPO_CAMBIO_FAC		= (SELECT TOP 1  TIPO_CAMBIO FROM AHPF_HN.ASHPF.FACTURA WHERE FACTURA=@FACTURA)
		SET @UDF_Nombre_Paciente	= (SELECT TOP 1 UDF_Nombre_Paciente FROM H1_AHPF_HN.dbo.FC WHERE UDF_Factura_E=@FACTURA)
		SET @UDF_Cliente			= (SELECT TOP 1 UDF_Cliente FROM H1_AHPF_HN.dbo.FC WHERE UDF_Factura_E=@FACTURA)
		
     		
						SET @PG=(SELECT top 1 PAGO FROM (SELECT  PAGO ,RANK()OVER (ORDER BY Id_fcpg ASC)AS RANK FROM H1_AHPF_HN.DBO.fcpg  WHERE (TipoPago='E' OR TipoPago='T')and  id_fc=@Id_FC) AS ji
						WHERE rank=@id)
						
						SET @IdFCPG=(SELECT top 1 Id_fcpg FROM (SELECT  Id_fcpg ,RANK()OVER (ORDER BY Id_fcpg ASC)AS RANK FROM H1_AHPF_HN.DBO.fcpg  WHERE (TipoPago='E' OR TipoPago='T')and  id_fc=@Id_FC) AS jl
						WHERE rank=@id)
				
				SELECT DISTINCT 					 
					@DOCUMENTO =(SELECT  @SerieA),@TIPO ='REC',	@APLICACION = ('Abono cancelacion de factura: ' + @FACTURA + ' - Cliente: ' + UPPER(@UDF_Nombre_Paciente)),
					@FECHA_DOCUMENTO = FAC.FECHA, @FECHA = FAC.FECHA,@MONTO = (@PG), @SALDO = 0.00000000,@MONTO_LOCAL = (@PG),@SALDO_LOCAL = 0.00000000,
					@MONTO_DOLAR = ((@PG) / FAC.TIPO_CAMBIO),@SALDO_DOLAR = 0.00000000,	
					@MONTO_CLIENTE= (@PG),@SALDO_CLIENTE = 0.00000000,@TIPO_CAMBIO_MONEDA = FAC.TIPO_CAMBIO,@TIPO_CAMBIO_DOLAR = FAC.TIPO_CAMBIO,@TIPO_CAMBIO_CLIENT = FAC.TIPO_CAMBIO,@TIPO_CAMB_ACT_LOC = FAC.TIPO_CAMBIO,@TIPO_CAMB_ACT_DOL = FAC.TIPO_CAMBIO,
					@TIPO_CAMB_ACT_CLI = FAC.TIPO_CAMBIO,@SUBTOTAL = (@PG),@DESCUENTO =0.00000000,@IMPUESTO1 =0.00000000,@IMPUESTO2 =0.00000000,@RUBRO1 =0.00000000,@RUBRO2 =0.00000000,@MONTO_RETENCION =0.00000000,@SALDO_RETENCION =0.00000000,@DEPENDIENTE = 'N',
					@FECHA_ULT_CREDITO = FAC.FECHA,@CARGADO_DE_FACT = 'N',@APROBADO = 'S',@ASIENTO =(SELECT  @SerieB),@ASIENTO_PENDIENTE = 'N',@FECHA_ULT_MOD = FAC.FECHA,@CLASE_DOCUMENTO = 'N',@FECHA_VENCE = FAC.FECHA,@NUM_PARCIALIDADES = 0,
					@COBRADOR = FAC.COBRADOR,@USUARIO_ULT_MOD = FAC.USUARIO,@CONDICION_PAGO = FAC.CONDICION_PAGO,@MONEDA = (CASE WHEN FAC.MONEDA='L' THEN 'LPS' END),@VENDEDOR = FAC.VENDEDOR,@CLIENTE_REPORTE = FAC.CLIENTE,@CLIENTE_ORIGEN =FAC.CLIENTE,@CLIENTE = FAC.CLIENTE,@SUBTIPO = 0,
					@PORC_INTCTE = 0.00000000,@NoteExistsFlag =0,@RecordDate = FAC.RecordDate,@RowPointer = NEWID(),@CreatedBy = FAC.CreatedBy,@UpdatedBy = FAC.UpdatedBy,@CreateDate = FAC.CreateDate,@ANULADO = FAC.ANULADA,@DEPENDIENTE_GP = 'N',@SALDO_TRANS =0.00000000,@SALDO_TRANS_LOCAL =0.00000000,
					@SALDO_TRANS_DOLAR=0.00000000,@SALDO_TRANS_CLI =0.00000000,@FACTURADO	= 'N',@GENERA_DOC_FE = 'N'					
				FROM AHPF_HN.ASHPF.FACTURA AS FAC INNER JOIN AHPF_HN.ASHPF.FACTURA_CANCELA AS FC ON FC.FACTURA = FAC.FACTURA			WHERE FAC.FACTURA =@FACTURA  

						--- INSERT DOCUMENTO CREDITO DOCUMENTOS_CC

						INSERT INTO AHPF_HN.ASHPF.DOCUMENTOS_CC 
						(DOCUMENTO,TIPO,APLICACION,FECHA_DOCUMENTO,FECHA,MONTO,SALDO,MONTO_LOCAL,SALDO_LOCAL,MONTO_DOLAR,SALDO_DOLAR,
						MONTO_CLIENTE,SALDO_CLIENTE,TIPO_CAMBIO_MONEDA,TIPO_CAMBIO_DOLAR,TIPO_CAMBIO_CLIENT,TIPO_CAMB_ACT_LOC,TIPO_CAMB_ACT_DOL,
						TIPO_CAMB_ACT_CLI,SUBTOTAL,DESCUENTO,IMPUESTO1,IMPUESTO2,RUBRO1,RUBRO2,MONTO_RETENCION,SALDO_RETENCION,DEPENDIENTE,
						FECHA_ULT_CREDITO,CARGADO_DE_FACT,APROBADO,ASIENTO,ASIENTO_PENDIENTE,FECHA_ULT_MOD,CLASE_DOCUMENTO,FECHA_VENCE,NUM_PARCIALIDADES,
						COBRADOR,USUARIO_ULT_MOD,CONDICION_PAGO,MONEDA,VENDEDOR,CLIENTE_REPORTE,CLIENTE_ORIGEN,CLIENTE,SUBTIPO,
						PORC_INTCTE,NoteExistsFlag,RecordDate,RowPointer,CreatedBy,UpdatedBy,CreateDate,ANULADO,DEPENDIENTE_GP,SALDO_TRANS,SALDO_TRANS_LOCAL,
						SALDO_TRANS_DOLAR,SALDO_TRANS_CLI,FACTURADO,GENERA_DOC_FE)

						VALUES
						(@DOCUMENTO,@TIPO,@APLICACION,@FECHA_DOCUMENTO,@FECHA,@MONTO,@SALDO,@MONTO_LOCAL,@SALDO_LOCAL,@MONTO_DOLAR,@SALDO_DOLAR,
						@MONTO_CLIENTE,@SALDO_CLIENTE,@TIPO_CAMBIO_MONEDA,@TIPO_CAMBIO_DOLAR,@TIPO_CAMBIO_CLIENT,@TIPO_CAMB_ACT_LOC,@TIPO_CAMB_ACT_DOL,
						@TIPO_CAMB_ACT_CLI,@SUBTOTAL,@DESCUENTO,@IMPUESTO1,@IMPUESTO2,@RUBRO1,@RUBRO2,@MONTO_RETENCION,@SALDO_RETENCION,@DEPENDIENTE,
						@FECHA_ULT_CREDITO,@CARGADO_DE_FACT,@APROBADO,@ASIENTO,@ASIENTO_PENDIENTE,@FECHA_ULT_MOD,@CLASE_DOCUMENTO,@FECHA_VENCE,@NUM_PARCIALIDADES,
						@COBRADOR,@USUARIO_ULT_MOD,@CONDICION_PAGO,@MONEDA,@VENDEDOR,@CLIENTE_REPORTE,@CLIENTE_ORIGEN,@CLIENTE,@SUBTIPO,
						@PORC_INTCTE,@NoteExistsFlag,@RecordDate,@RowPointer,@USUARIO_ULT_MOD,@USUARIO_ULT_MOD,@CreateDate,@ANULADO,@DEPENDIENTE_GP,@SALDO_TRANS,@SALDO_TRANS_LOCAL,@SALDO_TRANS_DOLAR,@SALDO_TRANS_CLI,@FACTURADO,@GENERA_DOC_FE)


						--- INSERT DOCUMENTO CREDITO AUXILIAR_CC
						EXEC AHPF_HN.ASHPF.sP_AUXILIAR_CC_FA_H1 @DOCUMENTO, @FACTURA
					    
					
					   UPDATE H1_AHPF_HN.dbo.FCPG SET UDF_Num_Recibo=@DOCUMENTO WHERE Id_FC=@Id_FC AND Id_fcpg=@IdFCPG

					   SELECT @id=@id+1
						
			END
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
	 SET @Mensaje = 'Ocurrio un Error: '+ERROR_MESSAGE()+' en la línea ' + CONVERT(NVARCHAR(255), ERROR_LINE() ) + '.'
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION
		END

		EXECUTE ASHPF.Sp_LogError;
		
	END CATCH 
	return @Mensaje
END

