USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_DOCUMENTO_CC_REC_POS_ANUL]    Script Date: 11/9/2022 3:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [ASHPF].[sP_DOCUMENTO_CC_REC_POS_ANUL]
	@FACTURA			AS VARCHAR(50),
	@USUARIO			AS VARCHAR(30)
AS
BEGIN
	
	SET NOCOUNT ON;

		DECLARE @DOCUMENTO					AS NVARCHAR(50)
		DECLARE @TIPO						AS VARCHAR(3)
		DECLARE @APLICACION					AS VARCHAR(249)
		DECLARE @FECHA_DOCUMENTO			AS DATETIME
		DECLARE @FECHA						AS DATETIME
		DECLARE @MONTO						AS DECIMAL(28,8)
		DECLARE @SALDO						AS DECIMAL(28,8)
		DECLARE @MONTO_LOCAL				AS DECIMAL(28,8)
		DECLARE @SALDO_LOCAL				AS DECIMAL(28,8)
		DECLARE @MONTO_DOLAR				AS DECIMAL(28,8)
		DECLARE @SALDO_DOLAR				AS DECIMAL(28,8)
		DECLARE @MONTO_CLIENTE				AS DECIMAL(28,8)
		DECLARE @SALDO_CLIENTE				AS DECIMAL(28,8)
		DECLARE @SUBTOTAL					AS DECIMAL(28,8)		
		DECLARE @FECHA_ULT_CREDITO			AS DATETIME		
		DECLARE @APROBADO					AS VARCHAR(1)		
		DECLARE @FECHA_ULT_MOD				AS DATETIME		
		DECLARE @CLASE_DOCUMENTO			AS VARCHAR(1)
		DECLARE @FECHA_VENCE				AS DATETIME	
		DECLARE @USUARIO_ULT_MOD			AS VARCHAR(25)		
		DECLARE @CLIENTE					AS VARCHAR(20)
		DECLARE @UpdatedBy					AS VARCHAR(30)		
		DECLARE @ANULADO					AS VARCHAR(1) 		
		DECLARE @DIAS_NETO					AS INT
		DECLARE @FECHA_VENCE_T				DATETIME
		DECLARE	@DOC_DOC_ORIGEN				AS VARCHAR(50)

		/*-----------------------------------------------------------*/
						--- VAIABLES TEMPORALES O/D ---
		---------------------------------------------------------------

		DECLARE	@TEMP_DOCUMENTO				NVARCHAR(50)
		DECLARE	@TEMP_TIPO					VARCHAR(3)
		DECLARE	@TEMP_APLICACION			VARCHAR(3)
		DECLARE	@TEMP_FECHA_DOCUMENTO		DATETIME
		DECLARE	@TEMP_FECHA					DATETIME
		DECLARE	@TEMP_MONTO					DECIMAL(28,8)
		DECLARE	@TEMP_SALDO					DECIMAL(28,8)
		DECLARE	@TEMP_MONTO_LOCAL			DECIMAL(28,8)
		DECLARE	@TEMP_SALDO_LOCAL			DECIMAL(28,8)
		DECLARE	@TEMP_MONTO_DOLAR			DECIMAL(28,8)
		DECLARE	@TEMP_SALDO_DOLAR			DECIMAL(28,8)
		DECLARE	@TEMP_MONTO_CLIENTE			DECIMAL(28,8)
		DECLARE	@TEMP_SALDO_CLIENTE			DECIMAL(28,8)
		DECLARE	@TEMP_SUBTOTAL				DECIMAL(28,8)
		DECLARE	@TEMP_APROBADO				VARCHAR(1)
		DECLARE	@TEMP_USUARIO_ULT_MOD		VARCHAR(25)
		DECLARE	@TEMP_DOC_DOC_ORIGEN		NVARCHAR(50)
		DECLARE	@TEMP_FECHA_ANUL			DATETIME
		DECLARE	@TEMP_AUD_USUARIO_ANUL		VARCHAR(25)
		DECLARE	@TEMP_AUD_FECHA_ANUL		DATETIME
		DECLARE	@TEMP_USUARIO_APROBACION	VARCHAR(25)
		DECLARE	@TEMP_FECHA_APROBACION		DATETIME
		DECLARE	@TEMP_UpdatedBy				VARCHAR(25)
		DECLARE	@TEMP_ANULADO				VARCHAR(1)
		DECLARE @TEMP_CLIENTE				VARCHAR(20)

		/*--------------------------------------------------------------*/
			--- VARIALES PARA ITERACION EN DOCUMENTOS_CC TIPO O/D ---
		------------------------------------------------------------------

		DECLARE @I					AS	INT
			SET @I = 1
		DECLARE @Id_DOC				AS	INT

		BEGIN TRY
			BEGIN TRANSACTION 

		/*--------------------------------------------------------------*/
				--- TABLA TEMPORAL CON LOS DOCUMENTOS TIPO O/D ---
		------------------------------------------------------------------

				DECLARE @DOCUMENTOS_CC_OD AS TABLE(		
				ID INT IDENTITY(1,1)		PRIMARY KEY,
				DOCUMENTO					NVARCHAR(50),
				TIPO						VARCHAR(3),
				APLICACION					VARCHAR(249),
				FECHA_DOCUMENTO				DATETIME,
				FECHA						DATETIME,
				MONTO						DECIMAL(28,8),
				SALDO						DECIMAL(28,8),
				MONTO_LOCAL					DECIMAL(28,8),
				SALDO_LOCAL					DECIMAL(28,8),
				MONTO_DOLAR					DECIMAL(28,8),
				SALDO_DOLAR					DECIMAL(28,8),
				MONTO_CLIENTE				DECIMAL(28,8),
				SALDO_CLIENTE				DECIMAL(28,8),
				SUBTOTAL					DECIMAL(28,8),
				APROBADO					VARCHAR(1),
				USUARIO_ULT_MOD				VARCHAR(25),
				DOC_DOC_ORIGEN				NVARCHAR(50),
				FECHA_ANUL					DATETIME,
				AUD_USUARIO_ANUL			VARCHAR(25),
				AUD_FECHA_ANUL				DATETIME,
				USUARIO_APROBACION			VARCHAR(25),
				FECHA_APROBACION			DATETIME,
				UpdatedBy					VARCHAR(25),
				ANULADO						VARCHAR(1),
				CLIENTE						VARCHAR(20))
				

		/*----------------------------------------------------------------*/
					--- OBTENER REGISTRO DOCUMENTOS O/D ---
		--------------------------------------------------------------------

		INSERT INTO @DOCUMENTOS_CC_OD
		(DOCUMENTO,TIPO,APLICACION,FECHA_DOCUMENTO,FECHA,MONTO,SALDO,MONTO_LOCAL,
		SALDO_LOCAL,MONTO_DOLAR,SALDO_DOLAR,MONTO_CLIENTE,SALDO_CLIENTE,SUBTOTAL,
		APROBADO,USUARIO_ULT_MOD,DOC_DOC_ORIGEN,FECHA_ANUL,AUD_USUARIO_ANUL,AUD_FECHA_ANUL,
		USUARIO_APROBACION,FECHA_APROBACION,UpdatedBy,ANULADO,CLIENTE)

				SELECT 
				DOCUMENTO,
				TIPO,
				APLICACION,
				FECHA_DOCUMENTO,
				FECHA,
				MONTO,
				SALDO,
				MONTO_LOCAL,
				SALDO_LOCAL,
				MONTO_DOLAR,
				SALDO_DOLAR,
				MONTO_CLIENTE,
				SALDO_CLIENTE,
				SUBTOTAL,
				APROBADO,
				USUARIO_ULT_MOD,
				DOC_DOC_ORIGEN,
				FECHA_ANUL,
				AUD_USUARIO_ANUL,
				AUD_FECHA_ANUL,
				USUARIO_APROBACION,
				FECHA_APROBACION,
				UpdatedBy,
				ANULADO,
				CLIENTE


				FROM AHPF_HN.ASHPF.DOCUMENTOS_CC 

				WHERE DOC_DOC_ORIGEN=@FACTURA AND TIPO='O/D' AND ANULADO='N'


		/*-----------------------------------------------------------------*/
				--- ITERACION EN DOCUMENTOS CC POR TIPO O/D ---
		---------------------------------------------------------------------

		SELECT @Id_DOC = COUNT(*) FROM @DOCUMENTOS_CC_OD
		
		WHILE @I <= @Id_DOC
		BEGIN


				SELECT 

				@TEMP_DOCUMENTO					=	OD.DOCUMENTO,				
				@TEMP_TIPO						=	OD.TIPO,			
				@TEMP_APLICACION				=	OD.APLICACION,
				@TEMP_FECHA_DOCUMENTO			=	OD.FECHA_DOCUMENTO,
				@TEMP_FECHA						=	OD.FECHA,
				@TEMP_MONTO						=	OD.MONTO,
				@TEMP_SALDO						=	OD.SALDO,
				@TEMP_MONTO_LOCAL				=	OD.MONTO_LOCAL,	
				@TEMP_SALDO_LOCAL				=	OD.SALDO_LOCAL,	
				@TEMP_MONTO_DOLAR				=	OD.MONTO_DOLAR,
				@TEMP_SALDO_DOLAR				=	OD.SALDO_DOLAR,
				@TEMP_MONTO_CLIENTE				=	OD.MONTO_CLIENTE,
				@TEMP_SALDO_CLIENTE				=	OD.SALDO_CLIENTE,
				@TEMP_SUBTOTAL					=	OD.SUBTOTAL,
				@TEMP_APROBADO					=	OD.APROBADO,
				@TEMP_USUARIO_ULT_MOD			=	@USUARIO,
				@TEMP_DOC_DOC_ORIGEN			=	OD.DOC_DOC_ORIGEN,
				@TEMP_FECHA_ANUL				=	OD.FECHA_ANUL,
				@TEMP_AUD_USUARIO_ANUL			=	@USUARIO,
				@TEMP_AUD_FECHA_ANUL			=	GETDATE(),
				@TEMP_USUARIO_APROBACION		=	@USUARIO,
				@TEMP_FECHA_APROBACION			=	GETDATE(),
				@TEMP_UpdatedBy					=	@USUARIO,
				@TEMP_ANULADO					=	OD.ANULADO,
				@TEMP_CLIENTE					=	OD.CLIENTE


				FROM @DOCUMENTOS_CC_OD AS OD WHERE OD.ID = @I


										/*------------------------------------------------------*/
													--- ACTUALIZAR SALDO CLIENTE ---
										----------------------------------------------------------


										UPDATE 	AHPF_HN.ASHPF.CLIENTE  
										SET 	
										SALDO		= SALDO			- @TEMP_SALDO,  	
										SALDO_LOCAL = SALDO_LOCAL	- @TEMP_SALDO,
										UpdatedBy = @USUARIO 
										            
										WHERE CLIENTE =@TEMP_CLIENTE			   

										UPDATE	AHPF_HN.ASHPF.SALDO_CLIENTE  
										SET	SALDO = SALDO - @TEMP_SALDO,
										UpdatedBy = @USUARIO         
										WHERE	CLIENTE =@TEMP_CLIENTE  AND 	MONEDA ='LPS'


										/*-------------------------------------------------------*/
													--- ANULAR DOCUMENTO O/D ---
										-----------------------------------------------------------

										
										UPDATE AHPF_HN.ASHPF.DOCUMENTOS_CC
										SET APLICACION='** ANULADO **',
										MONTO=0.00000000,
										SALDO=0.00000000,
										SALDO_CLIENTE=0.00000000,
										SALDO_LOCAL=0.00000000,
										MONTO_LOCAL=0.00000000, 
										MONTO_DOLAR=0.00000000, 
										MONTO_CLIENTE=0.00000000, 
										SUBTOTAL=0.00000000,
										AUD_USUARIO_ANUL=@USUARIO, 
										AUD_FECHA_ANUL=@TEMP_AUD_FECHA_ANUL, 
										USUARIO_APROBACION=@USUARIO,
										FECHA_APROBACION=@TEMP_FECHA_APROBACION,
										FECHA_ANUL=@TEMP_FECHA_DOCUMENTO,
										ANULADO='S',
										APROBADO='S',
										USUARIO_ULT_MOD= @USUARIO,
										UpdatedBy = @USUARIO

										WHERE DOCUMENTO=@TEMP_DOCUMENTO AND DOC_DOC_ORIGEN=@FACTURA AND TIPO='O/D'

						
			SET @I = @I + 1
		END
		



			COMMIT TRANSACTION
		END TRY
		BEGIN CATCH
	 
			IF @@TRANCOUNT > 0
			BEGIN
				PRINT XACT_STATE();
				ROLLBACK TRANSACTION;
			END
				PRINT ERROR_MESSAGE();
				THROW 50001, 'Ha ocurrido un error, la transacción ha sido cancelada.',0;
				EXECUTE AHPF_HN.ASHPF.Sp_LogError;
		END CATCH 
END
