USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_DOCUMENTO_CC_FA_H1]    Script Date: 11/9/2022 3:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [ASHPF].[sP_DOCUMENTO_CC_FA_H1] 
	-- Add the parameters for the stored procedure here
	@DOCUMENTO		AS VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
		DECLARE @TIPO					AS VARCHAR(3)
		DECLARE @APLICACION				AS VARCHAR(249)
		DECLARE @FECHA_DOCUMENTO		AS DATETIME
		DECLARE @FECHA					AS DATETIME
		DECLARE @MONTO					AS DECIMAL(28,8)
		DECLARE @SALDO					AS DECIMAL(28,8)
		DECLARE @MONTO_LOCAL			AS DECIMAL(28,8)
		DECLARE @SALDO_LOCAL			AS DECIMAL(28,8)
		DECLARE @MONTO_DOLAR			AS DECIMAL(28,8)
		DECLARE @SALDO_DOLAR			AS DECIMAL(28,8)
		DECLARE @MONTO_CLIENTE			AS DECIMAL(28,8)
		DECLARE @SALDO_CLIENTE			AS DECIMAL(28,8)
		DECLARE @TIPO_CAMBIO_MONEDA		AS DECIMAL(28,8)
		DECLARE @TIPO_CAMBIO_DOLAR		AS DECIMAL(28,8)
		DECLARE @TIPO_CAMBIO_CLIENT		AS DECIMAL(28,8)
		DECLARE @TIPO_CAMB_ACT_LOC		AS DECIMAL(28,8)
		DECLARE @TIPO_CAMB_ACT_DOL		AS DECIMAL(28,8)
		DECLARE @TIPO_CAMB_ACT_CLI		AS DECIMAL(28,8)
		DECLARE @SUBTOTAL				AS DECIMAL(28,8)
		DECLARE @DESCUENTO				AS DECIMAL(28,8)
		DECLARE @IMPUESTO1				AS DECIMAL(28,8)
		DECLARE @IMPUESTO2				AS DECIMAL(28,8)
		DECLARE @RUBRO1					AS DECIMAL(28,8)
		DECLARE @RUBRO2					AS DECIMAL(28,8)
		DECLARE @MONTO_RETENCION		AS DECIMAL(28,8)
		DECLARE @SALDO_RETENCION		AS DECIMAL(28,8)
		DECLARE @DEPENDIENTE			AS VARCHAR(1)
		DECLARE @FECHA_ULT_CREDITO		AS DATETIME
		DECLARE @CARGADO_DE_FACT		AS VARCHAR(1)
		DECLARE @APROBADO				AS VARCHAR(1)
		DECLARE @ASIENTO_PENDIENTE		AS VARCHAR(1)
		DECLARE @FECHA_ULT_MOD			AS DATETIME
		DECLARE @CLASE_DOCUMENTO		AS VARCHAR(1)
		DECLARE @FECHA_VENCE			AS DATETIME
		DECLARE @NUM_PARCIALIDADES		AS SMALLINT
		DECLARE @USUARIO_ULT_MOD		AS VARCHAR(25)
		DECLARE @CONDICION_PAGO			AS VARCHAR(4)
		DECLARE @MONEDA					AS VARCHAR(4)
		DECLARE @CLIENTE_REPORTE		AS VARCHAR(20)
		DECLARE @CLIENTE_ORIGEN			AS VARCHAR(20)
		DECLARE @CLIENTE				AS VARCHAR(20)
		DECLARE @PORC_INTCTE			AS DECIMAL(28,8)
		DECLARE @DEPENDIENTE_GP			AS VARCHAR(1)
		DECLARE @SALDO_TRANS			AS DECIMAL(28,8)
		DECLARE @SALDO_TRANS_LOCAL		AS DECIMAL(28,8)
		DECLARE @SALDO_TRANS_DOLAR		AS DECIMAL(28,8)
		DECLARE @SALDO_TRANS_CLI		AS DECIMAL(28,8)
		DECLARE @TIPO_CAMBIO_FAC		AS DECIMAL(28,8)
		DECLARE @NoteExistsFlag			AS TINYINT
		DECLARE @RecordDate				AS DATETIME
		DECLARE @RowPointer				AS UNIQUEIDENTIFIER
		DECLARE @CreatedBy				AS VARCHAR(30)
		DECLARE @UpdatedBy				AS VARCHAR(30)
		DECLARE @CreateDate				AS DATETIME
		DECLARE @ANULADO				AS VARCHAR(1) 		
		DECLARE @COBRADOR				AS VARCHAR(4)	
		DECLARE @VENDEDOR				AS VARCHAR(4)
		DECLARE @SUBTIPO				AS SMALLINT
		DECLARE @ASIENTO				AS VARCHAR(10)
		DECLARE @MONTO_E				AS DECIMAL(28,8)
		DECLARE @MONTO_T				AS DECIMAL(28,8)
		DECLARE @MONTO_X				AS DECIMAL(28,8)
		DECLARE @UDF_Nombre_Paciente	AS NVARCHAR(500)
		DECLARE @Id_PC					AS INT			
		DECLARE @UDF_Asiento			AS VARCHAR(10)
		DECLARE @Mensaje				AS NVARCHAR(500)
		DECLARE @DIAS_NETO				AS INT
		DECLARE @FECHA_VENCE_T			DATETIME

	BEGIN TRY
		BEGIN TRANSACTION
    -- Insert statements for procedure here
	
		
		SET @TIPO_CAMBIO_FAC		= (SELECT TIPO_CAMBIO					FROM AHPF_HN.ASHPF.FACTURA			WITH(NOLOCK) WHERE FACTURA=@DOCUMENTO)
		SET @MONTO_E				= ISNULL((SELECT ISNULL(MONTO,0.0)		FROM AHPF_HN.ASHPF.FACTURA_CANCELA	WITH(NOLOCK) WHERE FACTURA=@DOCUMENTO AND TIPO='E'),0.0)
		SET @MONTO_T				= ISNULL((SELECT ISNULL(SUM(MONTO),0.0) FROM AHPF_HN.ASHPF.FACTURA_CANCELA	WITH(NOLOCK) WHERE FACTURA=@DOCUMENTO AND TIPO='T'),0.0)
		SET @MONTO_X				= ISNULL((SELECT ISNULL(MONTO,0.0)		FROM AHPF_HN.ASHPF.FACTURA_CANCELA	WITH(NOLOCK) WHERE FACTURA=@DOCUMENTO AND TIPO='X'),0.0)
		SET @UDF_Asiento			= (SELECT UDF_Asiento					FROM H1_AHPF_HN.dbo.FC		WITH(NOLOCK) WHERE UDF_Factura_E=@DOCUMENTO)
		SET @UDF_Nombre_Paciente	= (SELECT UDF_Nombre_Paciente			FROM H1_AHPF_HN.dbo.FC		WITH(NOLOCK) WHERE UDF_Factura_E=@DOCUMENTO)
		

			
					SELECT DISTINCT 
					 
						@DOCUMENTO = FAC.FACTURA,
						@TIPO = FAC.TIPO_DOC_CXC,
						@APLICACION = 'Cargado de Factura: ' + FAC.FACTURA + ' - Cliente: ' + UPPER(@UDF_Nombre_Paciente),
						@FECHA_DOCUMENTO =(SELECT DATEADD(dd, DATEDIFF(dd, 0, CURRENT_TIMESTAMP), 0)),
						@FECHA =(SELECT DATEADD(dd, DATEDIFF(dd, 0, CURRENT_TIMESTAMP), 0)), 
						@MONTO = ISNULL(FAC.TOTAL_FACTURA,0.0),
						@SALDO =@MONTO_X,
						@MONTO_LOCAL =  FAC.TOTAL_FACTURA,
						@SALDO_LOCAL =@MONTO_X ,
						@MONTO_DOLAR = 0.00000000,
						@SALDO_DOLAR = 0.00000000,
						@MONTO_CLIENTE= FAC.TOTAL_FACTURA,	
						@SALDO_CLIENTE = @SALDO,
						@TIPO_CAMBIO_MONEDA = FAC.TIPO_CAMBIO,
						@TIPO_CAMBIO_DOLAR = FAC.TIPO_CAMBIO,	
						@TIPO_CAMBIO_CLIENT = FAC.TIPO_CAMBIO,
						@TIPO_CAMB_ACT_LOC = FAC.TIPO_CAMBIO,
						@TIPO_CAMB_ACT_DOL = FAC.TIPO_CAMBIO,
						@TIPO_CAMB_ACT_CLI = FAC.TIPO_CAMBIO,
						@SUBTOTAL = FAC.TOTAL_FACTURA,
						@DESCUENTO =0.00000000,
						@IMPUESTO1 =0.00000000,
						@IMPUESTO2 =0.00000000,
						@RUBRO1 =0.00000000,
						@RUBRO2 =0.00000000,
						@MONTO_RETENCION =0.00000000,
						@SALDO_RETENCION =0.00000000,
						@DEPENDIENTE = 'S',
						@FECHA_ULT_CREDITO = FAC.FECHA,
						@CARGADO_DE_FACT = 'S',
						@APROBADO = 'S',
						@ASIENTO =@UDF_Asiento,
						@ASIENTO_PENDIENTE = 'N',
						@FECHA_ULT_MOD = FAC.FECHA,
						@CLASE_DOCUMENTO = 'N',
						@FECHA_VENCE = FAC.FECHA,
						@NUM_PARCIALIDADES = 0,
						@USUARIO_ULT_MOD = FAC.USUARIO,
						@CONDICION_PAGO = FAC.CONDICION_PAGO,
						@MONEDA = (CASE WHEN FAC.MONEDA='L' THEN 'LPS' END),
						@CLIENTE_ORIGEN =FAC.CLIENTE,
						@CLIENTE = FAC.CLIENTE,
						@PORC_INTCTE = 0.00000000,
						@CLIENTE_REPORTE = FAC.CLIENTE,
						@SUBTIPO = 0,
						@ANULADO = FAC.ANULADA,
						@VENDEDOR = FAC.VENDEDOR,
						@COBRADOR = FAC.COBRADOR,	
						@NoteExistsFlag =0,
						@RecordDate = FAC.RecordDate,
						@RowPointer = NEWID(),
						@CreatedBy = FAC.CreatedBy,
						@UpdatedBy = FAC.UpdatedBy,
						@CreateDate = FAC.CreateDate

					FROM AHPF_HN.ASHPF.FACTURA AS FAC WITH(NOLOCK)
					INNER JOIN ASHPF.FACTURA_CANCELA AS FC ON FC.FACTURA = FAC.FACTURA
					WHERE FAC.FACTURA =@DOCUMENTO  

						--- INSERT DOCUMENTO DEBITO DOCUMENTOS_CC

						INSERT INTO AHPF_HN.ASHPF.DOCUMENTOS_CC 
						(DOCUMENTO,TIPO,APLICACION,FECHA_DOCUMENTO,FECHA,MONTO,SALDO,MONTO_LOCAL,SALDO_LOCAL,MONTO_DOLAR,SALDO_DOLAR,
						MONTO_CLIENTE,SALDO_CLIENTE,TIPO_CAMBIO_MONEDA,TIPO_CAMBIO_DOLAR,TIPO_CAMBIO_CLIENT,TIPO_CAMB_ACT_LOC,TIPO_CAMB_ACT_DOL,
						TIPO_CAMB_ACT_CLI,SUBTOTAL,DESCUENTO,IMPUESTO1,IMPUESTO2,RUBRO1,RUBRO2,MONTO_RETENCION,SALDO_RETENCION,DEPENDIENTE,
						FECHA_ULT_CREDITO,CARGADO_DE_FACT,APROBADO,ASIENTO, ASIENTO_PENDIENTE,FECHA_ULT_MOD,CLASE_DOCUMENTO,FECHA_VENCE,NUM_PARCIALIDADES,
						USUARIO_ULT_MOD,CONDICION_PAGO,MONEDA,CLIENTE_ORIGEN,CLIENTE,PORC_INTCTE,CLIENTE_REPORTE,SUBTIPO,ANULADO,VENDEDOR,COBRADOR,NoteExistsFlag,RecordDate,RowPointer,			
						CreatedBy,UpdatedBy,CreateDate)

						VALUES
						(@DOCUMENTO,@TIPO,@APLICACION,@FECHA_DOCUMENTO,@FECHA,@MONTO,@SALDO,@MONTO_LOCAL,@SALDO_LOCAL,@MONTO_DOLAR,@SALDO_DOLAR,
						@MONTO_CLIENTE,@SALDO_CLIENTE,@TIPO_CAMBIO_MONEDA,@TIPO_CAMBIO_DOLAR,@TIPO_CAMBIO_CLIENT,@TIPO_CAMB_ACT_LOC,@TIPO_CAMB_ACT_DOL,
						@TIPO_CAMB_ACT_CLI,@SUBTOTAL,@DESCUENTO,@IMPUESTO1,@IMPUESTO2,@RUBRO1,@RUBRO2,@MONTO_RETENCION,@SALDO_RETENCION,@DEPENDIENTE,
						@FECHA_ULT_CREDITO,@CARGADO_DE_FACT,@APROBADO,@ASIENTO, @ASIENTO_PENDIENTE,@FECHA_ULT_MOD,@CLASE_DOCUMENTO,@FECHA_VENCE,@NUM_PARCIALIDADES,
						@USUARIO_ULT_MOD,@CONDICION_PAGO,@MONEDA,@CLIENTE,@CLIENTE,@PORC_INTCTE,@CLIENTE,@SUBTIPO,@ANULADO,@VENDEDOR,@COBRADOR,@NoteExistsFlag,@RecordDate,@RowPointer,			
						@USUARIO_ULT_MOD,@USUARIO_ULT_MOD,@CreateDate)

						--- INSERT DOCUMENTO CREDITO DOCUMENTOS_CC

						--SOLO LLAMAR CUANDO HAY 2 MOV NO SOLO CC 
						DECLARE @Id_FC INT, @CC INT,@OT INT

						SELECT @Id_FC=Id_FC FROM H1_AHPF_HN.dbo.FC WITH(NOLOCK) WHERE UDF_Factura_E=@DOCUMENTO
						SELECT @CC=COUNT(Id_FC) FROM H1_AHPF_HN.dbo.FCPG WITH(NOLOCK) WHERE Id_FC=@Id_FC AND TipoPago='CC'
						SELECT @OT=COUNT(Id_FC) FROM H1_AHPF_HN.dbo.FCPG WITH(NOLOCK) WHERE Id_FC=@Id_FC AND TipoPago!='CC'

						IF @CC>0 AND @OT>0

						EXECUTE AHPF_HN.ASHPF.sP_DOCUMENTO_CC_REC_FA_H1 @DOCUMENTO
												

						---UPDATE SALDO CLIENTE 

						UPDATE AHPF_HN.ASHPF.CLIENTE  
						SET SALDO	= ROUND(SALDO		+ @SALDO,2),
						SALDO_LOCAL = ROUND(SALDO_LOCAL + @SALDO_LOCAL,2),
						SALDO_DOLAR = ROUND(SALDO_DOLAR + @SALDO_DOLAR,2) 
						WHERE  CLIENTE = @CLIENTE

						UPDATE AHPF_HN.ASHPF.SALDO_CLIENTE  
						SET  SALDO = ROUND(SALDO + @SALDO,2) WHERE  CLIENTE = @CLIENTE  AND MONEDA = 'LPS' 

						UPDATE AHPF_HN.ASHPF.FACTURA 
						SET TIPO_CREDITO_CXC = 'FAC',
						CARGADO_CXC = 'S', 
						DOC_CREDITO_CXC = @DOCUMENTO WHERE FACTURA =@DOCUMENTO

						-------------------- OBTENER DIAS NETOS PARA CALCULAR FECHA DE VENCIMIENTO DEL DOCUMENTO ---------------------------

						SET @DIAS_NETO =( SELECT [AHPF_HN].[ASHPF].[GET_DIASNETOS](@DOCUMENTO))
						SET @FECHA_VENCE_T	=( SELECT [AHPF_HN].[ASHPF].[GET_FECHAVENCE] (@DOCUMENTO,@DIAS_NETO))

						UPDATE AHPF_HN.ASHPF.DOCUMENTOS_CC
						SET FECHA_VENCE = @FECHA_VENCE_T
						WHERE DOCUMENTO =@DOCUMENTO

						UPDATE AHPF_HN.ASHPF.MAYOR
						SET FASE=NULL, PROYECTO=NULL
						WHERE ASIENTO=@ASIENTO
				




		COMMIT TRANSACTION
	END TRY
	
	BEGIN CATCH
	 SET @Mensaje = 'Ocurrio un Error: '+ERROR_MESSAGE()+' en la línea ' + CONVERT(NVARCHAR(255), ERROR_LINE() ) + '.'
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION
		END

		EXECUTE ASHPF.Sp_LogError;
		
	END CATCH 
	return @Mensaje
END


