USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_HOMOLOGACION_CENTRO_CUENTA_ERP]    Script Date: 11/9/2022 3:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [ASHPF].[sP_HOMOLOGACION_CENTRO_CUENTA_ERP]
	-- Add the parameters for the stored procedure here
	@CUENTA_CONTABLE			VARCHAR(25),
	@CENTRO_COSTO			VARCHAR(25),
	@R_CONTABLE		VARCHAR(100),
	@C_EXITOSA		CHAR(1) OUTPUT,
	@ERROR			VARCHAR(MAX) OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION

		IF NOT EXISTS(SELECT CC.CENTRO_COSTO FROM AHPF_HN.ASHPF.CENTRO_COSTO CC  WITH(NOLOCK) WHERE CC.CENTRO_COSTO=@CENTRO_COSTO)
			BEGIN
				SET @ERROR='CENTRO DE COSTO NO DEFINIDO: ' + @CENTRO_COSTO + '.'
				RAISERROR(@ERROR,16,1,1)
			END
		
		
			IF NOT EXISTS(SELECT CC.CUENTA_CONTABLE
							FROM AHPF_HN.ASHPF.CUENTA_CONTABLE CC  WITH(NOLOCK) WHERE CC.CUENTA_CONTABLE=@CUENTA_CONTABLE)
			BEGIN
				SET @ERROR='CUENTA CONTABLE NO DEFINIDA: ' + @CUENTA_CONTABLE + '.'
				RAISERROR(@ERROR,16,1,1)
			END

		IF NOT EXISTS(SELECT ESTADO	FROM   AHPF_HN.ASHPF.CENTRO_CUENTA  WITH(NOLOCK)	WHERE  CENTRO_COSTO = @CENTRO_COSTO AND CUENTA_CONTABLE = @CUENTA_CONTABLE AND ESTADO = 'A')
			BEGIN
				SET @ERROR = 'LA CUENTA CONTABLE ' + @CUENTA_CONTABLE + ' Y EL CENTRO DE COSTOS ' + @CENTRO_COSTO +	' NO ESTÁN ASOCIADOS O NO ESTÁN ACTIVOS.' + @R_CONTABLE
	    
				RAISERROR(@ERROR, 16, 1, 1)
			END

			--VALICION  CUENTA CONTABLE ACEPTA DATOS

		IF EXISTS(SELECT * FROM   AHPF_HN.ASHPF.CUENTA_CONTABLE CC  WITH(NOLOCK) WHERE  CC.CUENTA_CONTABLE = @CUENTA_CONTABLE AND CC.ACEPTA_DATOS = 'N')
			BEGIN
				SET @ERROR = 'LA CUENTA CONTABLE ' + @CUENTA_CONTABLE + ' NO ACEPTA DATOS.' + @R_CONTABLE
	    
				RAISERROR(@ERROR, 16, 1, 1)
			END

			--VALIDAMOS CENTRO DE COSTOS ACEPTA DATOS
		IF EXISTS(SELECT ACEPTA_DATOS  FROM   AHPF_HN.ASHPF.CENTRO_COSTO  WITH(NOLOCK) WHERE  CENTRO_COSTO = @CENTRO_COSTO  AND ACEPTA_DATOS = 'N')
			BEGIN
				SET @ERROR = 'EL CENTRO DE COSTOS ' + @CENTRO_COSTO + 'NO ACEPTA DATOS.' + @R_CONTABLE
			END
	
			SET @ERROR = 'ND'
			SET @C_EXITOSA = 'S'


	
		COMMIT TRANSACTION 
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END
			EXECUTE ASHPF.Sp_LogError;
			SET @ERROR = ERROR_MESSAGE()
			SET @C_EXITOSA = 'N'
	END CATCH


END


