USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_INSERT_FACTURA_DIARIO_H1]    Script Date: 11/9/2022 3:39:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [ASHPF].[sP_INSERT_FACTURA_DIARIO_H1]
	-- Add the parameters for the stored procedure here
	@ROWPOINTER					NVARCHAR(MAX),
	@ASIENTO					VARCHAR(10),
	@LINEA_AUXILIAR				INT,
	@CTA_CONTABLE				VARCHAR(25),
	@CTO_COSTO					VARCHAR(25),
	@FACTURA					VARCHAR(50),
	@MONTO						DECIMAL(28, 8),
	@L_REGISTRO					CHAR(1),
	@R_EXITOSO					CHAR(1) OUTPUT,
	@ERROR						VARCHAR(400) OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		BEGIN TRY
			BEGIN TRANSACTION 

				INSERT INTO ASHPF.CG_AUX(GUID_ORIGEN,TABLA_ORIGEN,ASIENTO,LINEA,COMENTARIO)
					VALUES(@ROWPOINTER,'FACTURA',@ASIENTO,@LINEA_AUXILIAR,'GUID - Origen') 

				--- DIARIO

					INSERT INTO ASHPF.DIARIO
						(ASIENTO,CONSECUTIVO,CUENTA_CONTABLE,CENTRO_COSTO,REFERENCIA,FUENTE,DEBITO_LOCAL,DEBITO_DOLAR,
						CREDITO_LOCAL,CREDITO_DOLAR,DEBITO_UNIDADES,CREDITO_UNIDADES,NIT,TIPO_CAMBIO,ROWPOINTER,BASE_LOCAL,
						BASE_DOLAR,FASE,PROYECTO)
						
						SELECT @ASIENTO,@LINEA_AUXILIAR,@CTA_CONTABLE,@CTO_COSTO,
						'FAC#' + @FACTURA + (SELECT ' - CLIENTE: ' + F.CLIENTE + ' - ' + F.NOMBRE_CLIENTE FROM   ASHPF.FACTURA F WHERE  F.FACTURA = @FACTURA),
						'FAC#' + @FACTURA + (SELECT '/' + F.CLIENTE	FROM   ASHPF.FACTURA F WHERE  F.FACTURA = @FACTURA),
						CASE @L_REGISTRO
							WHEN 'D' THEN ROUND(@MONTO, 2)
							ELSE NULL
						END,
						NULL,
						CASE @L_REGISTRO
							WHEN 'C' THEN ROUND(@MONTO, 2)
							ELSE NULL
						END,
						NULL,NULL,NULL,'ND',NULL,NEWID(),NULL,NULL,' ',' '
						
						SET @R_EXITOSO	= 'S'
						SET @ERROR		= 'ND'


			COMMIT TRANSACTION
		END TRY
		BEGIN CATCH
			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
			END
			EXECUTE ASHPF.Sp_LogError;
			SET @R_EXITOSO = 'N'
			SET @ERROR = ERROR_MESSAGE()
		END CATCH
  
END


