USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_LINEA_DOC_INV_H1_ERP_M]    Script Date: 11/9/2022 3:45:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [ASHPF].[sP_LINEA_DOC_INV_H1_ERP_M]
	-- Add the parameters for the stored procedure here
	@USUARIO				VARCHAR(50),
	@Id_AD					INT,
	@PAQUETE_INVENTARIO		VARCHAR(4),
	@DOCUMENTO_INV			VARCHAR(50),
	@ALMACEN				VARCHAR(50),
	@CANTIDAD				INT,
	@MEDICAMENTO			VARCHAR(100),
	@LOTE					VARCHAR(50),
	@UBICACION				VARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION;

					INSERT INTO AHPF_HN.ASHPF.LINEA_DOC_INV
								(PAQUETE_INVENTARIO,DOCUMENTO_INV,LINEA_DOC_INV,
								AJUSTE_CONFIG,ARTICULO,BODEGA,LOCALIZACION,
								LOTE,TIPO,SUBTIPO,SUBSUBTIPO,CANTIDAD,COSTO_TOTAL_LOCAL,COSTO_TOTAL_DOLAR,PRECIO_TOTAL_LOCAL,PRECIO_TOTAL_DOLAR,BODEGA_DESTINO,
								LOCALIZACION_DEST,NoteExistsFlag,RecordDate,
								RowPointer,CreatedBy,UpdatedBy,CreateDate)
					VALUES
								(@PAQUETE_INVENTARIO, @DOCUMENTO_INV,1,
								'~TT~', @MEDICAMENTO, @ALMACEN, @UBICACION,
								@LOTE, 'T','D', 'ND', @CANTIDAD,0,0, 0,0, @ALMACEN,
								@UBICACION, 0,GETDATE(),
								NEWID(), @USUARIO, @USUARIO,GETDATE())

	
	COMMIT TRANSACTION
	END TRY
	BEGIN CATCH

		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END
			EXECUTE ASHPF.Sp_LogError;
	END CATCH;
END



