USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_LINEA_DOC_INV_H1_ERP_]    Script Date: 11/9/2022 3:44:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [ASHPF].[sP_LINEA_DOC_INV_H1_ERP_]
	-- Add the parameters for the stored procedure here
	@Id_AD		INT,
	@PAQUETE_INVENTARIO		VARCHAR(4),
	@DOCUMENTO_INV			VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
		DECLARE @LINEA_DOC_INV			AS INT
		DECLARE @AJUSTE_CONFIG			AS VARCHAR(4)
		DECLARE @ARTICULO				AS VARCHAR(20)
		DECLARE @BODEGA					AS VARCHAR(4)
		DECLARE @LOCALIZACION			AS VARCHAR(8)
		DECLARE @LOTE					AS VARCHAR(15)
		DECLARE @TIPO					AS VARCHAR(1)
		DECLARE @SUBTIPO				AS VARCHAR(1)
		DECLARE @SUBSUBTIPO				AS VARCHAR(1)
		DECLARE @CANTIDAD				AS DECIMAL
		DECLARE @COSTO_TOTAL_LOCAL		AS DECIMAL
		DECLARE @COSTO_TOTAL_DOLAR		AS DECIMAL	
		DECLARE @PRECIO_TOTAL_LOCAL		AS DECIMAL
		DECLARE @PRECIO_TOTAL_DOLAR		AS DECIMAL
		DECLARE @BODEGA_DESTINO			AS VARCHAR(4)
		DECLARE @LOCALIZACION_DEST		AS VARCHAR(8)
		DECLARE @NoteExistsFlag			AS TINYINT
		DECLARE @RecordDate				AS DATETIME
		DECLARE @RowPointer				AS UNIQUEIDENTIFIER
		DECLARE @CreatedBy				AS VARCHAR(30)
		DECLARE @UpdatedBy				AS VARCHAR(30)
		DECLARE @CreateDate				AS DATETIME
		DECLARE @COUNT_LINEA			AS INT	

		DECLARE @BD						VARCHAR(200),@SQL VARCHAR(4000)

	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION;

			-- Insert statements for procedure here
			DECLARE SELECT_DOCINV CURSOR LOCAL
			FOR 
			
					SELECT @PAQUETE_INVENTARIO,@DOCUMENTO_INV,1,'~TT~',V4.ItemCode,
					 V4.WarehouseCode,v4.BinCode,V4.BatchCode,'T','D','ND',SA.Cantidad,0,0,0,0,V4.WarehouseCode,v4.BinCode,0,AD1.Fecha,
					 NEWID(),AD1.Usuario_Registro,AD1.Usuario_Modificacion,AD1.Fecha
					 FROM H1_AHPF_HN.dbo.AD AS AD1
					LEFT JOIN H1_AHPF_HN.dbo.ADHB		AS AH	ON AH.Id_AD = AD1.Id_AD
					LEFT JOIN H1_AHPF_HN.dbo.SA					ON SA.Id_ADHB = AH.Id_ADHB
					LEFT JOIN H1_AHPF_HN.dbo.SAALLT		AS SAL	ON SAL.Id_SA = SA.Id_SA
					LEFT JOIN H1_AHPF_HN.dbo.SL			AS S	ON S.Id_ADHB = AH.Id_ADHB
					LEFT JOIN H1_AHPF_HN.dbo.SLAR		AS SR	ON SR.Id_SL = S.Id_SL
					LEFT JOIN H1_AHPF_HN.dbo.V_ITPR		AS V3	ON V3.PriceList = AD1.Id_LP AND V3.ItemCode = SA.Id_AR
					LEFT JOIN H1_AHPF_HN.dbo.V_ITBT		AS V4	ON V4.ItemCode = SA.Id_AR AND V4.WarehouseCode = SAL.Id_AL AND V4.BatchCode = SAL.Lote
					LEFT OUTER JOIN H1_AHPF_HN.dbo.V_SA	AS ST	ON ST.Id_ADHB = AH.Id_ADHB AND ST.Id_AR = SA.Id_AR
					WHERE AD1.Id_AD=@Id_AD	AND ST.Estatus='PR'

			OPEN SELECT_DOCINV

			FETCH SELECT_DOCINV INTO 
							@PAQUETE_INVENTARIO, @DOCUMENTO_INV, @COUNT_LINEA,
							@AJUSTE_CONFIG, @ARTICULO, @BODEGA, @LOCALIZACION,
							@LOTE, @TIPO, @SUBTIPO, @SUBSUBTIPO, @CANTIDAD,	@COSTO_TOTAL_LOCAL, @COSTO_TOTAL_DOLAR, @PRECIO_TOTAL_LOCAL, @PRECIO_TOTAL_DOLAR, @BODEGA_DESTINO,
							@LOCALIZACION_DEST, @NoteExistsFlag, @RecordDate,
							@RowPointer, @CreatedBy, @UpdatedBy, @CreateDate	
			
			WHILE (@@FETCH_STATUS = 0 )
			BEGIN;

					SELECT @COUNT_LINEA = ISNULL(MAX(ISNULL(LINEA_DOC_INV ,0)) ,0)+1 
					FROM   AHPF_HN.ASHPF.LINEA_DOC_INV
					WHERE  DOCUMENTO_INV = @DOCUMENTO_INV

					INSERT INTO AHPF_HN.ASHPF.LINEA_DOC_INV
								(PAQUETE_INVENTARIO,DOCUMENTO_INV,LINEA_DOC_INV,
								AJUSTE_CONFIG,ARTICULO,BODEGA,LOCALIZACION,
								LOTE,TIPO,SUBTIPO,SUBSUBTIPO,CANTIDAD,COSTO_TOTAL_LOCAL,COSTO_TOTAL_DOLAR,PRECIO_TOTAL_LOCAL,PRECIO_TOTAL_DOLAR,BODEGA_DESTINO,
								LOCALIZACION_DEST,NoteExistsFlag,RecordDate,
								RowPointer,CreatedBy,UpdatedBy,CreateDate)

					VALUES
								(@PAQUETE_INVENTARIO, @DOCUMENTO_INV, @COUNT_LINEA,
								@AJUSTE_CONFIG, @ARTICULO, @BODEGA, @LOCALIZACION,
								@LOTE, @TIPO, @SUBTIPO, @SUBSUBTIPO, @CANTIDAD,@COSTO_TOTAL_LOCAL, @COSTO_TOTAL_DOLAR, @PRECIO_TOTAL_LOCAL, @PRECIO_TOTAL_DOLAR, @BODEGA_DESTINO,
								@LOCALIZACION_DEST, @NoteExistsFlag, @RecordDate,
								@RowPointer, @CreatedBy, @UpdatedBy, @CreateDate)

					FETCH SELECT_DOCINV INTO
								@PAQUETE_INVENTARIO, @DOCUMENTO_INV, @COUNT_LINEA,
								@AJUSTE_CONFIG, @ARTICULO, @BODEGA, @LOCALIZACION,
								@LOTE, @TIPO, @SUBTIPO, @SUBSUBTIPO, @CANTIDAD,@COSTO_TOTAL_LOCAL, @COSTO_TOTAL_DOLAR, @PRECIO_TOTAL_LOCAL, @PRECIO_TOTAL_DOLAR, @BODEGA_DESTINO,
								@LOCALIZACION_DEST, @NoteExistsFlag, @RecordDate,
								@RowPointer, @CreatedBy, @UpdatedBy, @CreateDate;
			END;
			CLOSE SELECT_DOCINV
			DEALLOCATE SELECT_DOCINV

	COMMIT TRANSACTION
	END TRY
	BEGIN CATCH

		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END
			EXECUTE ASHPF.Sp_LogError;
	END CATCH;
END



