USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_PEDIDO_LINEA_CS_H1_]    Script Date: 11/9/2022 3:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [ASHPF].[sP_PEDIDO_LINEA_CS_H1_]
	-- Add the parameters for the stored procedure here
	@Id_ADRX 			AS INT, 
	@FLAG_PEDIDO		AS VARCHAR(30)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
		DECLARE @FLAG				AS INT 
		DECLARE @Id_PT				AS	VARCHAR
		DECLARE	@PEDIDO				AS VARCHAR(20)
		DECLARE	@PEDIDO_LINEA		AS SMALLINT 
		DECLARE @ARTICULO			AS VARCHAR(20)
		DECLARE @FECHA_ENTREGA		AS DATE
		DECLARE	@LINEA_USUARIO		AS SMALLINT
		DECLARE	@PRECIO_UNITARIO	AS DECIMAL(28,8)
		DECLARE	@CANTIDAD_PEDIDA	AS DECIMAL(28,8)
		DECLARE	@CANTIDAD_A_FACTURA	AS DECIMAL(28,8)
		DECLARE	@CANTIDAD_FACTURADA	AS DECIMAL(28,8)
		DECLARE @CANTIDAD_RESERVADA	AS DECIMAL(28,8)
		DECLARE @CANTIDAD_BONIFICAD	AS DECIMAL(28,8)
		DECLARE @CANTIDAD_CANCELADA	AS DECIMAL(28,8)
		DECLARE @TIPO_DESCUENTO		AS VARCHAR(1)
		DECLARE @MONTO_DESCUENTO	AS DECIMAL(28,8)
		DECLARE @PORC_DESCUENTO		AS DECIMAL(28,8)
		DECLARE	@BODEGA				AS VARCHAR(4)
		DECLARE @LOTE				AS VARCHAR(15)
        DECLARE @LOCALIZACION		AS VARCHAR(8)
		DECLARE @ESTADO				AS VARCHAR(1)		
		DECLARE @FECHA_PROMETIDA	AS DATE
		DECLARE @NoteExistsFlag		AS TINYINT
		DECLARE @RecordDate			AS DATETIME
		DECLARE @RowPointer			AS UNIQUEIDENTIFIER 
		DECLARE @CreatedBy			AS VARCHAR(30)
		DECLARE @UpdatedBy			AS VARCHAR(30)
		DECLARE @CreateDate			AS DATETIME
		DECLARE @PROYECTO			AS VARCHAR(25)
		DECLARE @FASE				AS VARCHAR(25)
		DECLARE @CENTRO_COSTO		AS VARCHAR(25)
        DECLARE @CUENTA_CONTABLE	AS VARCHAR(25)
		DECLARE @COUNT_LINEA		AS INT

	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION;

				DECLARE SELECT_OVAR CURSOR LOCAL
				FOR 

				SELECT	@FLAG_PEDIDO,0,V2.Id_AR,V2.Fecha_Registro,0,V3.UnitPrice
				,V2.Cantidad,V2.Cantidad,V2.Cantidad,0.00000000,0.00000000,0.00000000,'P',
				
				----------------DESCUENTOS SI ES QUE TIENE CONVENIO-----------------------
				ISNULL((V3.UnitPrice*((SELECT Descuento_Internos FROM H1_AHPF_HN.dbo.COGRAR  WITH(NOLOCK) WHERE Id_CO=V1.Id_CO AND Id_GRAR=V5.Id_GRAR)/100.00)),0.0),
				ISNULL((SELECT Descuento_Internos FROM H1_AHPF_HN.dbo.COGRAR  WITH(NOLOCK) WHERE Id_CO=V1.Id_CO AND Id_GRAR=V5.Id_GRAR),0.0),
				--------------------------------------------------------------------------
				ISNULL(V2.UDF_Id_AL,(SELECT Top 1 Id_AL FROM H1_AHPF_HN.dbo.V_USAR  WITH(NOLOCK) WHERE Id_AR=V2.Id_AR)),V2.UDF_Lote,V2.UDF_Localizacion,
				'N',V2.Fecha_Registro
				,0,V2.Fecha_Registro,NEWID(),V2.Usuario_Registro,V2.Usuario_Registro,V2.Fecha_Registro,NULL,NULL,

				[AHPF_HN].[ASHPF].[GET_CENTRO_COSTO] (V2.Id_AR,V1.Id_PT)					AS	CENTRO_COSTO,
				[AHPF_HN].[ASHPF].[GET_CUENTA_CONTABLE](V2.Id_AR,V1.Id_PT)				AS	CUENTA_CONTABLE

				
				FROM H1_AHPF_HN.dbo.ADRXAR AS V2  WITH(NOLOCK)
				INNER JOIN H1_AHPF_HN.dbo.ADRX AS V11 ON V11.Id_ADRX=V2.Id_ADRX
				LEFT JOIN H1_AHPF_HN.dbo.PRCSHO AS V1 ON V1.Id_PRCSHO= V11.Id_PRCSHO
				LEFT JOIN H1_AHPF_HN.dbo.V_ITPR AS V3 ON V3.PriceList = V1.Id_LP AND V3.ItemCode = V2.Id_AR
				LEFT JOIN H1_AHPF_HN.dbo.US AS V4 ON	V4.Id_US = V2.Id_US
				LEFT JOIN H1_AHPF_HN.dbo.V_ARALLT AS V5 ON
				V5.Id_AL = V4.Almacen AND V5.Id_AR = V2.Id_AR
				WHERE V2.Id_ADRX =@Id_ADRX					

				OPEN SELECT_OVAR

				FETCH SELECT_OVAR INTO @PEDIDO,@COUNT_LINEA,@ARTICULO,@FECHA_ENTREGA,@COUNT_LINEA,@PRECIO_UNITARIO,@CANTIDAD_PEDIDA,@CANTIDAD_A_FACTURA,@CANTIDAD_FACTURADA	
					,@CANTIDAD_RESERVADA,@CANTIDAD_BONIFICAD,@CANTIDAD_CANCELADA,@TIPO_DESCUENTO,@MONTO_DESCUENTO,@PORC_DESCUENTO,@BODEGA,@LOTE,@LOCALIZACION		
					,@ESTADO,@FECHA_PROMETIDA,@NoteExistsFlag,@RecordDate,@RowPointer,@CreatedBy,@UpdatedBy,@CreateDate,@PROYECTO,@FASE,@CENTRO_COSTO,@CUENTA_CONTABLE


				WHILE (@@FETCH_STATUS = 0)
				BEGIN;

					SELECT @COUNT_LINEA = ISNULL(MAX(ISNULL(PEDIDO_LINEA ,0)) ,0)+1 
					FROM   AHPF_HN.ASHPF.PEDIDO_LINEA
					WHERE  PEDIDO = @FLAG_PEDIDO
					
					IF @BODEGA IS NOT NULL AND @LOTE IS NOT NULL 
					BEGIN
				
						INSERT INTO AHPF_HN.ASHPF.PEDIDO_LINEA
						(PEDIDO,PEDIDO_LINEA,ARTICULO, FECHA_ENTREGA,LINEA_USUARIO,
						PRECIO_UNITARIO,CANTIDAD_PEDIDA,CANTIDAD_A_FACTURA,CANTIDAD_FACTURADA	
						,CANTIDAD_RESERVADA,CANTIDAD_BONIFICAD,CANTIDAD_CANCELADA,TIPO_DESCUENTO,MONTO_DESCUENTO,PORC_DESCUENTO,
						BODEGA,LOTE,
						ESTADO,FECHA_PROMETIDA,NoteExistsFlag,RecordDate,RowPointer,CreatedBy,UpdatedBy,CreateDate,PROYECTO,FASE,CENTRO_COSTO,CUENTA_CONTABLE)

						VALUES(@PEDIDO,@COUNT_LINEA,@ARTICULO,@FECHA_ENTREGA,@COUNT_LINEA,ISNULL(@PRECIO_UNITARIO,0),@CANTIDAD_PEDIDA,@CANTIDAD_A_FACTURA,@CANTIDAD_FACTURADA	
						,@CANTIDAD_RESERVADA,@CANTIDAD_BONIFICAD,@CANTIDAD_CANCELADA,@TIPO_DESCUENTO,@MONTO_DESCUENTO,@PORC_DESCUENTO,
						@BODEGA,@LOTE,
						@ESTADO,@FECHA_PROMETIDA,@NoteExistsFlag,@RecordDate,@RowPointer,@CreatedBy,@UpdatedBy,@CreateDate,@PROYECTO,@FASE,@CENTRO_COSTO,@CUENTA_CONTABLE)
					END
					ELSE
					BEGIN
						IF @BODEGA IS NOT NULL
						BEGIN
						--ARTICULOS DE SERVICIOS
							INSERT INTO AHPF_HN.ASHPF.PEDIDO_LINEA
							(PEDIDO,PEDIDO_LINEA,ARTICULO,FECHA_ENTREGA,LINEA_USUARIO,
							PRECIO_UNITARIO,CANTIDAD_PEDIDA,CANTIDAD_A_FACTURA,CANTIDAD_FACTURADA
							,CANTIDAD_RESERVADA,CANTIDAD_BONIFICAD,CANTIDAD_CANCELADA,TIPO_DESCUENTO,MONTO_DESCUENTO,PORC_DESCUENTO,
							BODEGA,
							ESTADO,FECHA_PROMETIDA,NoteExistsFlag,RecordDate,RowPointer,CreatedBy,UpdatedBy,CreateDate,PROYECTO,FASE,CENTRO_COSTO,CUENTA_CONTABLE)

							VALUES(@PEDIDO,@COUNT_LINEA,@ARTICULO,@FECHA_ENTREGA,@COUNT_LINEA,ISNULL(@PRECIO_UNITARIO,0),@CANTIDAD_PEDIDA,@CANTIDAD_A_FACTURA,@CANTIDAD_FACTURADA	
							,@CANTIDAD_RESERVADA,@CANTIDAD_BONIFICAD,@CANTIDAD_CANCELADA,@TIPO_DESCUENTO,@MONTO_DESCUENTO,@PORC_DESCUENTO,
							@BODEGA,	
							@ESTADO,@FECHA_PROMETIDA,@NoteExistsFlag,@RecordDate,@RowPointer,@CreatedBy,@UpdatedBy,@CreateDate,@PROYECTO,@FASE,@CENTRO_COSTO,@CUENTA_CONTABLE)
						END
						ELSE
						BEGIN
						--ARTICULOS DE SERVICIOS
							INSERT INTO AHPF_HN.ASHPF.PEDIDO_LINEA
							(PEDIDO,PEDIDO_LINEA,ARTICULO,FECHA_ENTREGA,LINEA_USUARIO,
							PRECIO_UNITARIO,CANTIDAD_PEDIDA,CANTIDAD_A_FACTURA,CANTIDAD_FACTURADA
							,CANTIDAD_RESERVADA,CANTIDAD_BONIFICAD,CANTIDAD_CANCELADA,TIPO_DESCUENTO,MONTO_DESCUENTO,PORC_DESCUENTO,
							BODEGA,LOTE,LOCALIZACION,
							ESTADO,FECHA_PROMETIDA,NoteExistsFlag,RecordDate,RowPointer,CreatedBy,UpdatedBy,CreateDate,PROYECTO,FASE,CENTRO_COSTO,CUENTA_CONTABLE)

							VALUES(@PEDIDO,@COUNT_LINEA,@ARTICULO,@FECHA_ENTREGA,@COUNT_LINEA,ISNULL(@PRECIO_UNITARIO,0),@CANTIDAD_PEDIDA,@CANTIDAD_A_FACTURA,@CANTIDAD_FACTURADA	
							,@CANTIDAD_RESERVADA,@CANTIDAD_BONIFICAD,@CANTIDAD_CANCELADA,@TIPO_DESCUENTO,@MONTO_DESCUENTO,@PORC_DESCUENTO,
							@BODEGA,@LOTE,@LOCALIZACION,	
							@ESTADO,@FECHA_PROMETIDA,@NoteExistsFlag,@RecordDate,@RowPointer,@CreatedBy,@UpdatedBy,@CreateDate,@PROYECTO,@FASE,@CENTRO_COSTO,@CUENTA_CONTABLE)
						END
					END

					FETCH SELECT_OVAR INTO @PEDIDO,@COUNT_LINEA,@ARTICULO,@FECHA_ENTREGA,@COUNT_LINEA,@PRECIO_UNITARIO,@CANTIDAD_PEDIDA,@CANTIDAD_A_FACTURA,@CANTIDAD_FACTURADA	
					,@CANTIDAD_RESERVADA,@CANTIDAD_BONIFICAD,@CANTIDAD_CANCELADA,@TIPO_DESCUENTO,@MONTO_DESCUENTO,@PORC_DESCUENTO,@BODEGA,@LOTE,@LOCALIZACION		
					,@ESTADO,@FECHA_PROMETIDA,@NoteExistsFlag,@RecordDate,@RowPointer,@CreatedBy,@UpdatedBy,@CreateDate,@PROYECTO,@FASE,@CENTRO_COSTO,@CUENTA_CONTABLE;

				END;
				CLOSE SELECT_OVAR
				DEALLOCATE SELECT_OVAR
				
			COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
	 return  'Ocurrio un Error: '+ERROR_MESSAGE()+' en la línea ' + CONVERT(NVARCHAR(255), ERROR_LINE() ) + '.'

		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END
			EXECUTE ASHPF.Sp_LogError;
		END CATCH;	
END



