USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_REGISTRO_INV_LN]    Script Date: 11/9/2022 3:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [ASHPF].[sP_REGISTRO_INV_LN]
		@MAX_AUDITORIA					AS INT,
		@Id_FC							AS INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

			DECLARE @AUDIT_TRANS_INV						INT
			DECLARE @CONSECUTIVO							INT
			DECLARE @FECHA_HORA_TRANSAC						DATETIME
			DECLARE @FECHA									DATETIME
			DECLARE @NIT									VARCHAR(20)
			DECLARE @AJUSTE_CONFIG							VARCHAR(4)
			DECLARE @ARTICULO								VARCHAR(20)
			DECLARE @BODEGA									VARCHAR(4)
			DECLARE @LOCALIZACION							VARCHAR(8)
			DECLARE @LOTE									VARCHAR(15)
			DECLARE @TIPO									VARCHAR(1)
			DECLARE @SUBTIPO								VARCHAR(1)
			DECLARE @SUBSUBTIPO								VARCHAR(1)
			DECLARE @NATURALEZA								VARCHAR(1)
			DECLARE @CANTIDAD								DECIMAL(28,8)
			DECLARE @COSTO_TOT_FISC_LOC						DECIMAL(28,8)
			DECLARE @COSTO_TOT_FISC_DOL						DECIMAL(28,8)
			DECLARE @COSTO_TOT_COMP_LOC						DECIMAL(28,8)
			DECLARE @COSTO_TOT_COMP_DOL						DECIMAL(28,8)
			DECLARE @PRECIO_TOTAL_LOCAL						DECIMAL(28,8)
			DECLARE @PRECIO_TOTAL_DOLAR						DECIMAL(28,8)
			DECLARE @CONTABILIZADA							VARCHAR(1)
			DECLARE @CENTRO_COSTO							VARCHAR(25)
			DECLARE @CUENTA_CONTABLE						VARCHAR(25)
			DECLARE @NOTEEXISTSFLAG							TINYINT
			DECLARE @RECORDDATE								DATETIME
			DECLARE @ROWPOINTER								UNIQUEIDENTIFIER
			DECLARE @CREATEDBY								VARCHAR(30)
			DECLARE @UPDATEDBY								VARCHAR(30)
			DECLARE @CREATEDATE								DATETIME
			DECLARE @TIPO_ART								VARCHAR(1)
			DECLARE @CLIENTE								VARCHAR(20)

			--- VARIABLES PARA ITERACION DE LINEAS FCDT 

			DECLARE @E					AS	INT
			SET @E = 1
			DECLARE	@Id_FCDT			AS	INT

	BEGIN TRY
		BEGIN TRANSACTION;

			--- CARGA DE LINEAS DETALLE DE FACTURA PARA REGISTRAR TRANSACCION DE INVENTARIO 

			DECLARE @FACTURA_LINEA AS TABLE(
			ID INT IDENTITY(1,1) PRIMARY KEY,
			AUDIT_TRANS_INV							INT,
			CONSECUTIVO								INT,
			FECHA_HORA_TRANSAC						DATETIME,
			FECHA									DATETIME,
			NIT										VARCHAR(20),
			AJUSTE_CONFIG							VARCHAR(4),
			ARTICULO								VARCHAR(20),
			BODEGA									VARCHAR(4),
			LOCALIZACION							VARCHAR(8),
			LOTE									VARCHAR(15),
			TIPO									VARCHAR(1),
			SUBTIPO									VARCHAR(1),
			SUBSUBTIPO								VARCHAR(1),
			NATURALEZA								VARCHAR(1),
			CANTIDAD								DECIMAL(28,8),
			COSTO_TOT_FISC_LOC						DECIMAL(28,8),
			COSTO_TOT_FISC_DOL						DECIMAL(28,8),
			COSTO_TOT_COMP_LOC						DECIMAL(28,8),
			COSTO_TOT_COMP_DOL						DECIMAL(28,8),
			PRECIO_TOTAL_LOCAL						DECIMAL(28,8),
			PRECIO_TOTAL_DOLAR						DECIMAL(28,8),
			CONTABILIZADA							VARCHAR(1),
			CENTRO_COSTO							VARCHAR(25),
			CUENTA_CONTABLE							VARCHAR(25),
			NOTEEXISTSFLAG							TINYINT,
			RECORDDATE								DATETIME,
			ROWPOINTER								UNIQUEIDENTIFIER,
			CREATEDBY								VARCHAR(30),
			UPDATEDBY								VARCHAR(30),
			CREATEDATE								DATETIME,
			TIPO_ART								VARCHAR(1),
			CLIENTE									VARCHAR(20))


			-------------------------------------------------------------------------------------------
			-------------OBTENER LINEAS DE FACTURA-----------------------------
			-------------------------------------------------------------------------------------------
			INSERT INTO @FACTURA_LINEA
			(AUDIT_TRANS_INV,CONSECUTIVO,FECHA_HORA_TRANSAC,FECHA,NIT,AJUSTE_CONFIG,ARTICULO	,BODEGA,LOCALIZACION,
			LOTE,TIPO,SUBTIPO,SUBSUBTIPO,NATURALEZA,CANTIDAD,COSTO_TOT_FISC_LOC,COSTO_TOT_FISC_DOL,COSTO_TOT_COMP_LOC,
			COSTO_TOT_COMP_DOL,	PRECIO_TOTAL_LOCAL,PRECIO_TOTAL_DOLAR,CONTABILIZADA,CENTRO_COSTO,CUENTA_CONTABLE,
			NOTEEXISTSFLAG,RECORDDATE,ROWPOINTER,CREATEDBY,	UPDATEDBY,CREATEDATE,TIPO_ART,CLIENTE)

				SELECT 
				@MAX_AUDITORIA,
				FL.Linea AS CONSECUTIVO,
				FL.Fecha_Registro AS FECHA_HORA_TRANSAC,
				FL.Fecha_Registro AS FECHA,
				'ND' AS NIT,
				'~VV~' AS AJUSTE_CONFIG,
				FL.Id_AR AS ARTICULO,
				FL.Id_AL,
				FL.UDF_Id_UB,
				FL.LOTE,				
				'V' AS TIPO,
				'D' AS SUBTIPO,
				'L' AS SUBSUBTIPO,
				'S' AS NATURALEZA,
				FL.Cantidad AS CANTIDAD,
				ISNULL([AHPF_HN].[ASHPF].[GET_COSTO_ARTICULO] (FL.Id_AR,FL.Id_AL,FL.Cantidad),0) AS COSTO_TOT_FISC_LOC, 
				ISNULL(([AHPF_HN].[ASHPF].[GET_COSTO_ARTICULO] (FL.Id_AR,FL.Id_AL,FL.Cantidad) /[AHPF_HN].[ASHPF].[ObtenerTipoCambio] ('DLR',FL.Fecha_Registro) ),0) AS COSTO_TOT_FISC_DOL,
				ISNULL([AHPF_HN].[ASHPF].[GET_COSTO_ARTICULO] (FL.Id_AR,FL.Id_AL,FL.Cantidad),0)  AS COSTO_TOT_COMP_LOC,
				ISNULL(([AHPF_HN].[ASHPF].[GET_COSTO_ARTICULO] (FL.Id_AR,FL.Id_AL,FL.Cantidad) /[AHPF_HN].[ASHPF].[ObtenerTipoCambio] ('DLR',FL.Fecha_Registro) ),0)  AS COSTO_TOT_COMP_DOL,
				FL.Subtotal AS PRECIO_TOTAL_LOCAL,
				(FL.Subtotal / [AHPF_HN].[ASHPF].[ObtenerTipoCambio] ('DLR',FL.Fecha_Registro)  ) AS PRECIO_TOTAL_DOLAR,
				'S' AS CONTABILIZA,
				[AHPF_HN].[ASHPF].[GET_CENTRO_COSTO] (FL.Id_AR,F.Id_PT),
				[AHPF_HN].[ASHPF].[GET_CUENTA_CONTABLE] (FL.Id_AR,F.Id_PT),
				0 AS NoteExistsFlag,
				FL.Fecha_Registro AS RecordDate,
				NEWID() AS RowPointer,
				FL.Usuario_Registro,
				F.Usuario_Modificacion AS UpdatedBy,
				FL.Fecha_Registro AS CreateDate,
				[AHPF_HN].[ASHPF].[GET_TIPOARTICULO](FL.Id_AR) AS TIPO,
				F.Id_PT AS CLIENTE

				FROM H1_AHPF_HN.dbo.FCDT AS FL
				INNER JOIN H1_AHPF_HN.dbo.FC AS F ON F.Id_FC = FL.Id_FC
												
				WHERE FL.Id_FC=@Id_FC ORDER BY FL.linea

				--- INICIA EL PROCESO DE INSERCION DE LINEA

				SELECT @Id_FCDT = COUNT(*) FROM @FACTURA_LINEA

				WHILE @E <= @Id_FCDT
				BEGIN
				DECLARE @CONSECUTIVO_C						INT

				SET @CONSECUTIVO_C = ISNULL(MAX(ISNULL(@CONSECUTIVO_C,0)) ,0)+1 

					SELECT
					@AUDIT_TRANS_INV										=FL.AUDIT_TRANS_INV,
					@CONSECUTIVO											=@CONSECUTIVO_C,
					@FECHA_HORA_TRANSAC										=FL.FECHA_HORA_TRANSAC,
					@FECHA													=FL.FECHA,
					@NIT													=FL.NIT,
					@AJUSTE_CONFIG											=FL.AJUSTE_CONFIG,
					@ARTICULO												=FL.ARTICULO,
					@BODEGA													=FL.BODEGA,
					@LOCALIZACION											=FL.LOCALIZACION,
					@LOTE													=FL.LOTE,
					@TIPO													=FL.TIPO,
					@SUBTIPO												=FL.SUBTIPO,
					@SUBSUBTIPO												=FL.SUBSUBTIPO,
					@NATURALEZA												=FL.NATURALEZA,
					@CANTIDAD												=FL.CANTIDAD,
					@COSTO_TOT_FISC_LOC										=FL.COSTO_TOT_FISC_LOC,
					@COSTO_TOT_FISC_DOL										=FL.COSTO_TOT_FISC_DOL,
					@COSTO_TOT_COMP_LOC										=FL.COSTO_TOT_COMP_LOC,
					@COSTO_TOT_COMP_DOL										=FL.COSTO_TOT_COMP_DOL,	
					@PRECIO_TOTAL_LOCAL										=FL.PRECIO_TOTAL_LOCAL,
					@PRECIO_TOTAL_DOLAR										=FL.PRECIO_TOTAL_DOLAR,
					@CONTABILIZADA											=FL.CONTABILIZADA,
					@CENTRO_COSTO											=FL.CENTRO_COSTO,
					@CUENTA_CONTABLE										=FL.CUENTA_CONTABLE,
					@NOTEEXISTSFLAG											=FL.NOTEEXISTSFLAG,
					@RECORDDATE												=FL.RECORDDATE,
					@ROWPOINTER												=FL.ROWPOINTER,
					@CREATEDBY												=FL.CREATEDBY,	
					@UPDATEDBY												=FL.UPDATEDBY,
					@CREATEDATE												=FL.CREATEDATE,
					@TIPO_ART												=FL.TIPO_ART,
					@CLIENTE												=FL.CLIENTE

					FROM @FACTURA_LINEA	AS	FL	WHERE	FL.ID	=	@E	

					IF @TIPO_ART	!= 'K'
						BEGIN

						EXEC erpadmin.GrabarUsuarioActual @CREATEDBY
						EXEC erpadmin.LeerUsuarioActual @CREATEDBY
						
							INSERT INTO AHPF_HN.ASHPF.TRANSACCION_INV
							(AUDIT_TRANS_INV,CONSECUTIVO,FECHA_HORA_TRANSAC,NIT,AJUSTE_CONFIG,ARTICULO,BODEGA
							,LOTE,LOCALIZACION,TIPO,SUBTIPO,SUBSUBTIPO,NATURALEZA,CANTIDAD,COSTO_TOT_FISC_LOC,COSTO_TOT_FISC_DOL
							,COSTO_TOT_COMP_LOC,COSTO_TOT_COMP_DOL,PRECIO_TOTAL_LOCAL,PRECIO_TOTAL_DOLAR
							,CONTABILIZADA,FECHA,CENTRO_COSTO,CUENTA_CONTABLE,NoteExistsFlag,RecordDate,RowPointer,CreatedBy,UpdatedBy,CreateDate)

							VALUES(@MAX_AUDITORIA,@CONSECUTIVO_C,@FECHA_HORA_TRANSAC,@NIT,@AJUSTE_CONFIG,@ARTICULO,@BODEGA
							,@LOTE,@LOCALIZACION,@TIPO,@SUBTIPO,@SUBSUBTIPO,@NATURALEZA,@CANTIDAD,@COSTO_TOT_FISC_LOC,@COSTO_TOT_FISC_DOL
							,@COSTO_TOT_COMP_LOC,@COSTO_TOT_COMP_DOL,@PRECIO_TOTAL_LOCAL,@PRECIO_TOTAL_DOLAR
							,@CONTABILIZADA,@FECHA,@CENTRO_COSTO,@CUENTA_CONTABLE,@NoteExistsFlag,@RecordDate,NEWID(),@CreatedBy,@UpdatedBy,@CreateDate)
						END

					IF @TIPO_ART	=	'K'
						BEGIN

						--------------------------------------------------------------------------------------------------
						---------------------	OBTENER ARTICULO HIJO	------------------------------
						--------------------------------------------------------------------------------------------------

						DECLARE @ARTICULO_HIJO									AS VARCHAR(20)
						DECLARE @CANTIDAD_KIT									AS DECIMAL(28,8)
						DECLARE @COSTO_TOT_FISC_LOC_KIT							AS DECIMAL(28,8)
						DECLARE @COSTO_TOT_FISC_DOL_KIT							AS DECIMAL(28,8)
						DECLARE @COSTO_TOT_COMP_LOC_KIT							AS DECIMAL(28,8)
						DECLARE @COSTO_TOT_COMP_DOL_KIT							AS DECIMAL(28,8)
						DECLARE @CENTRO_COSTO_KIT								AS VARCHAR(25)
						DECLARE @CUENTA_CONTABLE_KIT							AS VARCHAR(25)
						DECLARE @LOCALIZACION_KIT								AS VARCHAR(8)
						DECLARE @LOTE_KIT										AS VARCHAR(15)

						------------------------------------------------------------------------------------------------
						---------------- OBTENER ARTICULO ENSAMBLE ---------------------------
						------------------------------------------------------------------------------------------------

						SET @ARTICULO_HIJO		 =(SELECT A1.ARTICULO_HIJO FROM AHPF_HN.ASHPF.ARTICULO_ENSAMBLE AS A1 WHERE A1.ARTICULO_PADRE=@ARTICULO)
						SET @CANTIDAD_KIT		 =(SELECT A1.CANTIDAD FROM AHPF_HN.ASHPF.ARTICULO_ENSAMBLE AS A1 WHERE A1.ARTICULO_HIJO=@ARTICULO_HIJO AND A1.ARTICULO_PADRE=@ARTICULO)

						-----------------------------------------------------------------------------------------------
						-------------- OBTENER COSTO ---------------------------------------------------
						----------------------------------------------------------------------------------------------
						

						SET @COSTO_TOT_FISC_LOC_KIT =( SELECT [AHPF_HN].[ASHPF].[GET_COSTO_ARTICULO] (@ARTICULO_HIJO,@BODEGA,@CANTIDAD_KIT) * @CANTIDAD)
						SET @COSTO_TOT_FISC_DOL_KIT = 0.00000000

						SET @COSTO_TOT_COMP_LOC_KIT =(SELECT [AHPF_HN].[ASHPF].[GET_COSTO_ARTICULO] (@ARTICULO_HIJO,@BODEGA,@CANTIDAD_KIT) * @CANTIDAD)
						SET @COSTO_TOT_COMP_DOL_KIT = 0.00000000

						-----------------------------------------------------------------------------------------------------------
						-------------- OBTENER CENTRO COSTO Y CUENTA CONTABLE --------------
						-----------------------------------------------------------------------------------------------------------

						SET @CENTRO_COSTO_KIT = NULL
						SET @CUENTA_CONTABLE_KIT =NULL

						-----------------------------------------------------------------------------------------------------------
						------------- OBTENER LOTE Y LOCALIZACION ----------------------------------------
						-----------------------------------------------------------------------------------------------------------

						SELECT 
						@LOTE_KIT					=	EB.LOTE,        
						@LOCALIZACION_KIT			=	EB.LOCALIZACION  
						
						FROM   AHPF_HN.ASHPF.EXISTENCIA_LOTE AS EB,        ASHPF.LOTE LOT 
						WHERE  EB.ARTICULO = @ARTICULO_HIJO       
						AND EB.LOTE = LOT.LOTE        
						AND EB.ARTICULO = LOT.ARTICULO        
						AND LOT.FECHA_VENCIMIENTO > '1980-1-1 00:00:00:000'        
						AND EB.BODEGA = @BODEGA					 
						AND EB.LOCALIZACION != 'ND' ORDER BY        LOT.FECHA_VENCIMIENTO

						--- CONSUMO ---

						EXEC erpadmin.GrabarUsuarioActual @CREATEDBY
						EXEC erpadmin.LeerUsuarioActual @CREATEDBY
				
						
							INSERT INTO AHPF_HN.ASHPF.TRANSACCION_INV
							(AUDIT_TRANS_INV,CONSECUTIVO,FECHA_HORA_TRANSAC,NIT,AJUSTE_CONFIG,ARTICULO,BODEGA
							,LOTE,LOCALIZACION,TIPO,SUBTIPO,SUBSUBTIPO,NATURALEZA,CANTIDAD,COSTO_TOT_FISC_LOC,COSTO_TOT_FISC_DOL
							,COSTO_TOT_COMP_LOC,COSTO_TOT_COMP_DOL,PRECIO_TOTAL_LOCAL,PRECIO_TOTAL_DOLAR
							,CONTABILIZADA,FECHA,CENTRO_COSTO,CUENTA_CONTABLE,NoteExistsFlag,RecordDate,RowPointer,CreatedBy,UpdatedBy,CreateDate)

							VALUES(@MAX_AUDITORIA,@CONSECUTIVO_C,@FECHA_HORA_TRANSAC,@NIT,'~CC~',@ARTICULO_HIJO,@BODEGA
							,@LOTE_KIT,@LOCALIZACION_KIT,'C','D','N','S',@CANTIDAD,@COSTO_TOT_FISC_LOC_KIT,@COSTO_TOT_FISC_DOL_KIT
							,@COSTO_TOT_COMP_LOC_KIT,@COSTO_TOT_COMP_DOL_KIT,0.00000000,0.00000000
							,@CONTABILIZADA,@FECHA,@CENTRO_COSTO_KIT,@CUENTA_CONTABLE_KIT,@NoteExistsFlag,@RecordDate,NEWID(),@CreatedBy,@UpdatedBy,@CreateDate)

							
							
						--- ENSAMBLE ---

							SET @CONSECUTIVO_C = @CONSECUTIVO_C + 1

							INSERT INTO AHPF_HN.ASHPF.TRANSACCION_INV
							(AUDIT_TRANS_INV,CONSECUTIVO,FECHA_HORA_TRANSAC,NIT,AJUSTE_CONFIG,ARTICULO,BODEGA
							,LOTE,LOCALIZACION,TIPO,SUBTIPO,SUBSUBTIPO,NATURALEZA,CANTIDAD,COSTO_TOT_FISC_LOC,COSTO_TOT_FISC_DOL
							,COSTO_TOT_COMP_LOC,COSTO_TOT_COMP_DOL,PRECIO_TOTAL_LOCAL,PRECIO_TOTAL_DOLAR
							,CONTABILIZADA,FECHA,CENTRO_COSTO,CUENTA_CONTABLE,NoteExistsFlag,RecordDate,RowPointer,CreatedBy,UpdatedBy,CreateDate)

							VALUES(@MAX_AUDITORIA,@CONSECUTIVO_C,@FECHA_HORA_TRANSAC,@NIT,'~EE~',@ARTICULO,@BODEGA
							,@LOTE,@LOCALIZACION,'E',' ',' ','E',@CANTIDAD,0.00000000,0.00000000
							,0.00000000,0.00000000,@PRECIO_TOTAL_LOCAL,0.00000000
							,@CONTABILIZADA,@FECHA,@CENTRO_COSTO,@CUENTA_CONTABLE,@NoteExistsFlag,@RecordDate,NEWID(),@CreatedBy,@UpdatedBy,@CreateDate)

							

						--- VENTA ---

							SET @CONSECUTIVO_C = @CONSECUTIVO_C + 1

							INSERT INTO AHPF_HN.ASHPF.TRANSACCION_INV
							(AUDIT_TRANS_INV,CONSECUTIVO,FECHA_HORA_TRANSAC,NIT,AJUSTE_CONFIG,ARTICULO,BODEGA
							,LOTE,LOCALIZACION,TIPO,SUBTIPO,SUBSUBTIPO,NATURALEZA,CANTIDAD,COSTO_TOT_FISC_LOC,COSTO_TOT_FISC_DOL
							,COSTO_TOT_COMP_LOC,COSTO_TOT_COMP_DOL,PRECIO_TOTAL_LOCAL,PRECIO_TOTAL_DOLAR
							,CONTABILIZADA,FECHA,CENTRO_COSTO,CUENTA_CONTABLE,NoteExistsFlag,RecordDate,RowPointer,CreatedBy,UpdatedBy,CreateDate)

							VALUES(@MAX_AUDITORIA,@CONSECUTIVO_C,@FECHA_HORA_TRANSAC,@NIT,'~VV~',@ARTICULO,@BODEGA
							,@LOTE,@LOCALIZACION,'V','D','L','S',@CANTIDAD,0.00000000,0.00000000
							,0.00000000,0.00000000,@PRECIO_TOTAL_LOCAL,0.00000000
							,@CONTABILIZADA,@FECHA,@CENTRO_COSTO,@CUENTA_CONTABLE,@NoteExistsFlag,@RecordDate,NEWID(),@CreatedBy,@UpdatedBy,@CreateDate)

							

						END


					
					SET @E = @E + 1
					
				END

		COMMIT TRANSACTION
	END TRY
		BEGIN CATCH
			IF @@TRANCOUNT > 0
		BEGIN
			PRINT XACT_STATE();
			ROLLBACK TRANSACTION;
		END
			PRINT ERROR_MESSAGE();
			THROW 50001, 'Ha ocurrido un error, la transacción ha sido cancelada.',0;
			EXECUTE AHPF_HN.ASHPF.Sp_LogError;
	END CATCH;
END