USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sP_UPDATE_PEDIDO_LINEA_FA_H1_]    Script Date: 11/9/2022 3:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [ASHPF].[sP_UPDATE_PEDIDO_LINEA_FA_H1_] 
	-- Add the parameters for the stored procedure here
	@PEDIDO		AS VARCHAR(20),
	@Id_FC		AS INT,
	@Id_PT		AS NVARCHAR(15)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

			DECLARE		@PEDIDO_LINEA			AS SMALLINT
			DECLARE		@BODEGA					AS VARCHAR(4)
			DECLARE		@LOTE					AS VARCHAR(15)
			DECLARE		@LOCALIZACION			AS VARCHAR(8)
			DECLARE		@ARTICULO				AS VARCHAR(20)
			DECLARE		@ESTADO					AS VARCHAR(1)
			DECLARE		@FECHA_ENTREGA			AS DATETIME
			DECLARE		@LINEA_USUARIO			AS SMALLINT
			DECLARE		@PRECIO_UNITARIO		AS DECIMAL(28,8)
			DECLARE		@CANTIDAD_PEDIDA		AS DECIMAL(28,8)
			DECLARE		@CANTIDAD_A_FACTURA		AS DECIMAL(28,8)
			DECLARE		@CANTIDAD_FACTURADA		AS DECIMAL(28,8)	
			DECLARE		@CANTIDAD_RESERVADA		AS DECIMAL(28,8)
			DECLARE		@CANTIDAD_BONIFICAD		AS DECIMAL(28,8)
			DECLARE		@CANTIDAD_CANCELADA		AS DECIMAL(28,8)
			DECLARE		@TIPO_DESCUENTO			AS VARCHAR(1)
			DECLARE		@MONTO_DESCUENTO		AS DECIMAL(28,8)
			DECLARE		@PORC_DESCUENTO			AS DECIMAL(28,8)
			DECLARE		@FECHA_PROMETIDA		AS DATETIME
			DECLARE		@NoteExistsFlag			AS TINYINT
			DECLARE		@RecordDate				AS DATETIME
			DECLARE		@RowPointer				AS UNIQUEIDENTIFIER
			DECLARE		@CreatedBy				AS VARCHAR(30)
			DECLARE		@UpdatedBy				AS VARCHAR(30)
			DECLARE		@CreateDate				AS DATETIME
			DECLARE		@PROYECTO				AS VARCHAR(25)
			DECLARE		@FASE					AS VARCHAR(25)
			DECLARE		@CENTRO_COSTO			AS VARCHAR(25)
			DECLARE		@CUENTA_CONTABLE		AS VARCHAR(25)
			DECLARE		@CCOSTO					AS VARCHAR(25)
			DECLARE		@CCONTABLE				AS VARCHAR(25)
			DECLARE		@CLIENTE				AS VARCHAR(20)
			DECLARE		@LINE_COUNT				AS INT
			DECLARE		@PRECIO_F				AS FLOAT
			DECLARE		@USUARIO				AS VARCHAR(50)
			DECLARE		@COBRADOR				AS VARCHAR(4)
			DECLARE		@Id_PR					AS INT
			DECLARE		@CONDICION_PAGO			AS VARCHAR(4)
			DECLARE		@NOMBRE_CLIENTE			AS VARCHAR(150)


		--- VARIABLES PARA ITERACION DE LINEAS 

		DECLARE @E					AS	INT
			SET @E = 1
		DECLARE	@Id_FCDT			AS	INT


    BEGIN TRY
		BEGIN TRANSACTION;
	
		--ELIMINAMOS LAS LINEAS DEL PEDIDO SI EXISTIERA ALGUN CAMBIO

		DELETE  AHPF_HN.ASHPF.PEDIDO_LINEA WHERE PEDIDO =@PEDIDO


		--- OBTENER LINEAS DE FCDT H1
	
		SELECT	@USUARIO=Usuario_Registro FROM H1_AHPF_HN.dbo.FC WHERE Id_FC=@Id_FC
		SET		@Id_PR=(SELECT Id_PR FROM H1_AHPF_HN.dbo.FC WHERE Id_FC=@Id_FC)
		SET		@COBRADOR = (SELECT Referencia1 FROM H1_AHPF_HN.dbo.PR WHERE Id_PR=@Id_PR)
		SET		@CONDICION_PAGO	=(SELECT MetodoPago FROM H1_AHPF_HN.dbo.FC WHERE Id_FC=@Id_FC)
		SET		@NOMBRE_CLIENTE	=(SELECT NOMBRE FROM AHPF_HN.ASHPF.CLIENTE WHERE CLIENTE=@Id_PT)
		SET		@CLIENTE		=(SELECT Id_PT FROM H1_AHPF_HN.dbo.FC WHERE Id_FC=@Id_FC)

		EXEC erpadmin.GrabarUsuarioActual @USUARIO


		--- TABLA TEMPORAL LINEAS FCDT  H1

				DECLARE @FCDT_LINEAS AS TABLE(

				ID INT IDENTITY(1,1) PRIMARY KEY,
				Id_FCDT						INT,
				PEDIDO						VARCHAR(20),
				PEDIDO_LINEA				SMALLINT,
				BODEGA						VARCHAR(4),
				LOTE						VARCHAR(15),
				LOCALIZACION				VARCHAR(8),
				ARTICULO					VARCHAR(20),
				ESTADO						VARCHAR(1),
				FECHA_ENTREGA				DATETIME,
				LINEA_USUARIO				SMALLINT,
				PRECIO_UNITARIO				DECIMAL(28,8),
				CANTIDAD_PEDIDA				DECIMAL(28,8),
				CANTIDAD_A_FACTURA			DECIMAL(28,8),
				CANTIDAD_FACTURADA			DECIMAL(28,8),
				CANTIDAD_RESERVADA			DECIMAL(28,8),
				CANTIDAD_BONIFICAD			DECIMAL(28,8),
				CANTIDAD_CANCELADA			DECIMAL(28,8),
				TIPO_DESCUENTO				VARCHAR(1),
				MONTO_DESCUENTO				DECIMAL(28,8),
				PORC_DESCUENTO				DECIMAL(28,8),
				FECHA_PROMETIDA				DATETIME,
				NoteExistsFlag				TINYINT,
				RecordDate					DATETIME,
				RowPointer					UNIQUEIDENTIFIER,
				CreatedBy					VARCHAR(30),	
				UpdatedBy					VARCHAR(30),
				CreateDate					DATETIME,
				PROYECTO					VARCHAR(25),
				FASE						VARCHAR(25),
				CENTRO_COSTO				VARCHAR(25),
				CUENTA_CONTABLE				VARCHAR(25)
				
				)




		-------------------------------------------------------------------------------------
		
		INSERT INTO @FCDT_LINEAS
		(PEDIDO,PEDIDO_LINEA,BODEGA,LOTE,LOCALIZACION,ARTICULO,ESTADO,FECHA_ENTREGA,LINEA_USUARIO,PRECIO_UNITARIO,		
		CANTIDAD_PEDIDA,CANTIDAD_A_FACTURA,CANTIDAD_FACTURADA,CANTIDAD_RESERVADA,CANTIDAD_BONIFICAD,CANTIDAD_CANCELADA,		
		TIPO_DESCUENTO,MONTO_DESCUENTO,PORC_DESCUENTO,FECHA_PROMETIDA,NoteExistsFlag,RecordDate,RowPointer,CreatedBy,				
		UpdatedBy,CreateDate,PROYECTO,FASE,CENTRO_COSTO,CUENTA_CONTABLE)
		
		SELECT 
			@PEDIDO,F1.Linea,
			F1.Id_AL							AS BODEGA,
			F1.Lote								AS LOTE,
			F1.Id_UB							AS LOCALIZACION,
			F1.Id_AR							AS ARTICULO,
			'N'									AS ESTADO,
			F0.Fecha_Registro					AS FECHA_ENTREGA,
			F1.Linea							AS LINEA_USUARIO,
			F1.PrecioUnitario					AS PRECIO_UNITARIO,
			F1.Cantidad							AS CANTIDAD_PEDIDA,
			F1.Cantidad							AS CANTIDAD_A_FACTURA,
			F1.Cantidad							AS CANTIDAD_FACTURADA,
			0.00000000							AS CANTIDAD_RESERVADA,
			0.00000000							AS CANTIDAD_BONIFICAD,
			0.00000000							AS CANTIDAD_CANCELADA,
			'P'									AS TIPO_DESCUENTO,
			ISNULL(F1.UDF_Descuento_T,0)		AS MONTO_DESCUENTO,
			ISNULL(F1.Descuento,0)				AS PORC_DESCUENTO,
			F0.Fecha_Registro					AS FECHA_PROMETIDA,
			0									AS NoteExistsFlag,
			F0.Fecha							AS RecordDate,
			NEWID()								AS RowPointer,
			F0.Usuario_Registro					AS CreatedBy,				
			F0.Usuario_Modificacion				AS UpdatedBy,
			F0.Fecha							AS CreateDate,
			NULL								AS PROYECTO,
			NULL								AS FASE,
			NULL								AS CENTRO_COSTO,
			NULL								AS CUENTA_CONTABLE
			
			

		FROM H1_AHPF_HN.dbo.FC AS F0 WITH(NOLOCK)
		LEFT JOIN H1_AHPF_HN.dbo.FCDT AS F1 ON F1.Id_FC = F0.Id_FC  WHERE F0.Id_FC=@Id_FC

		-----------------------------------------------------------------------------------------------------------------------------------------------
				
		---  ITERACION 

			SELECT @Id_FCDT	=	COUNT(*) FROM @FCDT_LINEAS

			WHILE @E <= @Id_FCDT
				BEGIN 
				SELECT	
						@PEDIDO					= FL.PEDIDO,
						@PEDIDO_LINEA			= FL.PEDIDO_LINEA,			
						@BODEGA					= FL.BODEGA,					
						@LOTE					= FL.LOTE,					
						@LOCALIZACION			= FL.LOCALIZACION,		
						@ARTICULO				= FL.ARTICULO,				
						@ESTADO					= FL.ESTADO,				
						@FECHA_ENTREGA			= FL.FECHA_ENTREGA,			
						@LINEA_USUARIO			= FL.LINEA_USUARIO,		
						@PRECIO_UNITARIO		= FL.PRECIO_UNITARIO,		
						@CANTIDAD_PEDIDA		= FL.CANTIDAD_PEDIDA,	
						@CANTIDAD_A_FACTURA		= FL.CANTIDAD_A_FACTURA,
						@CANTIDAD_FACTURADA		= FL.CANTIDAD_FACTURADA,	
						@CANTIDAD_RESERVADA		= FL.CANTIDAD_RESERVADA,
						@CANTIDAD_BONIFICAD		= FL.CANTIDAD_BONIFICAD,	
						@CANTIDAD_CANCELADA		= FL.CANTIDAD_CANCELADA,
						@TIPO_DESCUENTO			= FL.TIPO_DESCUENTO,		
						@MONTO_DESCUENTO		= FL.MONTO_DESCUENTO,	
						@PORC_DESCUENTO			= FL.PORC_DESCUENTO,			
						@FECHA_PROMETIDA		= FL.FECHA_PROMETIDA,		
						@NoteExistsFlag			= FL.NoteExistsFlag,			
						@RecordDate				= FL.RecordDate,				
						@RowPointer				= FL.RowPointer,			
						@CreatedBy				= FL.CreatedBy,			
						@UpdatedBy				= FL.UpdatedBy,			
						@CreateDate				= FL.CreateDate,			
						@PROYECTO				= FL.PROYECTO,				
						@FASE					= FL.FASE,				
						@CENTRO_COSTO			= FL.CENTRO_COSTO,		
						@CUENTA_CONTABLE		= FL.CUENTA_CONTABLE
						

					FROM @FCDT_LINEAS AS FL WHERE FL.Id = @E

						INSERT INTO AHPF_HN.ASHPF.PEDIDO_LINEA
						(PEDIDO,PEDIDO_LINEA,BODEGA,LOTE,LOCALIZACION,ARTICULO,ESTADO,FECHA_ENTREGA,LINEA_USUARIO,PRECIO_UNITARIO,		
						CANTIDAD_PEDIDA,CANTIDAD_A_FACTURA,CANTIDAD_FACTURADA,CANTIDAD_RESERVADA,CANTIDAD_BONIFICAD,CANTIDAD_CANCELADA,		
						TIPO_DESCUENTO,MONTO_DESCUENTO,PORC_DESCUENTO,FECHA_PROMETIDA,NoteExistsFlag,RecordDate,RowPointer,CreatedBy,				
						UpdatedBy,CreateDate,PROYECTO,FASE,CENTRO_COSTO,CUENTA_CONTABLE)

						VALUES
						(@PEDIDO,@PEDIDO_LINEA,@BODEGA,@LOTE,@LOCALIZACION,@ARTICULO,@ESTADO,@FECHA_ENTREGA,@LINEA_USUARIO,@PRECIO_UNITARIO,		
						@CANTIDAD_PEDIDA,@CANTIDAD_A_FACTURA,@CANTIDAD_FACTURADA,@CANTIDAD_RESERVADA,@CANTIDAD_BONIFICAD,@CANTIDAD_CANCELADA,		
						@TIPO_DESCUENTO,@MONTO_DESCUENTO,@PORC_DESCUENTO,@FECHA_PROMETIDA,@NoteExistsFlag,@RecordDate,@RowPointer,@CreatedBy,				
						@UpdatedBy,@CreateDate,@PROYECTO,@FASE,@CENTRO_COSTO,@CUENTA_CONTABLE)



					SET @E = @E + 1		
					
				END
		
		
		-------------------------------------------------------------------------------------------------------------------
						SELECT @CANTIDAD_PEDIDA=SUM(CANTIDAD),@PRECIO_F=SUM(CANTIDAD*PrecioUnitario)
						FROM H1_AHPF_HN.dbo.FCDT WHERE ID_FC=@Id_FC AND UDF_Factura=1


						--ACTUALIZAR MONTOS
						EXEC  AHPF_HN.ASHPF.sPSOHTotalDue_Update @PEDIDO
						
						UPDATE AHPF_HN.ASHPF.PEDIDO SET PORC_DESCUENTO1	=0		WHERE PEDIDO=@PEDIDO
						UPDATE AHPF_HN.ASHPF.PEDIDO SET MONTO_DESCUENTO1=0		WHERE PEDIDO=@PEDIDO
						UPDATE AHPF_HN.ASHPF.PEDIDO SET TOTAL_IMPUESTO1	=0		WHERE PEDIDO=@PEDIDO
						UPDATE AHPF_HN.ASHPF.PEDIDO SET TOTAL_IMPUESTO2	=0		WHERE PEDIDO=@PEDIDO
			
						EXEC erpadmin.LeerUsuarioActual  @USUARIO
					
						UPDATE AHPF_HN.ASHPF.PEDIDO			SET UpdatedBy		=	@USUARIO		WHERE PEDIDO=@PEDIDO
						UPDATE AHPF_HN.ASHPF.PEDIDO_LINEA	SET UpdatedBy		=	@USUARIO		WHERE PEDIDO=@PEDIDO
						UPDATE AHPF_HN.ASHPF.PEDIDO			SET COBRADOR		=	@COBRADOR		WHERE PEDIDO=@PEDIDO
						UPDATE AHPF_HN.ASHPF.PEDIDO			SET CONDICION_PAGO	=	@CONDICION_PAGO	WHERE PEDIDO=@PEDIDO
						UPDATE AHPF_HN.ASHPF.PEDIDO			
						SET CLIENTE=@CLIENTE,
						CLIENTE_DIRECCION=@CLIENTE,
						CLIENTE_CORPORAC=@CLIENTE,
						CLIENTE_ORIGEN=@CLIENTE		

						WHERE PEDIDO=@PEDIDO

						UPDATE AHPF_HN.ASHPF.PEDIDO			SET NOMBRE_CLIENTE	=	@NOMBRE_CLIENTE	WHERE PEDIDO=@PEDIDO



		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
		PRINT XACT_STATE();
		ROLLBACK TRANSACTION
	END
		PRINT ERROR_MESSAGE();
		THROW 50001, 'Ha ocurrido un error, la transacción ha sido cancelada.',0;
		EXECUTE AHPF_HN.ASHPF.Sp_LogError;		
	END CATCH
	
END

