USE [AHPF_HN]
GO
/****** Object:  StoredProcedure [ASHPF].[sPGetSerieOVERP]    Script Date: 11/9/2022 3:48:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE  [ASHPF].[sPGetSerieOVERP]
	@SerieOV	AS INT,
	@SerieOUT	AS NVARCHAR(10)	OUTPUT
AS
BEGIN


	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION;
		
					DECLARE @GetSerieOV AS VARCHAR(20)
					DECLARE @ConvertSerieOV AS NVARCHAR(10)
					DECLARE @NewSerieOV AS NVARCHAR(20)

					IF EXISTS(SELECT * FROM AHPF_HN.ASHPF.CONSECUTIVO_FA WITH (UPDLOCK)WHERE Id_CONSECUTIVO = @SerieOV )
						BEGIN
							SELECT @GetSerieOV = VALOR_CONSECUTIVO FROM AHPF_HN.ASHPF.CONSECUTIVO_FA WITH (UPDLOCK) WHERE Id_CONSECUTIVO = @SerieOV	
						END
					ELSE
						BEGIN
							SELECT @GetSerieOV = VALOR_CONSECUTIVO FROM AHPF_HN.ASHPF.CONSECUTIVO_FA WITH (UPDLOCK) WHERE Id_CONSECUTIVO = @SerieOV
						END

					SET @ConvertSerieOV =  RIGHT(@GetSerieOV,7) + 1
					SET @NewSerieOV = REPLICATE('0',7-LEN(@ConvertSerieOV))+RTRIM(CONVERT(char(9),@ConvertSerieOV))
							
		
					IF EXISTS(SELECT * FROM AHPF_HN.ASHPF.CONSECUTIVO_FA WITH(NOLOCK) WHERE Id_CONSECUTIVO =@SerieOV )
					BEGIN
							UPDATE  AHPF_HN.ASHPF.CONSECUTIVO_FA SET VALOR_CONSECUTIVO=LEFT(@GetSerieOV,3) + @NewSerieOV WHERE Id_CONSECUTIVO = @SerieOV
							SET @SerieOUT = LEFT(@GetSerieOV,3) + @NewSerieOV
	
						END
		COMMIT TRANSACTION
	END TRY
		BEGIN CATCH

			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
			END
				EXECUTE ASHPF.Sp_LogError;
		END CATCH;
END




